[2022-03-29 22:59] benatkin opened #435 "incorrect verbiage in website FAQ"
In the FAQ:

It should say:

[2022-03-30 06:17] coolaj86 commented on #435
Indeed! I actually noticed that the other night. Thanks for the reminder!

...

Fixed!

[2022-03-30 06:17] #435 closed

[2022-03-30 21:45] cvoges12 commented on #259
That's interesting because I don't recall any systems that even have a `~/.config/envman/`, and I've used many systems from BSDs to Linux to even macOS. But typically, no extra or special configuration is necessary when shell as a dependency. I don't think I can recall a single time software has asked me to append a line to the shell profile or rc files.

Also, I'm not sure why any special PATH is

[2022-03-30 21:59] coolaj86 commented on #259
`~/.config/envman/PATH.env` is what `pathman` creates and updates - so that there's a machine-readable configuration in a single place, rather than many different bespoke edits to RC files - the idea being the RC files are for users to configure, and not for machines to mess up, and likewise that machines should have a place to update PATH without coming into conflict with a user's custom modifica

[2022-03-31 07:43] vmiheer opened #436 "Add nushell"
Releases: https://github.com/nushell/nushell/releases

[2022-03-31 22:05] yogit2020 opened #438 "problem with yq installer"
when there is if condition present in yaml. yq can not parse it. Example in below yaml i want to update value for storage from 100M to 1G

yq -i eval '.spec.resources.requests.storage = "1G" ' <file name> Fails .
[code]

[2022-03-31 22:39] candrewlee14 opened #439 "[Bug] Webi fails to install on Windows"
## What were you trying to install (or what else went wrong)?

webi

## What exactly did you do?

I ran `curl.exe -A "MS" https://webinstall.dev/webi | powershell`.

## What went wrong?

I get this error:

[code]

## Which OS did you try on?

- [ ] Mac
- [x] Windows
- [ ] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry

[2022-04-10 22:06] candrewlee14 commented on #439
I've tried it again, and it looks like it's working. It probably was a temporary issue with Window's curl like you said. Thanks!

[2022-04-10 22:06] #439 closed

[2022-04-14 18:16] coolaj86 opened #441 "[Bug] vim-go: Go 1.18 drops support for `go get` (replaced by `go install`?)"
Originally we used `go get` because `go install` wouldn't work with go modules.

Now `go get` won't work _with_ go modules and `go install` does.

I think the solution is to replace `go get` with `go install` in https://github.com/webinstall/webi-installers/blob/main/vim-go/install.sh

# Workaround

[code]

[code]

[2022-04-15 15:08] saikmusunuri commented on #441
Hey @coolaj86, can you please assign it to me. I would like to contribute to this. Thanks!

[2022-04-17 21:23] saikmusunuri commented on #441
Hey @coolaj86, any update on this?

[2022-04-20 17:07] coolaj86 commented on #441
@saikmusunuri Please do.

[2022-04-21 04:19] saikmusunuri commented on #441
Thanks! I will start working on it very soon.

[2022-04-25 01:52] saikmusunuri commented on #441
Hey @coolaj86, please review the PR.  Thanks!

[2022-04-27 11:46] saikmusunuri commented on #441
Hey @coolaj86, I once again request you to review the PR. Thanks!

[2022-05-02 05:31] candrewlee14 commented on #441
Due to both inactivity & pain points when implementing my nvim package #437, I decided to write my own cross-platform package manager called [webman](https://github.com/candrewlee14/webman), inspired by webi. It handles package installation, removal, and switching all with a single yaml file per package.

[2022-05-14 08:43] Akashutreja commented on #411
Hey @coolaj86,
I am a beginner in the open-source space and would love to contribute to getting a head start. please confirm if I can start.
Thanks

[2022-05-15 15:46] ryanburnette opened #444 "please add create hstore to postgres cheat sheet"

[2022-05-17 16:45] coolaj86 opened #445 "[Installer] Add fnm"
# Add fnm

We want to add `fnm` because it's a faster, cross-platform npm

<https://github.com/Schniz/fnm>

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](https://user-images.githubusercontent.com/122831/91064908-17f2

[2022-05-17 16:56] Simba-97 commented on #445
I would like to work on this. Could you assign me a part? @coolaj86

[2022-05-21 20:03] Simba-97 commented on #445
Hey @coolaj86 could you help me out regarding the tests that I need to run to make sure that the builder has all the necessary details. Here's the change that I made -> https://github.com/webinstall/webi-installers/commit/791ba143f4a20079d4f80372faf4285f43618d67
But when I run `node _webi/test.js fnm/`, it gives me this error
![Screenshot_20220522_012745](https://user-images.githubusercontent.com/

[2022-05-25 00:17] bdmorin opened #446 "i made a "webi search" for fish"
Just discovered your project, and wanted a way to search installers, so I made one in fish shell.

[code]

This is how I use it
[code]

it's ugly, and I might make a real fish plugin out of it. Just wanted to share.

[2022-05-25 14:36] bdmorin commented on #446
I realize now I should've put this in discussions

[2022-05-25 14:36] #446 closed

[2022-05-26 12:57] DBBrowne opened #447 "Hugo install failed on Linux / Github Actions"
## What were you trying to install (or what else went wrong)?

Hugo

I haven't tested this beyond re-running the task on GH-Actions:

Script:
https://github.com/DBBrowne/blog/blob/main/scripts/install-deps.sh

Failure:
https://github.com/DBBrowne/blog/runs/6609639460?check_suite_focus=true

## What exactly did you do?

Running install-deps.sh on Github Actions from the BeyondCode Bliss template.

[2022-05-26 20:04] muditjuneja commented on #410
I can try and do this. Can I pick?

[2022-05-30 14:44] StewartThomson opened #448 "[Bug] k9s installer request hanging"
## What were you trying to install (or what else went wrong)?

k9s

## What exactly did you do?

I ran `curl https://webinstall.dev/k9s | bash` to install k9s

## What went wrong?

Request to https://webinstall.dev/api/installers/k9s.sh?formats=tar,exe,zip,xz,git,dmg hangs indefinitely

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop

[2022-05-31 08:05] 74Rog commented on #448
I've been having exactly the same issue since yesterday.

[2022-06-01 05:02] tinhbuon1102 opened #449 "Request for k9s"
Hi today i try to install k9s via webi but not success. Seem you guy removed it ?

access : https://webinstall.dev/api/installers/k9s@stable.sh?formats=tar,exe,xz,git,dmg loading forever.

Pls add it to. Thank you

[2022-06-01 05:03] tinhbuon1102 commented on #448
Same here

[2022-06-01 12:15] tereska commented on #448
same here

[2022-06-01 16:33] coolaj86 commented on #448
Looking into it...

[2022-06-01 16:38] coolaj86 commented on #449
Good news: A restart fixed it.

Bad news: A restart fixed it.

There's no special behavior for k9s as opposed to most of the other installers - which were still working - and I don't see anything immediately relevant in the error logs.

My best guess: unhandled network error resulted in async limbo.

I'll keep an eye out.

[2022-06-01 16:38] #449 closed

[2022-06-01 16:39] coolaj86 commented on #448
Good news: A restart fixed it.

Bad news: A restart fixed it.

There's no special behavior for k9s as opposed to most of the other installers - which were still working - and I don't see anything immediately relevant in the error logs.

My best guess: unhandled network error resulted in async limbo.

I'll keep an eye out.

[2022-06-01 16:39] #448 closed

[2022-06-01 16:42] dcrystalj commented on #448
I can confirm it started to work for me 🙄
Bad news is that this might happen again without any particular useful message :(

[2022-06-01 16:46] coolaj86 commented on #447
The error message _is_ wrong. There have been so many releases since Hugo v0.86 that it no longer shows up in the 1st page of paged output from GitHub Releases.

[2022-06-01 16:48] coolaj86 commented on #447
Semi-fixed via https://github.com/BeyondCodeBootcamp/bliss-template/commit/78f716c0ab0d4202eb89f615ecdd8846b281cf6a

Need to fix the error message to show the version rather than `''`.

[2022-06-21 20:02] andrewmjordan opened #454 "Request for Docker Engine/Docker Compose"
Apologies if I'm not the first to request this.

[2022-07-26 22:04] zomars opened #455 "Request for snaplet"
It would be awesome being able to temporarily install snaplet using webi as it can provide for temporal database to test on CI environments

[2022-08-08 11:48] coolaj86 commented on #447
I'm not sure which commit it landed in, but the error message was updated and now shows the correct tag:

[code]

[2022-08-08 11:48] #447 closed

[2022-08-08 11:49] coolaj86 commented on #438
Webi is just for installing `yq`. You'll need to check https://github.com/mikefarah/yq for any bugs with the program itself.

[2022-08-08 11:49] #438 closed

[2022-08-08 11:50] coolaj86 commented on #423
This was fixed with #425. Just forgot to close the issue.

[2022-08-08 11:50] #423 closed

[2022-08-08 12:30] coolaj86 commented on #441
Closing because this was fixed and merged.

[2022-08-08 12:30] #441 closed

[2022-08-08 21:31] y0rune commented on #395
TODO:
- [x] removing all of the `echo`s is one commit - https://github.com/webinstall/webi-installers/pull/460
- [ ] We don't need exports, and we don't want bash-isms
- [ ] Eliminate shellcheck errors.
- [ ] Change `/bin/bash` to `/bin/sh` and remove `function` as its own commit

[2022-08-13 03:51] #388 closed

[2022-08-13 03:55] coolaj86 commented on #396
@vxhl Sorry I wasn't able to provide guidance on this at the time.

Here's the solution I went with:

- `pkg` should always be set
- if `ver` is set, add the `@`

https://github.com/webinstall/webi-installers/pull/458/files

[2022-08-13 03:55] #396 closed

[2022-08-13 04:50] coolaj86 opened #462 "Remove Bash-isms in favor of POSIX Shell"
This should be able to run on alpine in Docker and on all BSDs without issue.

All Bash-isms should be replaced with their POSIX Shell equivalents, including:

- [x] #463
- [x] #464
- [x] #465
- [x] #478
- [x] #479
- [x] #480
- [x] #481
- [x] #482
- [x] #494
- [x] #496
   - update sub scripts and docs to use `sh`

[code]

# Posix Resources

Posix Standard:
- Online: https://pubs.opengroup.org/onli

[2022-08-13 04:51] coolaj86 opened #463 "[Doc] Change all code blocks from `bash` to `sh`"
# What?

Changing all of the READMEs and other `.md` (CommonMark / Markdown) files throughout the repo to use `` ```sh `` for shell code blocks:

[code]

# How?

This could be done **by hand** or **by script**, and is probably as simple as installing [sd](https://webinstall.dev/sd) and committing the result of:

[code]

Some manual checks should be done as well - for which [rg](https://webinstall.

[2022-08-13 04:51] coolaj86 opened #464 "[Easy Refactor] Remove `function` prefix from all shell files (shellcheck SC2112)"
# What?

The `function` prefix is optional for Bash functions, and should _not_ be used for Posix Shell functions. So we're making this change across the codebase:

[code]

# How?

This could be done **by hand**, or it could be done **by automation**, probably as simple as installing [sd](https://webinstall.dev/sd) and [fd](https://webinstall.dev/fd)  and committing the result of:

[code]

Some ma

[2022-08-13 05:29] coolaj86 opened #465 "Replace all `[[ ... ]]` conditions with `[ ... ]` conditions (`shellcheck` SC3010)"
# What?

We need to switch out the bash-only `[[` in favor of `[` for compatibility with Alpine Docker and such. Basically something like this:

[code]

It should be that only these files need updates:

[code]

# How

This should probably be done by hand by checking each occurrence of the given warnings with [shellcheck](https://webinstall.dev/shellcheck):

[code]

[code]

Each replacement should

[2022-08-13 06:02] coolaj86 opened #466 "[Easy Refactor] Remove useless `echo`s from all scripts"
# What?

There are a bunch of no-op `echo`s across the scripts, which we want to remove, like this:

[code]

# How

This could be done **by hand** or **by script**, and is probably as simple as installing [sd](https://webinstall.dev/sd) and committing the result of:

[code]

Reset any `typechange`-only file changes:

[code]

Some manual checks should be done as well, for which [shellcheck](https:/

[2022-08-14 16:40] coolaj86 opened #470 "Chore: Fix shellcheck SC2086 "Double quote to prevent globbing""
# What?

There are a bunch of places where double quotes have accidentally been omitted. We need to fix all of those places.

Luckily, [`shellcheck`](https://webinstall.dev/shellcheck) identifies most, if not all, of them:

[code]

# How

This can probably be **completely automated** using `shellcheck` and `git apply` (and then a careful eye just to double check that everything went well).

[code]

[2022-08-14 17:02] brij-desaii commented on #464
Working on it

[2022-08-15 03:24] MoNakouzi commented on #463
@coolaj86 I can work on this, please assign this to me.

[2022-08-15 03:43] coolaj86 commented on #463
@MoNakouzi Do it!

[2022-08-15 05:25] MoNakouzi commented on #463
Completed and PR sent!

[2022-08-15 08:49] y0rune commented on #462
Hello!
When I tried install the `webi` using a `curl https://webinstall.dev/webi | bash`. The system does not find a `bash` so I tried with `sh`.  The `webi` does not work. So I checked the shebangs and I found:
[code]

So the questions:
- Do I have to install `bash` in the `Alpine` ?
- Do we have to change in the `webi` a shebangs from `/bin/bash` to `/bin/sh` ?

Thank you!

[2022-08-15 19:43] coolaj86 opened #473 "Chore: Add pre-commit hook with linting"
We want to make it easier to ensure that new PRs pass all the quality standards.

- [x] #474
- [x] #475
- [ ] ~~AJ: Add blog post to document the full process~~ It's in Bliss, but this is out-of-band

[2022-08-15 19:49] coolaj86 commented on #473
[code]

Add to `package.json.scripts`:

[code]

https://github.com/koalaman/shellcheck/issues/1220#issuecomment-1215641681

[code]

[2022-08-15 19:51] coolaj86 commented on #473
[code]

Add to `package.json.scripts`:

[code]

https://github.com/koalaman/shellcheck/issues/1220#issuecomment-1215641681

[code]

[2022-08-15 19:53] coolaj86 opened #474 "Chore: Add `husky` to the repo"
As per <https://github.com/typicode/husky#install>:

1. Add `husky` (no transitive dependencies):
[code]
2. Add a new `prepare` to `package.json.scripts`:
[code]
3. Create the new `pre-commit` script
[code]

[2022-08-15 19:54] coolaj86 opened #475 "Chore: Add `pre-commit` hook to handle JavaScript and Posix Shell"

[2022-08-15 20:38] #466 closed

[2022-08-15 20:56] coolaj86 commented on #470
[code]

[2022-08-15 21:04] coolaj86 commented on #395
Bash-isms that need to be addressed:

SC2112,SC3010,SC3044

[code]

[2022-08-15 21:39] coolaj86 opened #478 "refactor(posix): replace `==` bashism with posix `=` (`shellcheck` SC3014)"
## Skills required

- command line
- shell scripting (i.e. bash, posix)
- git (obviously)

## What to do

1. Clone and enter the repo
[code]
2. Install [`fd`](https://webinstall.dev/fd) and [`shellcheck`](https://webinstall.dev/shellcheck):
[code]
3. Follow the on-screen instructions (or close and re-open the terminal)
[code]
4. Find and fix the offending uses of `==`. \
    (you may find [`sd`](h

[2022-08-15 21:39] coolaj86 opened #479 "refactor(posix): replace `echo -n`, etc with `printf` (`shellcheck` SC3037)"
## Skills required

- command line
- shell scripting (i.e. bash, posix)
- git (obviously)

## What to do

1. Clone and enter the repo
[code]
2. Install [`fd`](https://webinstall.dev/fd) and [`shellcheck`](https://webinstall.dev/shellcheck):
[code]
3. Follow the on-screen instructions (or close and re-open the terminal)
[code]
4. Find and fix the offending uses of `echo -n` (or echo with other flag

[2022-08-15 21:39] coolaj86 opened #480 "refactor(posix): replace `pushd` and `popd` with `cd` and subshell (`shellcheck` SC3044)"
## Skills required

- command line
- shell scripting (i.e. bash, posix)
- git (obviously)

## What to do

1. Clone and enter the repo
[code]
2. Install [`fd`](https://webinstall.dev/fd) and [`shellcheck`](https://webinstall.dev/shellcheck):
[code]
3. Follow the on-screen instructions (or close and re-open the terminal)
[code]
4. Find and fix the offending uses of `pushd` and `popd` (with `cd` and

[2022-08-15 21:39] coolaj86 opened #481 "refactor(posix): replace `read -s` with `stty -echo` (`shellcheck` SC3045)"
See <https://stackoverflow.com/a/38557313/151312>.

## Skills required

- command line
- linux VMs
- shell scripting (i.e. bash, posix)
- git (obviously)

## What to do

1. Clone and enter the repo
[code]
2. Install [`fd`](https://webinstall.dev/fd) and [`shellcheck`](https://webinstall.dev/shellcheck):
[code]
3. Follow the on-screen instructions (or close and re-open the terminal)
[code]
4. Find

[2022-08-15 21:39] coolaj86 opened #482 "refactor(posix): replace use of `EUID`, etc with bash subshell (`shellcheck SC3028`)"
## Skills required

- command line
- linux VMs
- shell scripting (i.e. bash, posix)
- git (obviously)

## What to do

1. Clone and enter the repo
[code]
2. Install [`fd`](https://webinstall.dev/fd) and [`shellcheck`](https://webinstall.dev/shellcheck):
[code]
3. Follow the on-screen instructions (or close and re-open the terminal)
[code]
4. Find and fix the offending uses of `EUID`, `UID`, etc.
[c

[2022-08-15 22:21] #463 closed

[2022-08-16 00:55] MoNakouzi commented on #464
@coolaj86 Is this issue still unassigned? If so, please assign it to me

[2022-08-16 00:59] coolaj86 commented on #462
@y0rune In order to test properly the `#!/bin/bash` has to be changed to `#!/bin/sh` or `#!/usr/bin/env sh` in all of the files - but that can't be done until _all_ of the bashisms are removed.

[2022-08-16 00:59] coolaj86 commented on #464
@MoNakouzi If you like you could fix https://github.com/webinstall/webi-installers/pulls.

I also added a bunch of others today:
https://github.com/webinstall/webi-installers/issues/462

[2022-08-16 01:06] MoNakouzi commented on #478
@coolaj86 please assign this to me!

[2022-08-16 01:22] coolaj86 commented on #478
@MoNakouzi It's yours!

[2022-08-16 02:26] MoNakouzi commented on #478
@coolaj86 If I have a question about the task, should I post it here?

[2022-08-16 03:39] coolaj86 commented on #478
Yep.

[2022-08-16 03:48] MoNakouzi commented on #478
Sounds good. So far, fd has been creating a binary file that is not executable (Exec format error) whenever I attempt to use it (including just 'fd'). I can't seem to figure out why this keeps happening. Do you have any ideas?

[2022-08-16 05:13] coolaj86 commented on #478
@MoNakouzi What environment are you on? Is there a download for it in <https://webinstall.dev/api/releases/fd.tab?pretty=true>?

You could use old-school `find`, you'd just need to lookup the equivalent options - I think it's `-type f -name='*.sh'`.

[2022-08-16 10:17] MoNakouzi commented on #478
@coolaj86 Thank you, checking that the installation matches the OS made it work.

[2022-08-16 10:34] MoNakouzi commented on #478
Completed and PR sent!

[2022-08-17 10:27] TarekArar99 commented on #474
Hi @coolaj86 , I'm trying to raise a PR, but when I try to commit my code it says fmt script is missing in package.json, could I get help on that ?

[2022-08-17 15:57] MoNakouzi commented on #465
@coolaj86 If this is available, can I work on it?

[2022-08-17 16:01] coolaj86 commented on #474
Those commands need to be set / updated.

[code]

[2022-08-17 21:21] y0rune commented on #465
@MoNakouzi I am working on it here:https://github.com/webinstall/webi-installers/pull/468. The current status of it is blocked due to other issues. More info in the PR.

[2022-08-18 05:53] coolaj86 opened #487 "[Doc] Simplify Caddyfile example"
Now that I better understand `handle`, `handle_path`, and `try_files`, we can shorten the example a little bit.

Also, we should show https on localhost.

Something closer to this:

[code]

- No `@noApi`
- No `try_files {path} {path}/ {path}/index.html`
- No `route`

caddy caddyfile config

[2022-08-18 15:20] coolaj86 commented on #464
@brij-desaii Thanks!

Drop your Đash Wallet address here (or DM me) and I'll send a tip / buy you lunch.

:)

[2022-08-18 15:20] #464 closed

[2022-08-18 15:46] coolaj86 commented on #478
@MoNakouzi There seem to be two more instances:

[code]

[code]

As a follow-up those will need to be replaced with a `[` test, but I don't know how to do Posix substring matches and that can be saved for later.

[2022-08-18 16:09] MoNakouzi commented on #478
@coolaj86 I'll fix those asap, thanks.

[2022-08-18 16:31] brij-desaii commented on #464
@coolaj86 Thanks for the offer but really I'm just happy to contribute :) This my first time contributing in the world of opensource and I learnt a lot!

[2022-08-18 17:51] MoNakouzi commented on #478
I added the correction to #488.

[2022-08-21 02:35] #482 closed

[2022-08-21 03:57] #470 closed

[2022-08-21 06:01] coolaj86 commented on #480
Just to show the behavior of a subshell:

[code]

[2022-08-21 07:02] coolaj86 opened #494 "refactor!(posix): use posix shebang #!/bin/sh"
# What?

According to shellcheck, we're ready to switch to `#!/bin/sh`

[code]

# How

This could be done **by hand** or **by script**, and is probably as simple as installing [sd](https://webinstall.dev/sd) and committing the result of:

[code]

Some manual checks should be done as well - for which [rg](https://webinstall.dev/rg) can help.

[code]

# Why?

This is the last step (aside from docume

[2022-08-21 07:52] #479 closed

[2022-08-21 07:52] #494 closed

[2022-08-21 08:06] #481 closed

[2022-08-21 08:06] #478 closed

[2022-08-21 08:06] #480 closed

[2022-08-21 08:07] coolaj86 commented on #465
Finalized with #490 and #485.

[2022-08-21 08:07] #465 closed

[2022-08-21 08:07] #462 closed

[2022-08-21 08:13] coolaj86 opened #498 "doc: gpg-pubkey needs better error when piped to sh"
This condition should be detected and print a better error message

[code]

[code]

[2022-08-21 08:19] coolaj86 commented on #395
I'm going to close this out for now and open a new issue for the remaining warnings and style fixes.

[2022-08-21 08:19] #395 closed

[2022-08-21 08:26] coolaj86 opened #499 "Fix all shellcheck warnings and style updates"
- [x] #500
- [x] #502
- [x] #503
- [x] Fix: SC2129 Consider using { cmd1; cmd2; } >> file instead of individual redirects.

The above list was generated by this command:

[code]

[2022-08-21 08:28] coolaj86 opened #500 "Style(sh): (easy) Remove wrapping around `if` blocks (shellcheck SC2143)"
Re: #499

1. Clone and enter the repo:
[code]
2. Install [`shellcheck`](https://webinstall.dev/shellcheck) and [`shfmt`](https://webinstall.dev/shfmt):
[code]
3. FOLLOW THE ON-SCREEN INSTRUCTIONS (from the installs)
4. Check all shell files for for redundant output checks
[code]
5. Update the `if` blocks according to the `schellcheck` suggestions. The necessary changes will be like this:
[code]

[2022-08-22 10:33] rishavnandi commented on #500
Hi, I want to pick this issue up..

[2022-08-22 10:40] rishavnandi commented on #500
Hi, I want to take this issue up..
So as far as I understand I need to update the if blocks inside the shell files that are shown by the shellcheck command, right?

[2022-08-22 15:20] coolaj86 opened #502 "lint(sh): (easy) Quote variables to prevent word splitting (Shellcheck SC2046)"
Re: #499

1. Clone and enter the repo:
[code]
2. Install [`shellcheck`](https://webinstall.dev/shellcheck) and [`shfmt`](https://webinstall.dev/shfmt):
[code]
3. FOLLOW THE ON-SCREEN INSTRUCTIONS (from the installs)
4. Check all shell files for for redundant output checks
[code]
5. Update variables (`${foo}`, `$foo`) and subshells `$(foo -x)` to be surrounded in quotes, according to the `schellche

[2022-08-22 15:24] coolaj86 opened #503 "lint(sh) (easy): Don't use variables in printf format strings (shellcheck SC2059)"
Re: #499

1. Clone and enter the repo:
[code]
2. Install [`shellcheck`](https://webinstall.dev/shellcheck) and [`shfmt`](https://webinstall.dev/shfmt):
[code]
3. FOLLOW THE ON-SCREEN INSTRUCTIONS (from the installs)
4. Check all shell files for for redundant output checks
[code]
5. Update printf strings from variable interpolation to variables substitution, according to the `schellcheck` suggestio

[2022-08-22 15:28] coolaj86 commented on #500
@rishavnandi This is being worked on in #501. You could collaborate on that, or you could do a similarly easy issue, like this one: https://github.com/webinstall/webi-installers/issues/503

[2022-08-22 15:30] rishavnandi commented on #500
Thanks for the feedback I'll check it out!

[2022-08-23 05:02] rishavnandi commented on #503
Hi, I have sent a PR kindly review it and lemme know if anything needs to be changed.

[2022-08-24 03:55] coolaj86 commented on #357
@kaihendry You can only `export` a variable down to a child process. You can't `export` it up to a parent.

So we need a way to handle the path of webi whether or not its yet in the the global `PATH`.

[2022-08-24 03:55] coolaj86 commented on #357
I believe this was fixed a while back.

[2022-08-24 03:55] #357 closed

[2022-08-24 04:03] coolaj86 opened #505 "remove `pathman` in favor of posix & powershell functions"
# History & Rationale

Originally we created `pathman` as a way to _manage_ the `PATH` on Mac, Linux, and Windows.

It was particularly necessary because we had no way to reliably update the Path on Windows, and there were tricky bits to shell detection between sh, bash, zsh, and fish on Linux.

However, now:
- we only need to _add_ to the `PATH` (not remove or update)
- we _do_ have a way to reli

[2022-08-24 04:04] coolaj86 commented on #403
Moving this to `someday` in favor of #505

[2022-08-24 04:04] #403 closed

[2022-08-24 04:10] coolaj86 commented on #259
@cvoges12 @elasticdotventures All Webi scripts are now POSIX compliant.

I've opened #505 to pave the path for removing `pathman` in favor of a Posix shell function that only handles the use case of adding something to the `PATH`, and only when strictly needed.

[2022-08-24 04:22] coolaj86 commented on #505
# How to do?

- [ ] Remove all temporary modifications to the live `PATH` env
  - [ ] when absolutely necessary, test `PATH` before modification (and replace old PATH)
  - [ ] `WEBI_BIN_PATH` for testing `~/.local/bin/{whatever}`
  - [ ] `WEBI_OPT_PATH` for testing `~/.local/opt/{whatever}/bin/{whatever}`

[code]

[code]

Thoughts:
- could we typically auto-generate WEBI_BIN_PATH and place it in t

[2022-08-24 04:34] coolaj86 commented on #428
Closed because this is rolled up into ^^ that issue.

[2022-08-24 04:34] #428 closed

[2022-08-24 04:51] #500 closed

[2022-08-24 05:21] #499 closed

[2022-08-24 05:39] coolaj86 opened #506 "lint(sh): add comments to to make shellcheck ignore doc strings (SC2016)"
1. Clone and enter this repo:
[code]
2. Install [`shellcheck`](https://webinstall.dev/shellcheck) and [`shfmt`](https://webinstall.dev/shfmt):
[code]
3. FOLLOW THE ON-SCREEN INSTRUCTIONS (from the installs)
4. Check to see which scripts have docs that look like commands
[code]
   Example:
[code]
5. Add `# shellcheck disable=2016` above any `echo` that's being used to output docs or literal command

[2022-08-24 05:56] coolaj86 opened #511 "lint(sh): (easy) use output blocks for multi-command output redirect (SC2129)"
1. Clone and enter this repo:
[code]
2. Install [`shellcheck`](https://webinstall.dev/shellcheck) and [`shfmt`](https://webinstall.dev/shfmt):
[code]
3. FOLLOW THE ON-SCREEN INSTRUCTIONS (from the installs)
4. Check to see which scripts have docs that look like commands
[code]
   Example:
[code]
5. Update the groups of output to have a output-to-file redirect. For example:
[code]
   or
[code]
   -

[2022-08-24 06:30] #503 closed

[2022-08-24 06:30] #502 closed

[2022-08-24 06:52] rishavnandi commented on #506
Hi, I will be taking this one up, giving this issue a shot. 👍🏻

[2022-08-24 08:40] y0rune commented on #506
Hello!
As far I remember correctly you can add the string `# shellcheck disable=2016` at the beginning lines of the script or we would like only disable the specific lines @coolaj86?

[2022-08-24 21:22] coolaj86 commented on #506
@y0rune We only want to ignore the specified lines (there's not that many of them).

If we ignored the whole file then a future edit could allow an error without warning.

[2022-08-25 06:40] y0rune commented on #506
All right good point @coolaj86 ;)

[2022-08-29 03:28] #506 closed

[2022-08-29 05:28] coolaj86 commented on #221
Closed by https://github.com/webinstall/webi-installers/pull/359 last year.

[2022-08-29 05:28] #221 closed

[2022-08-29 18:25] y0rune opened #513 "Why is webi.sh not redirect to information page about the package?"
## What exactly did you do?
In the browser I wrote the new page https://webi.sh/rg and it does not redirect into a information page as should like https://webinstall.dev/rg/

## What went wrong?
The page should look like:
![image](https://user-images.githubusercontent.com/10187235/187271564-fd2b9ad6-ce10-4a2d-9baa-66b2fd5200df.png)

But looked:
![image](https://user-images.githubusercontent.com/10

[2022-08-29 21:03] coolaj86 commented on #513
This is the correct behavior for `https://webi.sh/<pkg>` and `https://webi.ms/<pkg>`.

`https://webinstall.dev/<pkg>` will continue to show all three forms (html, sh, ps1). It is generally considered a bad practice to do that sort of user-agent switching, but at the time it was cute, we had 3 different formats, and I didn't want to make the url longer by adding query params or paths.

Now you can

[2022-08-29 21:57] y0rune commented on #513
Thank you for answer 👍

[2022-08-30 02:03] NoahELE opened #514 "`fzf` is not the latest version because the release URL has changed"
## What were you trying to install (or what else went wrong)?

`fzf`

## What exactly did you do?

[code]

## What went wrong?

The latest version on github is now `0.33.0`, and webi only installs `0.23.1`.

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (A

[2022-08-30 18:01] coolaj86 commented on #513
I think we could serve the scripts with `Content-Type: text/html` \
and have `# <meta http-equiv="refresh" content="0; URL='https://webinstall.dev/node/'" />`.

Thoughts?

cc/ @y0rune @ryanburnette

[2022-08-30 21:00] #511 closed

[2022-08-31 04:12] coolaj86 commented on #514
The author changed the releases URL. \
(See https://github.com/junegunn/fzf/issues/2173 and https://github.com/junegunn/fzf-bin)

@NoahELE This is a **super** easy fix. Would you care to PR?

`./fzf/releases.js`:

[code]

[2022-08-31 06:49] NoahELE commented on #514
@coolaj86 I've created a PR.

[2022-08-31 21:49] y0rune commented on #513
Nice!
I think it is working as should ;)
Good job @coolaj86!

[2022-09-03 06:31] ShyamMahajan commented on #474
@coolaj86 I have raised a PR for this one. please check

[2022-09-15 22:55] avila-m-6 opened #517 "[Bug] carriage return error on python install on WSL"
## What were you trying to install (or what else went wrong)?

python

## What exactly did you do?

I ran `curl -sS https://webi.sh/python | sh` as stated in [https://webinstall.dev/python/]()

I then removed it and tried to install it again on a different terminal and got the same behavior. First tried within [MobaXTerm](https://mobaxterm.mobatek.net/) and then Ubuntu on Windows, standard termina

[2022-09-16 09:29] y0rune commented on #517
Hello!
@avila-m-6 can you provide a wsl version and which distro are you using?

Thank you!

[2022-09-16 14:23] avila-m-6 commented on #517
Hi!

I failed to mark Ubuntu 18.04 up there. It's edited now. However, related to WSL, I have an odd behavior, not related to webi.

Sharing to show why I cannot provide wsl version. I am running WSL, because Ubuntu is enabled but I cannot check my wsl version.

![image](https://user-images.githubusercontent.com/75078878/190661059-792e16be-4bcf-42fe-9d3e-9e18ef86fa0a.png)

[2022-09-16 19:31] y0rune commented on #517
I would like to test it but when I downloaded the Ubuntu Distro into a wsl. The current version is 22.04.1.
<img width="929" alt="image" src="https://user-images.githubusercontent.com/10187235/190714671-5077dc1c-
ec1a-431a-8bd1-6bc16a2a9a34.png">

So I can not reproduce that error.

As far I see on the store website:
[code]

So I think it is a good opportunity to upgrade the Ubuntu.

[2022-09-17 01:25] avila-m-6 commented on #517
I'll provide an update next week. Interesting this issue could be related to ubuntu version. Thanks for prompt reply

[2022-09-24 15:06] yuumimi opened #518 "[Installer] Add sing-box"
https://github.com/SagerNet/sing-box

[2022-09-28 07:21] coolaj86 commented on #517
## Python Installer

I was not able to reproduce your issue with the python installer on Ubuntu on Digital Ocean.

I've never heard of MobaXterm and if you were trying to run that on Windows with WSL it may be that it comes with a version of `curl` that swaps out `\n` for `\r\n` to try to make the file "Windows compatible", and the shell you're running (i.e. `zsh`, `bash`, `dash`, or `fish`) may n

[2022-09-28 07:21] #517 closed

[2022-09-28 08:22] y0rune commented on #517
Today, I installed the WSL on my windows machine with Ubuntu and that package worked fine. ;)

[2022-09-28 16:46] avila-m-6 commented on #517
Thanks for the troubleshooting. I'll check on my curl, I've been having issues with `/r/n` in other unrelated git issues too. Agree to it being specific to my setup. Thanks for the reply, I'll keep it closed.

[2022-09-28 16:47] coolaj86 commented on #514
Deployed.

[2022-09-28 16:47] #514 closed

[2022-10-04 17:44] coolaj86 commented on #487
PR made: https://github.com/webinstall/webi-installers/pull/521

[2022-10-04 17:44] #487 closed

[2022-10-05 05:55] jatinmark commented on #216
I want to work on this issue can you assign it to me .

[2022-10-05 07:19] coolaj86 commented on #216
Are you comfortable creating something that scrapes the SQLite download page? Or finding some other way to get release info?

[2022-10-05 14:13] jojobyte opened #522 "[Bug] Installing `deno` fails on linux"
## What were you trying to install (or what else went wrong)?

deno

## What exactly did you do?

I ran both `webi deno` & `curl -sS https://webi.sh/deno | sh` to try to install deno.

## What went wrong?

I get the following error:

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86

[2022-10-05 15:01] coolaj86 commented on #522
The error message is slightly incorrect due to the order or checking.

Most likely you've got a fresh install and you haven't yet installed `zip`, so you can't unzip, and you haven't installed `xz`, so you can't untar, even though `tar` is installed.

[2022-10-05 15:06] coolaj86 commented on #522
Yep: https://webinstall.dev/api/releases/deno.json?pretty=true

All of the packages are only available as zip, except for the source which is tar - which confuses the heuristics because tar is one of the available options... but actually an option that can be used.

[2022-10-05 15:06] #522 closed

[2022-10-05 16:40] jojobyte commented on #522
Ohhh, hey, look at that. `apt install zip` and it worked great!. I'll either make a PR here or create an issue with deno sometime soon. Thanks for the quick response!

[2022-10-06 17:19] coolaj86 opened #523 "Update installer instructions for new computers"
1. Mac users need to know that they have to run `softwareupdate --install-rosetta` and `xcode-select --install`
2. Linux users need to know to install `zip`
3. Mac and Linux users need the constant reminder of `source ~/.config/envman/PATH.env`

How to make the first time, new computer user experience better without making the existing user experience worse?

Maybe we say that the website _is_ for

[2022-10-07 07:25] y0rune commented on #523
Hello @coolaj86!
I think we can add the checking that specific per-requirements for Mac and Linux. If the pre-reqs are not fulfilled the docs or output can be show.

What do u think @coolaj86 ?

[2022-10-08 05:50] J-Curragh commented on #432
Sounds good, I will begin work on it

[2022-10-12 19:11] manedev79 opened #525 "[Installer] Add kubelogin"
# Add kubelogin

We want to add `kubelogin` because...

- it is required for login into recent AKS cluster versions
- their [setup instructions](https://github.com/Azure/kubelogin#setup) state to _Copy the latest [Releases](https://github.com/Azure/kubelogin/releases) to shell's search path._ which sounds like a perfect fit for webi.

This could be as simple as copying `_example`, updating the git

[2022-10-13 02:35] #513 closed

[2022-10-13 22:22] jojobyte opened #526 "[Bug] Node.js `~/local/opt/node-v{version}/` directory has wrong permissions"
## What were you trying to install (or what else went wrong)?

node

https://user-images.githubusercontent.com/184880/195721733-fe1abd11-8213-4bb7-b1a9-b4c201614a9e.mp4

## What exactly did you do?

Ran `curl -sS https://webi.sh/node | sh` and `webi node@16`

## What went wrong?

`~/local/opt/node-v{version}/` has permissions of user & group `1001:1001`

## Which OS did you try on?

- [ ] Mac
- [

[2022-10-13 22:27] coolaj86 commented on #526
I just tried and I can't reproduce.

[code]

[code]

What type of linux are you using?

[code]

[2022-10-13 22:30] coolaj86 commented on #526
What type of linux are you using?

[code]

What was user id 1001 on your system? Do you perhaps delete a user and add it back with the same name?

Do `/etc/password` or `/etc/group` have any anomolies?

[2022-10-13 22:31] jojobyte commented on #526
`doctl compute d c --image ubuntu-22-04-x64`

[2022-10-13 22:36] coolaj86 commented on #526
With rare, rare exception: **don't use `webi` as `root`!**

Webi is desired to be secure and won't work in insecure environments.

You're getting the wrong UIDs because you're running as root and the root user will copy IDs from an extracted tarball rather than setting it to the current user id.

Create an `app` user and run your applications under that user.

Try this:

[code]

You can use https:

[2022-10-13 22:38] jojobyte commented on #526
This is not just a root user issue, the first place I noticed this was on that new desktop which had a normal user created in the setup process, it had the exact same issue

[2022-10-13 22:39] coolaj86 commented on #526
Reproduce it and _maybe_ I'll believe it.

Standard users don't have permission to create files belonging to another user.

[2022-10-13 22:50] coolaj86 commented on #526
See <https://youtu.be/4lp-wm5S4Dw> and <https://youtu.be/YH5gOderlMI>.

Closing because the error was definitely the use of `sudo` or `root`.

[2022-10-13 22:50] #526 closed

[2022-10-13 23:08] jojobyte commented on #526
If I get to the point where I decide to re-install the os on that computer again I'll try to record the setup, right now it won't reproduce, but I've looked at the `.bash_history` and it definately did not use sudo to install `webi` or `webi node`

[code]

[2022-10-15 00:10] MarAvFe commented on #454
I was interested in the same, but I don't think this is achievable because Docker needs sudo privileges, at least in linux.

[Here's a discussion](https://askubuntu.com/a/477554) related to Ubuntu.

It mentions things like:
1. **Add user to `docker` group**: but `docker` group is root equivalent. Which should be done intentionally and using this approach in webi might obscure that step
2. **Create

[2022-10-15 00:11] MarAvFe commented on #454
I also didn't find another issue requesting for docker engine

[2022-10-20 01:42] cekvenich2 opened #528 "question on Caddy installer"
I *LOVE* webi. I'll send a separate email on that.

When Caddy runs as a service, where should I place the Caddyfile? (ubuntu)

[2022-10-22 00:37] ryanburnette commented on #528
This is a matter of personal preference. When I set up a web server I start by running [ssh-adduser](https://webinstall.dev/ssh-adduser/) which gives me the `app` user, then I keep my `Caddyfile` in the home directory for the `app` user. This makes making an ssh connection to the app user then a subsequent `vim Caddyfile` a quick way to get in and manage. After using [serviceman](https://webinstal

[2022-10-22 00:37] #528 closed

[2022-10-28 14:05] ryanburnette opened #531 "Request for xcaddy"
We need to get [xcaddy][1] in the mix.

[1]: https://github.com/caddyserver/xcaddy

[2022-10-28 14:07] ryanburnette commented on #531
@coolaj86 Or maybe not. I'm not familiar with go, can you take a look at the [xcaddy][1] readme and tell me if just installing using the go command is preferable?

[1]: https://github.com/caddyserver/xcaddy

[2022-10-29 20:51] cekvenich2 commented on #531
xcaddy is a corner case and: there is command to install go and then you can make it.

[2022-10-29 20:52] cekvenich2 opened #532 "question: I had to install everything two times on ubuntu for serviceman to auto start caddy"
And I got everything working. I did have to install everything two times, as root (on ubuntu) and as user. So that a process would auto start. Is there a way around that?

[2022-10-29 23:04] ryanburnette commented on #531
I agree. Close.

[2022-10-29 23:04] #531 closed

[2022-10-29 23:08] ryanburnette commented on #532
This is the approach I use. Check the command because I am working from the top of my head. There are other approaches... I believe @coolaj86 has another approach on the serviceman cheat sheet.

[code]

Webi is NOT meant to run as root with limited exceptions. The only thing I run as root is `curl https://webinstall.dev/ssh-adduser | bash`.

[2022-10-31 05:27] bitcoinvps commented on #518
Config files: https://github.com/bitcoinvps/sing-box-easy

[2022-11-14 12:53] gluth opened #533 "[Bug] Unable to install k9s installer just hangs"
## What were you trying to install (or what else went wrong)?

k9s

## What exactly did you do?

curl -sS https://webi.sh/k9s | sh

## What went wrong?

Shows greeting and just hangs. When trying to open this URL: https://webinstall.dev/api/releases/k9s.json it just never ends loading without showing anything.

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of compu

[2022-11-14 17:33] coolaj86 opened #534 "[Bug] Every few months the version update hangs"
# Feb 13, 2023 Update

I've deployed #565 to production.

I'm very confident (after extensive testing) that this is the final fix to intermittent failure:
- fixes incorrect cache time from 5 **seconds** (debug value) to 5 **minutes** (production value)
- always returns release info as long as usable data is available (not reset on error)

**Jan 24, 2023 Update**
 - I've deployed #551 to production

[2022-11-21 05:08] aryan1306 commented on #410
hi @coolaj86 can i pick this up?