[2020-04-28 03:05] solderjs opened #1 "Golang release API"
There is a release API, it's just not as well advertised. Gotta read the docs of the package rather than the web page:

<https://golang.org/dl/?mode=json&include=all>

- https://github.com/golang/go/issues/34864
- https://pkg.go.dev/golang.org/x/website/internal/dl?tab=doc
- https://golang.org/dl/?mode=json&include=all
- https://golang.org/dl/?mode=html

[2020-04-30 03:22] solderjs opened #2 "[feature] Github release API"
## Goal

Translate the Github release data into a format that is pretty darn close to what we need for webinstall.dev, accepting that it may need to be wrapped in some cases so that manual manipulation can be applied afterwards.

 (using `false`, `""`, etc for fields that don't apply).

## API

[code]

## Example:

From

- https://api.github.com/repos/BurntSushi/ripgrep/releases

[code]

To

[code

[2020-04-30 03:24] solderjs opened #3 "Gitea release API"
https://git.rootprojects.org/api/swagger#/repository/repoListReleases

This appears to be exactly the same as Github. Need to confirm.

[2020-04-30 03:25] solderjs opened #4 "[feature] Gitlab release API"
This is definitely different from the Github API, but similar.

https://docs.gitlab.com/ee/api/releases/

[2020-05-01 18:22] solderjs opened #5 "Update node/install.bat to split commas into variables"
Three things to do:

1. Fetch a single line of CSV with this exact URL:

https://webinstall.dev/api/releases/node@v12.csv?os=win&arch=amd64&channel=stable&ext=zip&limit=1

Which looks like this:

[code]

2 . Split that string into variables

  - version
  - pkg_url
  - pkg_file
  - pkg_dir
  - os
  - arch

3. Update this batch script to use those variables

- https://github.com/webinstall/packages

[2020-05-02 17:30] creedasaurus commented on #2
A start? #6

[2020-05-02 21:29] ryanburnette opened #7 "problem with Ripgrep (alias) installer"
[code]

[2020-05-03 02:05] solderjs commented on #7
you idiot

[2020-05-03 02:05] #7 closed

[2020-05-03 02:07] solderjs commented on #2
Thanks @creedasaurus https://github.com/webinstall/packages/pull/6

[2020-05-03 02:07] #2 closed

[2020-05-03 02:46] creedasaurus commented on #1
*Reads a little Go from their download package... immediately misses Go*
ʕ •ᴥ•ʔ

[2020-05-03 03:00] solderjs commented on #1
I started on this a bit ago. Were you about to start on it?

[2020-05-03 03:00] solderjs commented on #1
You could take flutter and I could take gitea.

[2020-05-03 03:03] solderjs opened #8 "Flutter release API"
See https://github.com/webinstall/packages/blob/master/flutter/versions.js

But should be more like https://github.com/webinstall/packages/issues/2

[2020-05-03 03:25] solderjs commented on #4
Putting this on hold since I don't think any of my daily drivers are hosted on Gitlab and I'm not familiar with other CLI programs that are either.

I do recognize a few from the top 10 list (i.e. Inkscape), but I don't personally use any of them.

- <https://gitlab.com/explore/projects/starred>

[2020-05-03 03:25] #4 closed

[2020-05-03 04:54] solderjs commented on #1
Woo hoo!

- https://webinstall.dev/api/releases/golang@latest.tab?limit=25&pretty=true

[2020-05-03 04:54] #1 closed

[2020-05-03 06:11] solderjs opened #9 "[sticky] How to add a Windows installer"
We do need to update the bootstrap bat file to include the relevant variables and pass them in, but in the meantime it would still be useful to have some templates that successfully unpack various software from windows zip files and put the right things in the right places.

This is the node example:

`https://github.com/webinstall/packages/blob/master/node/node.bat`:

[code]

[2020-05-03 10:11] #8 closed

[2020-05-04 00:42] ryanburnette opened #10 "Request for caddy"
Can I get a caddy installer?

[2020-05-04 00:42] ryanburnette commented on #7
I stand by my decision

[2020-05-04 12:00] solderjs commented on #10
Should be nearly identical to `rg` since it uses github releases and is a single binary:

https://github.com/webinstall/packages/blob/master/rg/rg.bash

Want to give it a try? Or maybe ask the Caddy team for any special considerations?

[2020-05-04 12:01] solderjs commented on #10
See also https://github.com/webinstall/packages#creating-an-installer

[2020-05-04 12:24] ryanburnette commented on #10
Sure I’ll do it.

On Mon, May 4, 2020 at 08:01 AJ ONeal <notifications@github.com> wrote:

[2020-05-04 17:32] solderjs opened #12 "Make it possible to test bash script in-repo"
Now that the bash template has moved to `webi/template.bash` we should we able to make a `webi/test.js` or some such that makes it easy to test locally without running the server.

I'm thinking like this:

[code]

Sidenote: might also want to change the structure to `my-new-project/install.bash` rather than `my-new-project/my-new-project.bash`. And make an `_example` or `_template` for people to c

[2020-05-04 17:43] #10 closed

[2020-05-04 18:38] solderjs commented on #3
This was added for `pathman`:

https://github.com/webinstall/packages/blob/master/pathman/releases.js

[2020-05-04 18:38] #3 closed

[2020-05-04 20:03] ryanburnette opened #14 "Maybe install path should be in output, and how about a path warning?"
I had occasion to install caddy on a server where I had already installed it previously. When I installed again with webi, it did everything it was supposed to, but the old caddy was the one I stll got as shown by `which caddy`.

The installer output looked something like this

[code]

Maybe the install message could be something like

[code]

Just brain storming here.

[2020-05-06 21:54] solderjs opened #16 "[feature] _common/brew.js: Brew Releases API"
Wanted: `_common/brew.js`

The goal IS NOT to implement dependency management like Brew.

webinstall.dev is intended to be lightweight and simple.

However, brew does have an API for packages and there are some packages that officially release to brew, such as MariaDB.

[2020-05-06 23:27] solderjs commented on #16
Boom!

- <https://beta.webinstall.dev/api/releases/mariadb.tab?os=macos&pretty=true>

[2020-05-06 23:27] #16 closed

[2020-05-10 19:17] ryanburnette opened #18 "Why does go install to ~/go?"
Why does go install to `~.go` while most other things install under `~/.local`?

[2020-05-10 21:32] solderjs commented on #18
It does not install to `~/go`.

That’s go’s bin directory equivalent to `npm install -g`‘s bin directory as per `GOBIN`, which defaults there.

[2020-05-10 21:53] ryanburnette commented on #18
Thanks. I am unfamiliar with go, but that makes sense.

[2020-05-10 21:53] #18 closed

[2020-05-13 20:51] cwadrupldijjit commented on #5
I've been keeping this up so that I won't forget it.  I can't boast much experience with batch scripts, but I could have the determination to figure it out...

... which I think I have!

I was curious how to do this myself and though I'm not sure that my solution is the best one, I at least believe that it could work the way you need it to.  The only thing is that I'm not sure how to hook it into

[2020-05-13 21:16] solderjs commented on #5
Take a look at this:
https://github.com/webinstall/packages/pull/17

The CSV is from the URL mentioned above (and shown in that example).

I think that what you found for the Windows version is better than what's currently there.

See also:
- https://github.com/webinstall/packages/blob/master/webi/template.bash
- https://github.com/webinstall/packages/blob/master/webi/bootstrap.bash

The idea is t

[2020-05-14 18:00] solderjs commented on #14
Agreed that the PATH management, and multiple versions should be tracked better.

TODO, help wanted.

[2020-05-14 18:01] solderjs opened #19 "Add gitea"
Since gitea uses Github releases (and will use the nearly identical Gitea releases in the future), this is just a copy/paste/test job.

[2020-05-14 18:03] solderjs opened #20 "Add curlie, bat, fd, and friends"
- [x] [curlie](https://github.com/rs/curlie)
- [x] [bat](https://github.com/sharkdp/bat)
- [x] [fd](https://github.com/sharkdp/fd)
- [x] [hexyl](https://github.com/sharkdp/hexyl)
- [x] [fzf](https://github.com/junegunn/fzf)

*Curlie* wraps curl to behave similar to HTTPie (syntax highlighting and such), but in Go rather than Python, and hence easier to install. Again, github releases, should just

[2020-05-19 23:34] ryanburnette opened #21 "Request for gitea installer"
I could use a gitea installer.

[2020-05-20 01:56] solderjs commented on #21
https://github.com/webinstall/packages/issues/19

Uses Github Releases:
- https://github.com/webinstall/packages/blob/master/ripgrep/releases.js

Should be nearly identical to either caddy (single binary, no subdirectory):
- https://github.com/webinstall/packages/blob/master/caddy/install.bash

Or to ripgrep (single binary, with subdirectory):
- https://github.com/webinstall/packages/blob/master/r

[2020-05-20 01:57] solderjs commented on #21
You can do this.

[2020-05-20 02:02] ryanburnette commented on #21
*can* ... but will i?

[2020-05-21 21:24] solderjs opened #22 "node needs bugfix for macos"
The `pkg` version should never sort before the equivalent `tar` version.

[2020-06-06 19:52] ryanburnette opened #23 "Request for hugo"
me: I want a hugo installer
aj: you can make it yourself
me: i'll try

[2020-06-07 13:15] ryanburnette commented on #23
#24

[2020-06-07 13:15] #23 closed

[2020-06-07 13:19] ryanburnette commented on #21
#25

[2020-06-07 13:19] #21 closed

[2020-06-07 13:21] ryanburnette commented on #19
#25

[2020-06-08 20:38] ryanburnette opened #26 "wanted most recent stable release of caddy, but got beta"
I installed Caddy today. I wanted the most recent stable release, `2.0.0`, but I got `2.1.0-beta1`.

<img width="991" alt="Screen Shot 2020-06-08 at 4 38 23 PM" src="https://user-images.githubusercontent.com/2252601/84078193-7d4bb400-a9a6-11ea-8f9d-bbb82823bd5f.png">

[2020-06-08 20:51] solderjs commented on #26
Should we make the default tag `@stable` rather than `@latest`?

I can see that it is marked as a `pre-release`, so I agree it shouldn't have shown up in the list. Just not sure how to handle it in a generic way?

- https://github.com/caddyserver/caddy/releases (marked as pre-release)

[2020-06-09 01:07] solderjs opened #27 "Add postgres"
I'm not really sure how to get the releases. I can't find a canonical source that lists versions that aren't the absolute latest.

I guess just scrape the html and pray that linux support returns soon? (nevermind, [it won't](https://www.enterprisedb.com/blog/platform-native-edb-packages-linux-users).) Maybe cache old versions and check to see when they're removed?

- https://www.enterprisedb.com/d

[2020-06-09 13:40] ryanburnette commented on #26
Here's the logic I like... in the context of this issue.

https://webinstall.dev/[package]@stable -> latest stable release (caddy 2.0.0)
https://webinstall.dev/[package]@latest -> latest release (caddy 2.1.0-beta1)

https://webinstall.dev/[package] (defaults to @stable)

[2020-06-13 19:02] solderjs opened #28 "xvm - replace nvm, gvm, etc"
# Phase 1

Re-installing a previously installed version should just switch symlinks.

[code]

# Phase 2

[code]

Make a bash script `xvm` that tries to switch to an installed version matching `node` and `v12.x`, and falls back to `webi node@v12` otherwise.

[2020-06-13 22:46] solderjs commented on #28
Phase 1 complete for node and golang, but not for flutter.

[2020-06-13 22:47] solderjs commented on #26
This should be fixed.

- `''` => `stable`
- `latest` => `stable`

[2020-06-13 22:47] #26 closed

[2020-06-14 10:00] solderjs commented on #28
Done for `flutter` as well. Leaving Phase 2 for another time for now.

[2020-06-14 10:00] #28 closed

[2020-06-14 10:01] solderjs commented on #22
Fixed a few days ago. Or maybe it was today. Sometime, for sure. Fixed.

[2020-06-14 10:01] #22 closed

[2020-06-14 18:14] ryanburnette opened #29 "webi should self update before running"
before doing anything, webi should check itself before it wrecks itself... meaning, it should check to make sure it's up-to-date, update itself if necessary, and call itself again if an update occurred

[2020-06-14 18:51] coolaj86 opened #30 "How to add a package to webinstall.dev in 5 minutes or less."
## Why is package xxxx Awesome?

Obviously you think that the thing you're proposing that we add is awesome.

Be sure to let us know! Don't bury the lead.

Please include or link to a screenshot, asciinema, or 5-10 second screencast, if at all possible.

## Is xxxx a good fit for `Webi`?

`brew` and `apt` are for complex things.

`webi` is for simple things.

The more of these boxes you can check,

[2020-06-14 19:53] #19 closed

[2020-06-16 11:05] #12 closed

[2020-06-16 13:42] ryanburnette opened #31 "problem with rg installer"
[code]

[2020-06-16 19:27] solderjs commented on #31
I had switched to using `-L` to test for symlink and then switched

- from `rm -rf` to `rm -f` when the file IS a symlink
- from `rm -rf` to `rm -rf -i` when the file is NOT a symlink

I expected the behavior to be

1. ignore the doesn't exist error (as `-f` does)
2. ask for permission to delete if it does exist

However, it got weird. So I added a second check for if the thing `-e` exists and now

[2020-06-16 19:27] #31 closed

[2020-06-16 19:28] solderjs commented on #27
🥳 🎉 <https://webinstall.dev/postgres>

[2020-06-16 19:28] #27 closed

[2020-06-16 19:29] solderjs commented on #14
This is really an issue for `pathman`

[2020-06-16 19:34] solderjs commented on #5
@cwadrupldijjit I completely and totally overhauled the entire system.

Having done a half-dozen bash scripts, I feel like I've identified the unique parts well enough to port it over to bash.

Would you still like to help? Could we get on a call?

- https://github.com/webinstall/packages/blob/master/_webi/template.sh

- https://github.com/webinstall/packages/blob/master/node/install.sh
- https://

[2020-06-16 21:15] ryanburnette commented on #14
Agree

[2020-06-16 21:58] solderjs opened #32 "update npmrc set to use the correct node version"
TODO:

[code]

[code]

I think I had this there, need to add it back again.

[2020-06-17 00:18] solderjs commented on #14
Re-opening because I had a genius idea:

[code]

And then at the end, just before `rm -rf $WEBI_TEMP` and the `done_message`:

[code]

[2020-06-17 09:40] #32 closed

[2020-06-17 14:56] cwadrupldijjit commented on #5
I'm not opposed to helping out. When I was looking at the PR you mentioned, it looked like it was doing the same thing as I had done, but might've been more robust. I could take a look at the new scripts to port it over to batch if you want. I might even be up for a call today.

[2020-06-17 21:24] ryanburnette opened #33 "link to the magic"
The link to the magic is error 410

https://github.com/webinstall/packages/blob/master/node/install.sh#L7

[2020-06-18 03:27] solderjs commented on #33
Github has retired their 404, and they 410 to let you know.

I updated the comments with the updated link.

[2020-06-18 03:27] #33 closed

[2020-06-18 07:12] solderjs commented on #14
This lead me down such a wild goose chase.

I always forget that `echo "" | grep x > blah` will trigger `set -e` to fail. Gotta do `echo "" | grep x > blah || true`.

[2020-06-18 07:12] #14 closed

[2020-06-24 01:29] solderjs commented on #29
In fact, I believe this was already happening and does happen. There must have been some poorly reported error that resulted in us thinking that it wasn't so.

[2020-06-24 01:29] #29 closed

[2020-06-28 07:42] jkunkee commented on #5
CMD scripting is quite arcane, and getting something complex to work can be immensely satisfying. (NSIS installer script is even more arcane and similarly satisfying.)

If you can avoid it, though, I recommend doing so.

Given that PowerShell's ExecutionPolicy only applies to script files and not snippets of script, we can dodge CMD entirely with he following:

    powershell "Invoke-Expression (I

[2020-06-28 12:41] coolaj86 opened #34 "update Windows pathman to enable console output"
Pathman's `release.js` needs to be updated to select pathman.debug.exe for windows, maybe, so that pathman will output text in Terminal.

Or in some way shape or form we need to choose between GUI-enabled and Terminal-enabled pathman.

Also, not sure what the difference between these two might be or which should be added:

- `.local\bin`
- `%USERPROFILE%\.local\bin`

Also, using quotes seem to mes

[2020-06-28 13:03] solderjs commented on #9
Windows installers are now essentially the same as Mac and Linux thanks to https://github.com/webinstall/packages/pull/35/files

[2020-06-28 13:03] #9 closed

[2020-06-28 13:04] solderjs commented on #5
Much progress made:
https://github.com/webinstall/packages/pull/35/files

[2020-06-28 23:47] jkunkee commented on #34
`PATH` is all absolute paths, so `%USERPROFILE%\.local\bin` will work when the current folder is not `%USERPROFILE%`.

Quotes in paths are not needed because they are semicolon-delimited and not space-delimited. The registry API should take a raw string, again with no need for quotes inside the string. Is that where you're seeing quote issues?

The interplay between console apps and conhost.exe is

[2020-06-28 23:49] jkunkee commented on #34
Outputting text to the terminal should be an application choice, so whether the non-`.debug.` pathman does so should be under your control.

It is possible to have the GUI exe present a CLI--I've seen it done before--but a common design pattern is `pathman.exe` with `pathmanui.exe`.

[2020-07-06 07:10] coolaj86 opened #36 "Wanted: DuckDNS Updater"
# DuckDNS Updater

Would be nice to have a little bash / pwsh script for updating domains

https://www.duckdns.org/spec.jsp

[code]

Perhaps could ask questions and store secrets in `~/.config/duckdns.org/config`?

Would be great to store secrets in the native secret manager of the OS, but not sure how to do that yet.

[2020-07-06 14:46] ryanburnette opened #37 "problem with Hugo installer"
Installed hugo on my 64-bit darwin os, but got 32-bit binary.

[code]

I also expected 0.73, but got 0.64.

[2020-07-06 15:15] solderjs commented on #37
I’ll probably have to match on “64\W?bit” and 32bit, and I’ll have to have a special case for Hugo since it’s versions reach all the way to 64.

Dang it’s hard to match arbitrary strings to a cpu architecture!

[2020-07-06 15:34] solderjs commented on #37
Fixed https://github.com/webinstall/packages/commit/debcee7e199579466159d9e4fc3b0038ae5f0d20

That's slightly too loose at present as it will also match `.64.` as amd64... but there's just so many ways that people do that. I need to get a list of samples from all supported installers and see what will break if I change that (hopefully nothing) and then just add exceptions into the individual files

[2020-07-06 15:34] #37 closed

[2020-07-08 23:36] ryanburnette opened #38 "error when zip not present"
I was installing webi on WSL/Ubuntu in Windows. I got this error.

[code]

I installed zip.

[code]

Then it installed. But it wasn't that clear about what was going wrong.

[2020-07-08 23:40] ryanburnette opened #39 "WSL presents an interesting situation"
WSL presents an interesting situation

I tried installing Node, but I get node.exe

[code]

And `node.exe` is no good in this environment.

[2020-07-09 00:15] solderjs commented on #39
I thought I had fixed this. The user agent string for WSL is “Microsoft Linux”, hence it matches for Windows before it matches for Linux.

Let’s test this together tonight.

[2020-07-11 07:29] solderjs opened #40 "[internal] Peer-Review ALL commits. `master` to be PR-only."
@ryanburnette You've been better about this than me, but since we've at the point of publicizing, I'm of the opinion that all changes should go through a PR process and we don't commit without peer review.

I've enforced master branch protection here:
https://github.com/webinstall/packages/settings/branches

[2020-07-11 09:21] solderjs commented on #38
This is about as specific as I can think to make it in a generic way:

[code]

Perhaps this would be better?

[code]

That said, Linux packages are _ALWAYS_ available as `tar.gz` or `tar.xz`, so zip shouldn't be needed.

[2020-07-11 09:23] solderjs commented on #34
@jkunkee Any update on using a function for the output?

[2020-07-11 09:24] solderjs commented on #5
This has since morphed into a different problem/solution set. Closing.

[2020-07-11 09:24] #5 closed

[2020-07-12 03:23] solderjs opened #42 "One weird trick to get `sudo` on Windows 10... you'll never eat bananas again!"
Check this out!!

https://stackoverflow.com/a/40321310/151312

I definitely want to add that to `webi`.

@ryanburnette This brings up the issue that we do need a way to have non-mac/non-linux (meaning Windows 10 only) installer pages.

[2020-07-12 03:58] solderjs opened #43 "update brew install to `~/.local/opt/brew`"
[code]

See https://stackoverflow.com/questions/35775102/how-to-install-homebrew-packages-locally

[2020-07-12 04:11] solderjs opened #44 "add fish via .pkg?"
I want to have `fish` without all of the hundreds of megabytes of `brew`.

It may be installable locally (Mac only):

[code]

[2020-07-12 04:12] solderjs commented on #44
No dice.

The least-friction way to install it locally is to install `brew` locally and let it compile `fish` locally.

[2020-07-12 04:12] #44 closed

[2020-07-13 01:58] ryanburnette commented on #38
The error message was probably confusing to me because it is derived from the logic of the install script.

[code]

What it means in plain English is that your windows amd64 environment supports tar, exe, yz, git, and dmg, but this package is zip, and you don't support that.

I don't think we need to change anything, but it is good that this issue exists to help someone else who runs across this i

[2020-07-13 01:58] #38 closed

[2020-07-13 02:01] ryanburnette commented on #39
I can test this on or after July 21.

[2020-07-13 05:27] solderjs opened #46 "[linux/amd64] SOLVED pathman: Exec format error"
# Problem

On `linux` the x86 build of `pathman` is being downloaded in place of the amd64 build.

You'll get this message:

[code]

# Workaround

**Remove** the incorrect build of `pathman`:

[code]

**Re-install** webi + (for example) node:

[code]

# Production Fix

This has been `hotfix`ed in production as https://github.com/webinstall/packages/commit/c6ff689bcf6d4871bca2bb16330ea9016b4ac94a a

[2020-07-13 05:39] solderjs commented on #39
Fixed in production via `hotfix`.

Needs your review on https://github.com/webinstall/packages/pull/45 to merge into `master` @ryanburnette

[2020-07-13 05:39] #39 closed

[2020-07-13 06:23] solderjs commented on #42
Hmm... after reading further I'm not sure if that's actually a great solution.

Here's another idea:

- http://code.kliu.org/misc/elevate/

The problem there being:
- no https for downloads (can't use it in accordance with our security practices)
- requires 7z (because 1337 h4x0rz...)

[2020-07-13 06:56] solderjs commented on #42
Okay, I tried https://stackoverflow.com/a/55643173/151312, and it worked, although with a UAC prompt rather than a password prompt.

`sudo.cmd`:

[code]

It also opens up a new cmd.exe window and this disappears.

Though... it seems to work.

[code]

[2020-07-13 19:40] solderjs opened #48 "deno for Windows 10"
This should pretty much be copy/paste to get working, just needs 30-60 minutes to test and deploy.

[2020-07-13 20:34] #40 closed

[2020-07-13 23:27] coolaj86 opened #50 "fix `spctl` (Gate Keeper) permissions grant for High Sierra and below"
High Sierra doesn't require `spctl` permission grants for Gate Keeper, yet `spctl` still reports everything as rejected.

Might need to check for `10.13` in some sort of system string.

### Update

Should probabyl use

[code]

However, there's a tricky bit here in determining if it's Linux `xattr` or not, which does not support `-r`.

[2020-07-14 03:17] #48 closed

[2020-07-14 03:18] #43 closed

[2020-07-14 03:18] #42 closed

[2020-07-14 03:34] jkunkee commented on #34
Haven't had a chance to pursue it further, no. The behavior of `&` in PowerShell in tandem with piping puzzled me then; I'll probably switch to Invoke-Command or similar.

[2020-07-21 17:33] #20 closed

[2020-07-21 17:34] coolaj86 opened #53 "Add `sd`"
# Add sd

We want to add `sd` because it works consistently across Windows, Mac, and Linux.

(`sed` is not as easy to get on Windows, and works differently between GNU and BSD builds).

This could be as simple as copying `_example` (or `bat` or `rg`) and changing a few things.

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](https://user-images.githubuserconten

[2020-07-21 17:35] solderjs opened #54 "add `lsd`"
We want to add this as a cross-platform drop-in replacement for `ls` - because icons and highlighting are awesome

~~This may be tricky as it requires a nerd-font to be installed.~~
( we now have nerdfont https://webinstall.dev/nerdfont )

This could be as simple as copying `jq` or `rg` and changing a few things:

[code]

1. Official Releases are at https://github.com/Peltoche/lsd/releases
    - [

[2020-07-23 12:06] dwoodwardgb opened #55 "problem with Postgres installer"
I believe there is a typo here
<img width="671" alt="Screen Shot 2020-07-23 at 8 04 52 AM" src="https://user-images.githubusercontent.com/13407106/88284366-46fa9780-ccbb-11ea-8092-c50c59a054ec.png">
The url should read `postgres -D $HOME/.local/share/postgres/var -p 5432` instead

[2020-07-23 16:33] solderjs commented on #55
Indeed, you are correct! Thank you for spotting that typo.

Would you like to PR and submit the fix?

The Cheat Sheet is here: https://github.com/webinstall/packages/blob/master/postgres/README.md

You can click Edit, make the necessary change, Commit Changes (it will create a "fork"), and then Pull Request.

After that I'll approve review and approve the change and publish.

[2020-07-24 20:46] solderjs commented on #55
Closed by https://github.com/webinstall/packages/pull/56

[2020-07-24 20:46] #55 closed

[2020-07-24 20:49] solderjs commented on #46
I had left this open for the benefit of anyone else who runs into it, but it's been a while, so I'll go ahead and close it out now.

[2020-07-24 20:49] #46 closed

[2020-07-24 20:50] solderjs commented on #34
@jkunkee Do you have time that we could work on this tomorrow (Saturday)?

[2020-07-26 17:28] ryanburnette opened #58 "suggestion for bat cheat sheet, bypass alias"
a suggestion to add something to the bat cheat sheet

if you're aliasing cat to bat, it would be nice to teach folks the way to bypass the alias

[code]

[2020-07-26 17:53] solderjs commented on #58
That's a good idea to add to the Alias section here: https://github.com/webinstall/packages/blob/master/bat/README.md

[2020-07-26 18:43] solderjs commented on #58
@ryanburnette What's the wording you'd suggest for that? Something like this?

[code]

[2020-07-26 18:56] ryanburnette commented on #58
Yea looks good.

For me, sometimes I use cat to then copy something to the clipboard, and bat gets in the way. I had to remind myself how to break out of an alias. I thought it might help others.

[2020-07-27 03:52] solderjs commented on #58
Re-opening: I didn't review closely enough, this change should have gone in the section "How to alias as cat
"

[2020-07-29 20:39] #58 closed

[2020-07-29 20:39] solderjs commented on #58
Live at https://webinstall.dev/bat

[2020-07-29 20:46] solderjs opened #63 "Show the download source when downloading."
Currently we show were a download will be downloaded:

[code]

To increase transparency and trust, it may be good to show where the download is coming from:

[code]

Two things that need to be solved for here:

- [ ] How can we show (potentially long) URLs in a friendly way?
- [ ] Update the `webi_download` function `_webi/template.sh` with the new wording

## Skills required

- Visual / Verbal Co

[2020-07-29 22:29] yollotltamayo commented on #63
Hello this is my idea for the friendly URLs , show _package_ name and then _download source_ , the URL could be a direct link to the page, also i can implement it , let me know your opinion .
----------------------------------------------------------------------------------------------------------------------------------
[code]

[2020-07-30 01:29] solderjs commented on #63
Sounds good to me.

Here's another thought:

[code]

- Put the URL on its own line (no sure if this looks better or worse... these URLs can be long)
- Remove redundant package name from "Saved as"

I'm also fine with your proposal as-is. Go ahead and make the change as you think best. 👍

[2020-07-30 03:59] yollotltamayo commented on #63
Just made the PR,let me know the feedback.

[2020-07-30 07:57] coolaj86 opened #67 "Needs special tag for @current to mean "do not upgrade""
We need a way to signal to not upgrade.

For example, if we want to install `prettier` or `expo`, we should not require a `node` upgrade to install it.

[2020-07-31 05:37] solderjs opened #68 "add `watchexec`"
a great cross-platform language-agnostic file watcher / task runner

[2020-08-01 07:51] solderjs opened #69 "correct Prettier cheat sheet about `--ignore`"
As seen on https://webinstall.dev/prettier/ the Prettier cheat sheet, the `--ignore` option is incorrect.

- `--ignore` is not the correct argument to pass names of directories to ignore
- need to lookup in prettier docs the correct flag name (if any), or remove

Also, the format of `.prettierignore` is incorrect.

- paths should not begin with `./`, they should be left bare
- `./dist` should be `

[2020-08-01 08:06] ctyin commented on #69
First timer here: could I be assigned this?

[2020-08-02 22:12] avats-dev commented on #54
**Hey @solderjs , I know command line but I don't know what I need to do here. Guide me.**

[2020-08-02 22:12] avats-dev commented on #53
**Hey @solderjs , I know command line but I don't know what I need to do here. Guide me.**

[2020-08-03 00:19] solderjs commented on #53
I’d say

- use the rg and jq installers https://webinstall.dev
-  clone the repo and take a look at `rg` And `jq`
- then ask me specific questions about the above checklist

Do you already use `sd`?

[2020-08-03 16:42] solderjs commented on #69
Thanks! We'll merge this in today.

[2020-08-03 21:49] solderjs commented on #53
@avats-dev Does that give you a good place to start?

[2020-08-09 16:24] ryanburnette opened #73 "root path"
Maybe this should be documented. Maybe it could be improved. Forgive my bad memory and poor search technique, this may be a duplicate.

I'm often in Linux as user ryan, and need to do things as root through sudo. Here is an example.

[code]

I make it work using `$()`.

If this is a good thing, perhaps it should be documented.

If there's a better way, enlighten me.

[2020-08-09 16:24] ryanburnette commented on #73
Listing root services.

[code]

[2020-08-09 17:13] solderjs commented on #73
It’s on the page already.

sudo env PATH=“$PATH” ...

[2020-08-09 17:14] ryanburnette commented on #73
Is that something you run once and problem solved?

[2020-08-09 17:24] solderjs commented on #73
Every time.

You’d have to install it as root to put it in root’s PATH permanently.

[2020-08-09 17:25] solderjs commented on #73
See https://webinstall.dev/serviceman/

[2020-08-09 17:46] ryanburnette commented on #73
I tried...

[code]

[code]

[2020-08-09 17:54] solderjs commented on #73
Probably because the .bashrc is never executed because `sudo` is putting it in “non-interactive” mode.

This is one of those Linux issues that has no good cross-distro solution.

[2020-08-09 17:55] solderjs commented on #73
Also, you installed pathman, bot serviceman.

[2020-08-09 17:57] ryanburnette commented on #73
I installed both. I always install pathman first so I get pathman and webi. Then I installed serviceman with webi.

[2020-08-09 18:00] solderjs commented on #73
You could edit root’s .bashrc or .profile by hand to source .config/envman/PATH.env before the interactive check.

[2020-08-09 18:01] solderjs commented on #73
I think the best solution is “sudo env PATH=$PATH ...”, but the “$(which ...)” works too.

[2020-08-09 19:07] #73 closed

[2020-08-12 07:39] #69 closed

[2020-08-12 07:43] coolaj86 opened #74 "add `pandoc` (for markdown to html conversion)"
I've investigated goldmark, comrak, and pandoc. I like goldmark the best since it's written and go and is used by hugo, which we already have.

However, it looks like pandoc is the only one with a release API at the moment:

- https://github.com/jgm/pandoc/releases

Mac file structure looks like this when unzipped:

[code]

Should be easy to add following `rg` as a template.

[2020-08-13 04:16] solderjs opened #75 "Add comrak for Markdown"
I used `./bat` as a template and made a few changes to accommodate `./comrak`.

I'd like to give the author a chance to make any comments, or PR if desired, after that this should be good to go live in production.

# Live Beta

In development at https://beta.webinstall.dev/comrak

This is the current cheatsheet, install files, and releases API for installing ad using comrak:

`comrak/README.md`:

[2020-08-13 23:36] coolaj86 opened #76 "[BUG] deno didn't update to v1.3.0 (due to prior download)"
The deno download name doesn't include the version and therefore the cached version is used.

[code]

## Workaround

1) Delete the incorrect copy, and the cached download

[code]

2) Reinstall

[code]

[2020-08-14 05:45] solderjs commented on #75
Closing because this is ready, just waiting on merge and publish.

[2020-08-14 05:45] #75 closed

[2020-08-24 15:22] solderjs commented on #54
Added in #80

[2020-08-24 15:23] #63 closed

[2020-08-24 15:40] solderjs commented on #53
@avats-dev I'm opening this back up for someone else since I didn't hear back from you.

[2020-08-24 16:02] #54 closed

[2020-08-24 16:02] #68 closed

[2020-08-24 16:19] coolaj86 opened #82 "[Installer] Add `watchexec`"
# Add watchexec

We want to add `watchexec` because it's a platform-agnostic tool to reload on file changes that works consistently across Windows, Mac, and Linux. See https://github.com/watchexec/watchexec

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tuto

[2020-08-24 20:02] avats-dev commented on #53
@solderjs, Sorry I couldn't understand what I needed to do and also I am somewhat busy with other things for now, so let someone else do this. I'll try again after sometime if it would still be open. Thanks btw :+1:

[2020-08-24 21:47] chetak123 commented on #53
I would like to work on this issue

[2020-08-24 21:58] solderjs commented on #53
@chetak123 Awesome. Take a look through the video and the steps above and let me know if you have any questions.

Have you used `sd` before? Or `sed`?

[2020-08-25 03:04] chetak123 commented on #53
I have used sed a few times, written some basic bash scripts but never used sd

[2020-08-25 23:26] coolaj86 opened #86 "[Installer] Add vim-prettier"
# Add vim-prettier

This is one of those things I rarely set up because I can't be bothered, but my life would be so much better if I did.

Now that I've got [some info](https://vi.stackexchange.com/questions/26834/how-to-autoload-multiple-rc-style-files-in-vim-8/26838#26838) on options for how to split-up .vimrc, I think it's reasonable to create an all-in-one package.

## Install

[code]

## Set

[2020-08-27 02:07] solderjs commented on #53
@chetak123 Any update?

[2020-08-27 09:10] chetak123 commented on #53
i installed the webinstall then node used myip , now trying to understand workflow , but i am not able to understand how sd is installed (used tree command on sd-0.7.6.tar.gz but didn't find any clear executable with which it can be installed)

[2020-08-28 02:24] solderjs commented on #53
`sd-0.7.6.tar.gz` is not the right file. Follow the instructions in up to the point of modifying `releases.js` and get the file that `node _webi/test.js sd/` directs you to.

[2020-08-28 05:57] chetak123 commented on #53
First it was showing this error.
Thanks for using webi to install 'sd' on 'linux-5.4.0-42-generic/x64'.
Have a problem? Experience a bug? Please let us know:
        https://github.com/webinstall/packages/issues

Found /home/ayushman/Downloads/sd.0.7.5-.x86_64-unknown-linux-gnu.zip
Extracting /home/ayushman/Downloads/sd.0.7.5-.x86_64-unknown-linux-gnu.zip
Installing to /home/ayushman/.local/opt/sd

[2020-08-28 06:18] solderjs commented on #53
You're skipping ahead a bit.

When you run `node _webi/test.js sd/` it will output JSON with the download string. You should download that link to ~/Downloads/.

Then you should use `unzip` to unzip it and then use `lsd --tree ./path/to/sd` to see what's inside.

After that, then you can edit the path.

When you build it yourself you are getting a debug build, not the production build that is publ

[2020-08-30 01:47] solderjs opened #88 "[Installer] vim for Windows"
# Add vim

Vim's website is scary. Not sure if we could get vim for Windows working in a reasonable way.

[code]

[2020-08-30 06:24] solderjs opened #89 "Add string `exe` to array of testable extensions"
A while back the main releases code was updated to allow for bare `.exe` and `bin` installs, but the test code had not been updated.

We need to add `exe` to the beginning of this list:

https://github.com/webinstall/packages/blob/72406c4e0d438b76da054be8d5eff42d08312498/_webi/test.js#L69

[2020-08-30 06:48] Akshansh99 commented on #89
Hello I'm Akshansh. I want to contribute to this problem.

[2020-08-30 07:02] Akshansh99 commented on #89
I have updated the formats array with `exe` in formats array. I've created a pull request #90 for it.

[2020-08-30 09:53] coolaj86 opened #92 "[Installer] Add mv alias for Windows"
# Add `mv` cmd alias for Windows

We want to add `mv` as a cmd alias for `move`.

This is NOT LIKE MOST webi pages. It will be a copy of `sudo/` and NOT a copy of `example/`.

'install.ps1`:

[code]

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](https://user-images.githubusercontent.com/122831/91064908-17f28100-e5ed-11ea-9cf0-ab3363cdf4f8.jpeg)](https://youtu

[2020-08-30 10:00] coolaj86 opened #93 "[Installer] Add caddy install script for Windows 10"
# Add caddy for Windows 10

We've got a caddy installer for Mac and Linux ( https://webinstall.dev/caddy ), but we need to add one for Windows 10

This could be as simple as copying `_example/install.ps1` to `caddy/install.ps1`, and updating the name and install path according to the comment in the example about standalone binary.

# How to create a webi installer

[![Video Tutorial: How to create

[2020-08-30 16:35] NorbertLuszkiewicz commented on #93
Hey I would love to tackle this one

[2020-08-30 18:30] solderjs commented on #89
Thank you. Merged in #91

[2020-08-30 18:30] #89 closed

[2020-08-30 18:32] coolaj86 opened #95 "[Bug] Remove _example/install.bat"
## What's wrong?

The instructions to add an installer say to copy `_example/`, but it has an old `install.bat` file that we no longer need and which should not be committed with new installers.

Simple solution: just delete it!

[2020-08-30 18:38] coolaj86 opened #96 "[Feat] Add test and temp files to .gitignore"
When you run `node _webi/test.js XXXX/` it creates the following:

- install-XXXX.sh
- install-XXXX.ps1

A couple of people have created PRs that have these junk files in them by mistake.

Adding patterns that match (only) these files to `.gitignore` will solve this problem. I think that these patterns should do the trick:
- `install-*.sh`
- `install-*.ps1`

Also, when someone is working in vim it

[2020-08-31 14:54] raj5036 commented on #96
Hi @solderjs
Can I start working on this  ?

[2020-09-01 06:41] #95 closed

[2020-09-01 06:45] #96 closed

[2020-09-01 18:22] coolaj86 commented on #96
@raj5036 Someone else already had this in PR.

[2020-09-01 18:23] coolaj86 commented on #96
@raj5036 How are your `bash` skills? There's another issue that may need some help.

[2020-09-02 07:35] coolaj86 opened #99 "[Bug] Add -Force argument to all .ps1 scripts that call New-Item"
This will make the calls to `New-Item` equivalent of `mkdir -p`.

- Every instance of `New-Item` throughout the `.ps1` scripts should use `-Force`.
- No instance of `New-Item` should use `-ErrorAction Ignore` (`-Force` does this, but only for Exists errors)

This is what the `New-Item` usages look like:

https://github.com/webinstall/packages/blob/master/nerdfont/install.ps1#L6

# Skills Required

[2020-09-03 16:18] anshdhinhgra47 commented on #93
Can I also take part in it ?

[2020-09-03 17:44] coolaj86 commented on #93
@anshdhinhgra47 Take a look at where Norbert left off and see what you can do:
https://github.com/webinstall/packages/pull/94

[2020-09-03 17:46] anshdhinhgra47 commented on #93
Alright! Thank you :)

[2020-09-03 17:56] coolaj86 commented on #50
This has been done. No one has complained yet, so it must be working.

[2020-09-03 17:56] #50 closed

[2020-09-03 17:57] coolaj86 commented on #30
The 5 minute mark may have been a bit too ambitious, but...

[![Video Tutorial: How to create a webi Installer](https://user-images.githubusercontent.com/122831/91064908-17f28100-e5ed-11ea-9cf0-ab3363cdf4f8.jpeg)](https://youtu.be/RDLyJtiyQHA)

[2020-09-03 17:57] #30 closed

[2020-09-03 17:58] coolaj86 commented on #67
Meh, I'm actually not that concerned about this after all.

[2020-09-03 17:58] #67 closed

[2020-09-04 18:20] coolaj86 opened #100 "[Bug] Move `chmod` to a different function"
# 1. Move a line from the wrong place to the right place

Currently `chmod a+x "$pkg_src_cmd"` exists at [_webi/template.sh#L229](https://github.com/webinstall/packages/blob/master/_webi/template.sh#L229), inside of `webi_install`.

However, it should be moved to just after the call to `webi_install` at [_webi/template.sh#L323](https://github.com/webinstall/packages/blob/master/_webi/template.sh#L

[2020-09-05 05:19] coolaj86 opened #101 "[Installer] gitea for Windows"
I forgot to add the `install.ps1` for Windows for this.

This will be very similar to `caddy`. See https://github.com/webinstall/webi-installers/issues/93, https://github.com/webinstall/webi-installers/pull/106.

[2020-09-07 05:44] Pratyush-Saxena commented on #99
@coolaj86 can i work on this issue

[2020-09-07 06:32] coolaj86 commented on #99
Yes, this should be a pretty simple update. Go ahead.

[2020-09-07 06:37] Pratyush-Saxena commented on #99
@coolaj86 i have created a pr #102  pls have a look

[2020-09-07 19:21] #99 closed

[2020-09-07 21:18] coolaj86 commented on #93
@anshdhinhgra47 @NorbertLuszkiewicz Are either of you working on this?

Just needs a few corrections: https://github.com/webinstall/packages/pull/94/files

[2020-09-08 10:45] schmelto commented on #100
would like to work on this issue

[2020-09-09 08:31] #100 closed

[2020-09-10 07:15] coolaj86 opened #104 "Update Caddy docs with setcap and serviceman"
[code]

[code]

[2020-09-10 21:50] coolaj86 opened #105 "[Installer] Add shfmt"
# Add `shfmt`

We want to add `shfmt` because...

- [Prettier](https://webinstall.dev/prettier) doesn't handle bash scripts
- `shfmt` does
    - also uses some existing style guidelines well (i.e. Google's bash guidelines)

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# Special note

`shfmt` is a "b

[2020-09-12 04:13] coolaj86 commented on #93
This became time sensitive and I haven't heard back from either of you, so I tested, fixed, and PRed.

[2020-09-12 04:13] #93 closed

[2020-09-12 05:49] #53 closed

[2020-09-12 05:49] coolaj86 commented on #53
This is up on https://beta.webinstall.dev/sd and should go live at https://webinstall.dev/sd with some other updates tomorrow.

[2020-09-12 05:51] coolaj86 opened #107 "Remove debug `dir` output from scripts"
# What's wrong?

In one of the early examples I used `& dir` for debugging purposes.

By accident the extra command was copied into many of the PowerShell scripts.

### Example

The change that needs to be made will look like this:

`_example/install.ps1`:

[code]

It's just a matter of removing the extra `& dir` that does not need to be there.

# Remove the Debug output

1. Clone this repo
2. Fin

[2020-09-12 06:46] chetak123 commented on #53
Well thanks for merging my pull request, it's my first successful PR to an open source project

[2020-09-12 10:03] coolaj86 commented on #53
👍  You're welcome. Thanks for sticking with it and following through.

Normally it's not so convoluted with the `git rebase` and such, we just had a number of confilcts and redos on this that is atypical of a normal flow.

However, I'd recommend using an editor like VSCode or `vim` and some tools like `Prettier` and such so that your whitespace and formatting are consistent - that's one of the thi

[2020-09-12 10:06] coolaj86 opened #108 "Add wsl and wsl2 meta installers"
Getting WSL and WSL2 configured is actually way more complicated than it should be.

I want to run through a clean Windows VM, run through getting WSL working, and get a meta installer up for that so that it's easy and works on the first try (... plus reboot :-/ )

I've got part of it here: https://webinstall.dev/sudo/

[2020-09-12 19:02] ryanburnette opened #109 "add capability to convert key to putty (ppk)"

[2020-09-12 19:20] coolaj86 commented on #109
Please upload a private key in regular pem format along with the same key in ppk format.

Please also give the Windows command that is used to do the conversion.

For example, that _might_ look something like this:

[code]

[2020-09-12 19:22] coolaj86 commented on #109
P.S. Since I already have a library that works with PEM, if there's no good existing command line tool for converting to PPK, if the binary format is even somewhat sane I can probably reverse engineer it in the same way that I have for other key formats in the past (i.e. [OpenSSH vs OpenSSL key formats](https://coolaj86.com/articles/openssh-vs-openssl-key-formats/)).

[2020-09-12 20:38] ryanburnette commented on #109
[code]

[code]

[code]

[2020-09-12 22:33] coolaj86 commented on #109
Why is the PPK format so funky: https://www.chiark.greenend.org.uk/~sgtatham/putty/wishlist/key-formats-natively.html

Where is the source code: https://git.tartarus.org/simon/putty.git

The good news is that it's definitely possible to create a program that easily convert between the two formats. Not sure when I'll have time for this.

That bad news is that there doesn't appear to already be a cl

[2020-09-12 22:45] ErichDonGubler commented on #109
Doesn't PuTTYgen already do conversion between `ppk` and `pem` in both directions? That's a GUI flow, but it IS part of the PuTTY ecosystem and probably local with whatever machines are generating `ppk` files.

[2020-09-12 23:04] coolaj86 commented on #109
@ErichDonGubler we need a command line tool that works on Windows so that it can be automated.

[2020-09-12 23:20] ErichDonGubler commented on #109
Hmm, looks like there might be a command line interface too: https://www.ssh.com/ssh/putty/linux/puttygen

[2020-09-12 23:21] ErichDonGubler commented on #109
Mm, but maybe not for Windows: https://www.chiark.greenend.org.uk/~sgtatham/putty/wishlist/puttygen-batch.html

[2020-09-14 00:56] ryanburnette commented on #109
https://superuser.com/a/912618

[2020-09-14 12:09] coolaj86 commented on #108
TODO: https://docs.microsoft.com/en-us/windows/wsl/install-manual

[code]

[2020-09-14 13:03] coolaj86 opened #111 "macOS installer for Windows"
With WSL 2 complete as per #110, it should be possible to finish the macos installer for Ubuntu Linux such that it can be built on Windows

[2020-09-15 02:48] coolaj86 commented on #108
Done!

[2020-09-15 02:48] #108 closed

[2020-09-15 02:50] coolaj86 opened #113 "Installer for Windows Terminal"
Windows Terminal is on GitHub releases as an `.msibundle`.

https://github.com/microsoft/terminal/releases

This would require updating the unpacker logic. Not sure if this is a good candidate as I'm not sure if it can be installed without admin privs. Will find out.

Although we made an exception for [WSL](https://webinstall.dev/wsl), that's because WSL is near-impossible to install correctly in

[2020-09-15 03:08] coolaj86 opened #114 "WSL Doc Cleanup"
- For errors, reference: https://github.com/MicrosoftDocs/WSL/issues/436

[2020-09-16 10:16] coolaj86 opened #117 "more sensible defaults for vim plugins"
Re: https://github.com/webinstall/packages/pull/116

This should probably go with **systastic**:

[code]

[code]

[code]

[2020-09-19 09:57] coolaj86 opened #122 "[Installer] Add goreleaser"
# Add goreleaser

We want to add `goreleaser` because...

- it works consistently across Windows, Mac, and Linux
- it builds cross-platform go programs and releases to Github, Gitea, or Gitlab, etc

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How

[2020-09-19 09:59] coolaj86 commented on #122
Some things that should make it into the README.md Cheat Sheet:

[code]

[2020-09-21 05:06] coolaj86 opened #123 "Track sd versions"
The `sd` windows installer will break as soon as the new `sd` is deployed.

https://github.com/chmln/sd/issues/97

[2020-09-21 17:52] coolaj86 opened #124 "Add un7z"
un7z will be available soon.

Re:
- https://github.com/emukidid/swiss-gc/issues/238#issuecomment-536648507
- https://github.com/gen2brain/go-unarr/issues/15#issuecomment-695356585

[2020-09-21 23:18] coolaj86 opened #125 "Add `fish`"
This is an exception to the rule, as it requires either `brew` to already be installed, and it also requires `sudo` privileges. There is no known way to do a sane local install (outside of `brew`).

However, it's just one of those things.

**Edit**:

Or maybe not. The fish binary in the `.app` available on github seems to work just as well standalone and can be changed without sudo permissions.

<

[2020-09-21 23:52] ryanburnette opened #126 "problem with Go installer on ubuntu 20.04 pi 4"
[code]

[2020-09-22 00:12] ryanburnette opened #127 "problem with Serviceman installer on ubuntu pi 4"
[code]

[2020-09-22 01:43] coolaj86 commented on #127
Fixed on the rootprojects.org server:

[code]

[2020-09-22 01:43] #127 closed

[2020-09-22 01:46] coolaj86 commented on #126
Will you please paste the output of `arch -m` and `uname -a`?

I suspect that instead of outputting `armv8` or `arm64` that it's outputting `aarch64`.

- https://webinstall.dev/api/releases/golang@.tab?os=linux&arch=aarch64
- https://webinstall.dev/api/releases/golang@.tab?os=linux&arch=arm64
- https://webinstall.dev/api/releases/golang@.tab?os=linux&arch=armv8

[2020-09-22 11:34] ryanburnette commented on #126
[code]

[2020-09-22 20:01] coolaj86 commented on #126
Fixed in https://github.com/webinstall/packages/pull/128/files

[2020-09-22 20:04] coolaj86 opened #129 "Change the name for fork's sake."
packages -> webi-installers

[2020-09-22 20:05] #129 closed

[2020-09-22 21:18] coolaj86 opened #130 "[Installer] Add `yq` (for editing YAML configs)"
# Add yq

https://github.com/mikefarah/yq

We want to add `yq` because it can make configuring `config.yml` files (such as `alacritty`s config file) much easier than writing custom code.

It's written in `go`, so it works consistently across Windows, Mac, and Linux.

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system

[2020-09-22 21:20] coolaj86 commented on #130
Things to make sure we have in the README:

(see the yq docs on their homepage)

- how to set an existing value nested in an object
- how to set an existing value nested in an array
- how to create a new value
- how to delete a value

[2020-09-23 02:30] #125 closed

[2020-09-23 02:32] coolaj86 commented on #126
@ryanburnette Would you please re-test and let me know if it's fixed?

[2020-09-23 04:34] coolaj86 opened #132 "Terminal.app: the best way to install a better Terminal (iTerm2)"
iTerm2 ~doesn't have a release API per se~ [has an "appcast" release API](https://gitlab.com/gnachman/iterm2/-/issues/9154), but the HTML gives better information, and looks pretty stable to me:

[code]

[code]

[code]

[2020-09-25 14:14] anuragsati commented on #107
Hello! I'm new here, can i take this?

[2020-09-25 17:18] coolaj86 commented on #107
Fixed in https://github.com/webinstall/webi-installers/pull/120

[2020-09-25 17:18] #107 closed

[2020-09-25 17:35] anuragsati commented on #105
Hello! I'm new here. I would like to work on this.

[2020-09-25 19:00] coolaj86 commented on #105
Awesome. Do it!

[2020-09-29 20:52] coolaj86 opened #136 "List Webi on up-for-grabs.net"
- https://up-for-grabs.net
- https://github.com/up-for-grabs/up-for-grabs.net/pull/2346

[2020-09-29 20:52] #136 closed

[2020-09-30 09:12] coolaj86 opened #137 "Needs more vim"
- [x] vim-essentials (meta package)
    - [x] vim-leader
    - [x] vim-shell
    - [x] vim-ale
    - [x] vim-spell
    - [x] vim-whitespace (tabwidth, trim trailing) (see https://github.com/webinstall/webi-installers/issues/117)
- [x] [nerdtree](https://github.com/preservim/nerdtree)
    - `map <C-n> :NERDTreeToggle<CR>`
- [ ] [ctrlp](https://github.com/ctrlpvim/ctrlp.vim)
[code]
- [ ] vim-superta

[2020-10-01 19:24] coolaj86 commented on #86
Or, this was done at some point... https://github.com/webinstall/webi-installers/tree/master/vim-prettier

[2020-10-01 19:24] #86 closed

[2020-10-01 21:06] coolaj86 commented on #82
Merged via https://github.com/webinstall/webi-installers/pull/133.

See also: https://github.com/webinstall/webi-installers/pull/139

[2020-10-01 21:06] #82 closed

[2020-10-02 13:19] meanmachin3 commented on #101
I'll take this one

[2020-10-04 03:09] SenorGrande commented on #122
Hi there, could I take a crack at this please?

[2020-10-04 03:21] coolaj86 commented on #122
Please do.

If you can put together a decent Cheat sheet for it from my notes above, that would be great too.

[2020-10-05 07:48] #126 closed

[2020-10-05 08:09] coolaj86 commented on #122
Moved to https://github.com/webinstall/webi-installers/pull/140

[2020-10-05 08:09] #122 closed

[2020-10-05 20:59] MichaelDMcCracken opened #141 "problem with Homebrew installer"
Brand new computer. Wouldn't install brew using webi, so I had to use the install command from brew.sh. Worked properly.

If I recall, the error had to do with unable to contact the software update server when installing xcode command line tools.

[2020-10-05 20:59] MichaelDMcCracken commented on #141
Brew installer asked for my password, but Webi didn't.

[2020-10-05 21:18] MichaelDMcCracken opened #142 "problem with My IP installer"
Just installed on brand new Macbook. No output on myip command

[2020-10-05 22:11] coolaj86 commented on #142
Thanks for the report.

ipify just changed their API 3 days ago:

Fixed in https://github.com/webinstall/webi-installers/commit/68cb795084086c3a1670e3ca865e5cd4ec1847ef

Hotfix deployed to production.

You can `webi myip` and the new version should work for you. 👍

[2020-10-05 22:13] #142 closed

[2020-10-05 22:19] coolaj86 commented on #141
Ah, yes, if you don't have xcode installed and haven't accepted the license agreement, it can't install brew.

Brew would ask you about these things from the webi installer, I think, but when you `curl | bash` you loose `stdin` to the pipe between `curl` and `bash`, so user input can't be prompted.

https://apple.stackexchange.com/a/213151/27465

[2020-10-05 22:19] coolaj86 commented on #141
Interestingly, I don't have xcode installed and it works for me.

Perhaps we just need to add this to the brew installer:

[code]

I'll have to test this on a fresh macOS VM to see if that will work.

[2020-10-05 22:47] coolaj86 commented on #117
Closing in favor of https://github.com/webinstall/webi-installers/issues/137

[2020-10-05 22:47] #117 closed

[2020-10-05 23:15] coolaj86 commented on #141
Fixed in https://github.com/webinstall/webi-installers/pull/143, pending review.

[2020-10-05 23:15] #141 closed

[2020-10-07 12:20] lttr opened #144 "Global npm packages are installed inside specific node folder"
## What were you trying to install (or what else went wrong)?

I am installing nodejs.

## What exactly did you do?

I have installed one version initially and now a different version. Before installing the second one I have installed several global npm packages.

## What went wrong?

I would expect global npm packages would still work. However they are installed inside the specific nodejs install

[2020-10-08 00:13] rodbv opened #145 "[Question] How to fix libssl dylib errors?"
## What were you trying to install (or what else went wrong)?

Webi

## What exactly did you do?

Ran `curl -sS https://webinstall.dev/webi | bash`

## What went wrong?

Got the following error:

[code]

## Which OS did you try on?

- [x] Mac
- [ ] Windows
- [ ] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (ARM-6

[2020-10-08 01:12] coolaj86 commented on #145
I'm guessing that you have `brew` installed and it had been 6 months since the last time you did a `brew update` and then you finally did, and then it screwed up everything that uses the network? Would that be correct?

The simplest solution: `sudo rm /usr/local/bin/wget` and try again.

The real solution: You probably need to [uninstall brew](https://github.com/homebrew/install#uninstall-homebrew

[2020-10-08 01:14] coolaj86 commented on #145
(and if it wasn't brew, something else you've installed has messed up `libssl`)

[2020-10-08 01:17] ryanburnette commented on #145
Which version of macOS?

`brew update` and/or `brew doctor`  might help, might also need to run `brew upgrade openssl`

[2020-10-08 03:02] rodbv commented on #145
Thanks for the quick response @coolaj86 and @ryanburnette! You are right it was a brew issue and uninstalling it/reinstalling it via webi worked!

[2020-10-08 03:02] #145 closed

[2020-10-08 03:29] coolaj86 commented on #145
Fair warning: Webi-installed brew will take longer compile times for certain programs (due to the linker needing to use fresh builds from `~/.local/opt/` rather than pre-built from the casks, etc).

If there are any tools that you use that have big dependency lists or long compile times - such as `ffmpeg`, `mingw`, or `musl-cross`, I'd recommend going ahead and letting those compile while you slee

[2020-10-08 03:32] coolaj86 commented on #144
This is actually not a bug. This is the expected (and desired) behavior.

One of the key points of webi is consistency.

Because each install of node is sectioned off, you'll never get weird module compatibility errors when switching between versions (i.e. `webi node@12`, `webi node@14`).

The trade off, however, is that you will need to reinstall your global npms when switching versions.

[2020-10-08 03:35] coolaj86 commented on #144
If you have a lot of globally installed programs, I'd recommend switching back to the prior version (`ls -d ~/.local/opt/node*`) and then getting the list via `npm list -g --depth 0`.

For example:

[code]

[code]

[2020-10-08 13:24] lttr commented on #144
Thank you for great explanation. I'm using webi for convenience, but the point with consistency is probably more important.

[2020-10-15 06:34] coolaj86 opened #148 "[Installer] Add ffmpeg"
# Add ffmpeg

We want to add `ffmpeg` because...

- it's normally ridiculously complicated to install and requires hundreds of dependencies through package management systems... but now we've got https://github.com/eugeneware/ffmpeg-static/releases

Note: this is a break to the general rule of no 3rd party builds... because in this case the 1st party builds either don't exist, or are terrible.

Th

[2020-10-15 09:18] ImagineZero0 commented on #148
Hey @coolaj86,
Can I work on this?

[2020-10-15 13:34] ryanburnette commented on #148
@ImagineZero0 Go for it!

[2020-10-15 17:23] ImagineZero0 commented on #148
Hey @ryanburnette,
I am going throught the provided steps but I get an error while running

`
node releases.js
`

which says that

node:11775) UnhandledPromiseRejectionWarning: TypeError: gHubResp.forEach is not a function
    at request.then (/home/imaginezero/Desktop/Github/webi-installers/_common/github.js:47:14)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188

[2020-10-15 17:41] coolaj86 commented on #148
You've reached your Github API limit for that IP address. You can create a `.env` with `GITHUB_TOKEN=xxxxxxx` with your own personal github access token, and the limit will go away.

[2020-10-15 17:42] coolaj86 commented on #148
The other possibility is that you've made a typo in the github owner and project name and so there's an error response rather than a list of releases.

[2020-10-16 08:39] proxium commented on #130
@coolaj86 I'll like to take this.

[2020-10-17 17:14] HARSH-SHETH opened #149 "[Installer] Add LF(Terminal Based File Manager)"
# Add LF
We want to add `LF(terminal based file manager)` because...

- It makes managing and navigating files super easy.
- It is cross platform and is written in GO language.

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How to create a webi Ins

[2020-10-17 17:41] coolaj86 commented on #149
@HARSH-SHETH please fill out the rest of the CHANGE-MEs.

It looks like https://github.com/jarun/nnn has static Linux builds, which is good, but you’ll have to open an issue about publishing static macOS and Windows builds.

Also, nnn is written is C, which is neither, safe, nor cross-platform, nor safe.

Is there something similar that’s written in a safe language like Go or Rust?

[2020-10-17 18:44] HARSH-SHETH commented on #149
I have filled out the CHANGE-MEs and replaced NNN with LF(cross platform and written in GO).

[2020-10-18 23:35] MichaelYogar commented on #148
Hi, am I allowed to work on this? I am new to open source!

[2020-10-19 17:54] coolaj86 commented on #148
@ImagineZero0 any update on this?

[2020-10-19 17:59] coolaj86 commented on #149
@HARSH-SHETH Would you be interested in adding this?

[2020-10-19 21:39] ImagineZero0 commented on #148
Hey @coolaj86, Sorry for the delay, I got caught up in some of my academic work, I will working on it now...

[2020-10-20 15:07] HARSH-SHETH commented on #149
Yes, I am interested in adding this.

Do I have to follow the steps written in the issue ?

[2020-10-21 22:08] #144 closed

[2020-10-22 09:34] coolaj86 commented on #132
Added in #152

[2020-10-22 09:34] #132 closed

[2020-10-25 14:29] ryanburnette opened #153 "Quieter installs for scripting"
I'm trying to get webi installs to quiet down for when I use it in provisioning scripts. The install command already has `-sS`, but there are progress bars that pollute my logs. What else can I do to quiet down webi installs?

[2020-11-01 07:18] coolaj86 commented on #153
I'm pretty sure that has to do with interactive / non-interactive shell mode over ssh.

It's probably `wget` that's making the noise. We may be able to add some sort of option to force it to rewrite the console in-place even in non-interactive mode: https://superuser.com/a/1551463/73857

[2020-11-01 07:29] coolaj86 opened #155 "[Installer] Add dotenv-linter"
# Add dotenv-linter

We want to add `dotenv-linter` because it's a nice cross-platform tool to check that a `.env` file is what it should be.

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

Also: We'll want to get this added to <https://dotenv-linter.github.io/#/installation>:

Mac, Linux:

[code]

Wi

[2020-11-02 23:12] coolaj86 opened #156 "[Installer] Add comby"
# Add comby

comby is a cross-platform tool for making repative source code changes easy.

https://github.com/comby-tools/comby

This is a bare binary, so it follows the gitea pattern.

[2020-11-02 23:54] coolaj86 commented on #156
It's not a static binary. :-/

Closing for now, but tracking <https://github.com/comby-tools/comby/issues/96>.

[2020-11-02 23:54] #156 closed

[2020-11-11 20:16] stavoxnetworks commented on #148
I will take this issue if you will permit me.

[2020-11-11 20:21] coolaj86 commented on #148
@stavoxnetworks Go ahead.

[2020-11-12 13:57] stavoxnetworks commented on #148
Te ffmpeg repo mentioned above no longer exists. Should I used the install repo ? https://github.com/q3aql/ffmpeg-install

[2020-11-12 14:09] coolaj86 commented on #148
Maybe I put the wrong link earlier. I believe this is the correct one:

https://github.com/eugeneware/ffmpeg-static/releases

There’s several similar repos. I must have copied from the wrong tab earlier.

[2020-11-12 14:12] stavoxnetworks commented on #148
Right on. That one is good. Thank you!

[2020-11-12 19:30] stavoxnetworks commented on #148
I am continuing to work on this. The ffmpeg installer seems to be broken due to an issue with install.js so Im stuck there for the moment. I will update you ASAP.

[2020-11-12 19:32] coolaj86 commented on #148
Don't try to follow any of their node instructions. Just follow the guide using github releases.

[2020-11-19 03:55] #148 closed

[2020-11-19 03:57] coolaj86 commented on #148
I'm hoping for compressed releases to come soon:
https://github.com/eugeneware/ffmpeg-static/issues/69

[2020-11-19 04:52] coolaj86 commented on #153
Should be fixed in https://github.com/webinstall/webi-installers/commit/36e76120c7f18d15487b48b63677d08c92ea6ac5

[2020-11-19 04:57] #153 closed

[2020-11-19 04:58] coolaj86 commented on #76
Fixed in https://github.com/webinstall/webi-installers/commit/9184a074ea58591d2602ff3671ed5c73e1bf7ef4.

[2020-11-19 04:58] #76 closed

[2020-11-21 21:02] ErichDonGubler commented on #109
This project has a fairly open license, and might be interesting to use as a reference implementation: https://github.com/philr/putty-key

[2020-11-23 03:43] patrick-gu commented on #155
Is it alright if I try this?

[2020-11-24 01:04] patrick-gu commented on #155
I added this in #159 if you would like to take a look. Thanks!

[2020-12-01 00:30] ryanburnette opened #160 "caddy cors"
This would make a good addition to the Caddy cheat sheet. It's a CORS snippet for Caddy.

https://gist.github.com/ryanburnette/d13575c9ced201e73f8169d3a793c1a3

[2020-12-02 20:54] coolaj86 commented on #130
@proxium Are you still interested in this?

[2020-12-05 07:25] abisuq opened #162 "[Solved] Apple Silicon (M1) Support"
## What were you trying to install (or what else went wrong)?

watchexec

## What exactly did you do?

I ran `curl -sS https://webinstall.dev/watchexec | bash` to install  watchexec.

## What went wrong?
[code]

Actually, it can run automatically through Rosetta 2

[code]

## Which OS did you try on?

- [x] Mac

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] M1 Macbook (amd6

[2020-12-05 21:10] coolaj86 commented on #162
The issue here is

1. Most programs have not updated for M1 chips yet
2. The Webi auto-detection needs an override for the new macs

I'm going to let this sit in the back of my mind today and see if an intelligent solution comes to me.

My guess is that I'm just going to have to force Mac arm64 to behave as Mac amd64. Ultimately I could use some sort of ranking system to prefer arm64 when availabl

[2020-12-07 20:40] lastlink commented on #160
pull requests are often more helpful for requests for documentation enhancements

[2020-12-08 17:40] ryanburnette opened #164 "npm permissions issue on ubuntu 20.04 on wsl2 after webi node@lts"
I'm having an issue in Ubuntu 20.04 on WSL2 w/ node@lts.

[code]

Permissions error.

[code]

Is this webi-related?

[2020-12-08 19:19] ryanburnette commented on #160
@lastlink I'm one of the project authors. This is just a note to self to add it at some point the future. I agree, though! :)

[2020-12-08 20:00] lastlink commented on #160
Sorry, I just see issues like this all the time, forgot to check.

[2020-12-08 20:27] ryanburnette commented on #160
All good :) thank you for keeping an eye out

[2020-12-09 19:05] coolaj86 commented on #164
In WSL you have standard Linux permissions for the virtual filesystem at `/`, but once you go into the `/mnt/c/`, which is the Host Windows file system, you have a different set of permissions. That's the problem you're dealing with.

[2020-12-09 19:05] #164 closed

[2020-12-09 19:39] ryanburnette commented on #164
[code]

Is that issue affecting this item?

[2020-12-09 20:20] coolaj86 commented on #164
No idea, but it’s not related to webi.

I’d say manually check and see if you can do the make directories and touch file operations in those folders.

I’d also try blowing away that NPM directory.

[2020-12-09 20:22] coolaj86 commented on #164
It wouldn’t surprise me at all if the update of NPM is what’s broken.

I generally just update node JS and use the pre-installed version.

[2020-12-09 20:23] coolaj86 commented on #164
But definitely the first thing to check is not running the command from a directory that it doesn’t have permissions to.

You never know what weird stuff is going on in the current directory.

[2020-12-16 01:56] coolaj86 commented on #162
@abisuq Can you verify that the `syncthing` installer is working for apple silicon?

[code]

[2020-12-16 01:57] coolaj86 commented on #155
Closing because this was merged. Thanks again. :)

[2020-12-16 01:58] #155 closed

[2020-12-16 02:00] coolaj86 opened #165 "[Docs] syncthing update"
Some things I want to add to the cheat sheet:

- How to add a second share folder (it's non-obvious that you need to manually set the id to avoid random share names)
- How to reset the GUI password.

[2020-12-18 03:33] abisuq commented on #162
@coolaj86

[code]

[2020-12-18 05:48] coolaj86 commented on #162
I just updated `pathman`. Please try again now.

[2020-12-19 06:54] abisuq commented on #162
@coolaj86 It works properly.
https://cln.sh/MICMeB

[2020-12-19 19:55] coolaj86 commented on #162
With `pathman` recompiled, it's fair to say that **Webi supports Apple Silicon**.

However, if you want to run programs that have not yet been updated to for Apple Silicon, your best bet is to have two instances of your Terminal (or iTerm, Alacritty, Kitty, etc) - one which runs with the "Open Using Rosetta" checked for x64 tools.

[2020-12-20 06:40] creedasaurus opened #167 "Request for mutagen"
Didn't know it existed until recently. Pretty nice utility if you sync code to a server for building remotely:

site: https://mutagen.io/
repo: https://github.com/mutagen-io/mutagen

[2020-12-20 06:51] coolaj86 commented on #167
Sounds good! Will you add it?

[2020-12-20 16:48] creedasaurus commented on #167
Yeah!

[2021-01-01 09:04] adithyasunil26 commented on #130
Please check #169

[2021-01-06 00:03] nikersch opened #170 "[Installer] Add K9s"
# Add K9s

K9s provides a terminal UI to interact with your Kubernetes clusters.

Site: https://k9scli.io/
Repo: https://github.com/derailed/k9s

I will add this myself.

[2021-01-06 09:25] #162 closed

[2021-01-06 09:29] coolaj86 opened #172 "Better M1 Support with latest Big Sur / iTerm2"
M1 support works great for Go programs, but the Rust toolchain still isn't updated, and Universal apps like iTerm2 are miscategorized.

We need a fallback mechanism that will select arm64 when available, but will otherwise select x64,

arm64 (Native):

[code]

x64 (Rosetta):

[code]

I think that if the API returns no results, and if the Arch is macOS arm64, and x86_64 matches too, then the API sh

[2021-01-07 20:26] nikersch opened #173 "[Installer] Add Kubectx"
Kubectx is a utility to manage and switch between kubectl / Kubernetes contexts.

Repo: https://github.com/ahmetb/kubectx

A colleague of me will add this.

[2021-01-07 22:37] coolaj86 commented on #172
Improved in https://github.com/webinstall/webi-installers/commit/0245e830a43cdd4a76b0b7181c2e12343786ee8f

Still not the _best_ solution, but very workable.

[2021-01-07 22:37] #172 closed

[2021-01-08 14:59] michaelpaesold commented on #173
As Nico said, I added a PR for this. Hope it's fine.

[2021-01-09 06:24] adithyasunil26 commented on #105
@coolaj86 Please take a look at my PR (#174).

[2021-01-09 20:11] coolaj86 commented on #167
@creedasaurus bump

[2021-01-09 21:09] coolaj86 opened #176 "[Docs] Fix typo in goreleaser Cheat Sheet"
Re: https://webinstall.dev/goreleaser/ and https://github.com/webinstall/webi-installers/tree/master/goreleaser

The example omits the 'v' prefix on the version string, but does include it in the template string, which is incorrect.

[code]

Should be like this:

[code]

[2021-01-11 10:01] #170 closed

[2021-01-18 19:17] coolaj86 opened #180 "Add pyenv"
`pyenv` is completely user-installable. It does not require `brew`, as most people assume.

The installer for this would be very much like the installer for Rust. It doesn't use the standard webi boilerplate, it's just a convenience for those who want it.

[code]

[2021-01-19 08:09] #173 closed

[2021-01-19 08:10] #130 closed

[2021-01-19 08:11] coolaj86 commented on #124
Oooh, shiny: https://github.com/mholt/archiver/issues/53#issuecomment-762600553

[2021-01-20 06:04] adithyasunil26 commented on #180
I have made a PR for this.  #181
I did not use pathman though. I checked if the user is on zsh or bash and appended the PATH and init statements to the .zshrc or .bashrc files respectively.

[2021-01-21 02:37] DNNhost opened #182 "problem with Caddy installer"
PS C:\Users\verawaa> serviceman.exe add --name caddy -- \

Error: '\' is not an executable.
You may be able to fix that. Try running this:
        chmod a+x \

run: reading config file: open ./Caddyfile: The system cannot find the file specified.

2nd try
PS C:\Users\verawaa> serviceman.exe add --name caddy -- \

Error: '\' is not an executable.
You may be able to fix that. Try running this:

[2021-01-28 08:07] coolaj86 opened #184 "[Installer] add rvm"
Because sometimes we need stuff that's built in ruby, and don't want to mess up the system ruby...

[code]

Should work with bash and zsh.
Not sure if this _can_ work with fish.

[2021-01-28 09:02] #180 closed

[2021-02-02 22:31] coolaj86 opened #187 "[Installer] Add rclone"
# Add rclone

We want to add `rclone` because it's a nice cross-platform alternative to `rsync` that can do most of the same things, plus many more, and is more performant for local copies (at least in my testing).

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Vi

[2021-02-03 08:40] coolaj86 commented on #182
It looks like you're running on Windows, but not adjusting the paths accordingly.

Try using Windows-style paths instead:

[code]

Also, I think that some of the examples may need to be updated for caddy v2

[2021-02-05 08:51] coolaj86 opened #189 "[Installer] Add sass"
# Add sass

https://github.com/sass/dart-sass/releases

We want to add `sass` because it sucks to do front-end development with the pure javascript version when we could have the speed of the "native" dart version.

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

Because the `sass` release embeds dart,

[2021-02-11 19:44] coolaj86 opened #191 "Improvement: Use Windows Junctions"
When I first wrote this I was aware that Windows had symlinks, but that they required administrator privileges.

However, Windows also has "junctions" which, for all intents and purposes, appear to be symlinks... but technically are not... and do NOT require admin privs.

**It would speed up Windows installs significantly to use junctions.**

[2021-03-03 08:10] coolaj86 commented on #187
Added.

[2021-03-03 08:10] #187 closed

[2021-03-03 08:10] #167 closed

[2021-03-03 08:11] coolaj86 commented on #189
was added

[2021-03-03 08:11] #189 closed

[2021-03-03 08:12] coolaj86 commented on #182
closing due to inactivity

[2021-03-03 08:12] #182 closed

[2021-03-06 17:21] creedasaurus opened #192 "Possible Feature Request: a webi config to save for dotfiles repos and the like"
So maybe this is beyond the simplicity of this project, but I was just thinking about it the other day and it's totally something I've been wanting, but haven't found yet.

So I tend to like to try out new operating systems, or just fiddling with old computers I have lying around and so I tend to like having some of the basics of my configs and programs set up quickly. At one point I was using [An

[2021-03-06 18:50] coolaj86 commented on #192
I want to keep webi itself very light, but here's what I think we might be able to do:

In the case of `webi --XXXXX`, we could check to see if `webi-XXXXX` is available as in <https://webinstall.dev/webi-XXXXX>.

Then whatever comes _after_ `--XXXXX` could be passed as an argument to `webi-XXXXXX foo`.

Is that something you think you could manage?

[2021-03-06 23:47] creedasaurus commented on #192
Oh interesting, I think that may work. Do you mind elaborating on this idea a little?
I guess I'm just wondering -- would this be a separate script in the `webi-installers` repo or would you rather it be a separate project that the `web-XXXX` path would direct to?

[2021-03-07 00:12] coolaj86 commented on #192
It should go in the same repo.

You can do some sort of bash switch case magic to capture everything that starts with `--`. I don't recall exactly, but it looks something like this:

[code]

Again, I don't recall the syntax off the top of my head, so that's completely made up, but you'll be able to figure it out by looking at bash docs.

It would go in https://github.com/webinstall/webi-installers

[2021-03-12 04:10] creedasaurus commented on #192
Ahaaa. Kk. That makes sense. Well, not sure I'll build something right away for this, but I've got it on the mind. Not sure if you prefer to archive issues if they aren't actively being worked on or anything, but I'm good with whatever.

[2021-03-14 18:36] thealanberman opened #193 "Request for awless"
https://github.com/wallix/awless

[2021-03-14 20:04] ryanburnette commented on #193
@thealanberman Take a look at #194. This is a working installer for awless, but it lacks the cheat sheet that we like to create for our installers. If you create the cheat sheet, we'll merge it into master. I'll give you editing rights on my repo at https://github.com/ryanburnette/webi-installers.

[2021-03-14 20:05] ryanburnette commented on #193
@thealanberman Here's where you set up the cheat sheet. Take a look at some of the others for inspiration. https://github.com/ryanburnette/webi-installers/tree/master/awless

[2021-03-15 20:40] #192 closed

[2021-03-15 23:08] snowbldr opened #196 "Request for kind"
https://kind.sigs.k8s.io/

kind is a tool for running local Kubernetes clusters using Docker container “nodes”.
kind was primarily designed for testing Kubernetes itself, but may be used for local development or CI.

[2021-03-17 10:35] pflegende opened #197 "tmux; lynx; pstree; mc; man"
often playing around on jupyterLabs;

sometimes it would be practical to have a splittet screen and also the great attach / deattach property ...

but int the binder environment  it means always to build a new docker for only one single step ...

short to say:
_would be very nice_

[2021-03-18 04:27] coolaj86 commented on #197
Can you get the links for the release APIs of each of those?

[2021-03-22 05:55] coolaj86 commented on #193
Hey @thealanberman, `awless` has been merged in, but could you do a PR to add a Cheat Sheet section?

[2021-03-22 06:07] coolaj86 commented on #197
@pflegende Can you get the links for the release APIs of each of those?

[2021-03-23 00:11] thealanberman commented on #193
yep, sorry, will try to write this up tonight. :)

- Al

On Sun, Mar 21, 2021 at 10:55 PM AJ ONeal ***@***.***> wrote:

[2021-03-24 17:03] coolaj86 commented on #193
bump :)

[2021-03-24 18:08] coolaj86 commented on #137
Leaving supertab for another day.

[2021-03-24 18:08] #137 closed

[2021-03-24 18:09] coolaj86 commented on #105
this was merged a while back, closing

[2021-03-24 18:09] #105 closed

[2021-03-24 18:10] coolaj86 commented on #34
closing with with label `someday`

[2021-03-24 18:10] #34 closed

[2021-03-24 18:10] coolaj86 commented on #74
This was merged a while back. Closing.

[2021-03-24 18:10] #74 closed

[2021-03-24 18:11] coolaj86 commented on #124
Maybe `someday`...

[2021-03-24 18:11] #124 closed

[2021-03-24 22:17] coolaj86 commented on #193
It's live: https://webinstall.dev/awless (and on the homepage https://webinstall.dev)

@thealanberman One last thing: will you make a PR to the awless repo and update the install instructions to include webi?

**macOS, Linux**:

[code]

**Windows**:

[code]

Or

[code]

[2021-03-24 23:01] coolaj86 opened #201 "Enhancement(Apple Silicon): Automatic fallback to x64 if no arm64"
We should be able to install x64 binaries from the arm64 terminal on Apple Silicon M1.

[2021-03-25 00:12] thealanberman commented on #193
done! (though had to change it a bit to meet the existing format they use
in their readme) https://github.com/wallix/awless/pull/294

- Al

On Wed, Mar 24, 2021 at 3:18 PM AJ ONeal ***@***.***> wrote:

[2021-03-25 01:53] coolaj86 commented on #193
💯

[2021-03-25 01:53] #193 closed

[2021-03-25 06:02] coolaj86 opened #203 "Typo Fix: Change "DroidSansMono Nerd Font" to "DroidSansMono NF" in Windows docs"
Just need a small change to these docs: https://github.com/webinstall/webi-installers/blob/master/nerdfont/README.md

[code]

I'd have done this myself... but I can't approve my own PRs, but I can approve _yours_! :D

[2021-03-25 06:09] iamayushdas commented on #203
DONE! #204

[2021-03-25 06:42] coolaj86 opened #205 "String Replace: change all occurrences of webi.ps1 with webi-pwsh.ps1"
# Simple String Replace
we need to do a string replace throughout the entire repository - all scripts, docs, etc - to use `webi-pwsh.ps1` instead of `webi.ps1`.

This would be done pretty easily with [rg](https://webinstall.dev/rg) and [sd](https://webinstall.dev/sd) (or Unix sed, or a similar GUI tool).

## Rational

The reason is that Windows treats both .ps1 and .bat files in PATH as executable

[2021-03-25 07:34] jcarterbohan commented on #205
I'll do it

[2021-03-27 23:18] coolaj86 opened #209 "[Installer] Add vim-shfmt"
# Add vim-shfmt

We already have [`shfmt`](https://webinstall.dev/shfmt), but that's only half of the job. Now we need to get [`vim-shfmt`](https://github.com/z0mbix/vim-shfmt) (<https://github.com/z0mbix/vim-shfmt>) to finish the job.

This will be similar to our `vim-prettier` and `vim-nerdtree` installers. This should also be included in `vim-essentials`.

[code]

[code]

[code]

**Note**: This

[2021-03-28 15:32] coolaj86 opened #210 "[Installer] Add codi.vim"
# Add vim-shfmt

We'd like to get [`codi.vim`](https://github.com/metakirby5/codi.vim) (<https://github.com/metakirby5/codi.vim>) as `vim-codi` because it lets us see code evaluations in realtime.

This will be similar to our `vim-prettier` and `vim-nerdtree` installers.

[code]

[code]

[code]

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](https://user-image

[2021-03-28 16:16] coolaj86 opened #211 "[Installer] Add shell-check"
# Add shellcheck

`shellcheck` is written in Haskell and available for Windows, Mac, and Linux. It does an amazing job at catching rookie mistakes (and old-habits-die-hard mistakes) in `bash`.

https://github.com/koalaman/shellcheck

Adding this will be about as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

For the c

[2021-03-28 16:26] iamayushdas commented on #211
Assign this to me

[2021-03-28 18:24] krylowicz commented on #209
I'll take this.

[2021-03-29 01:22] coolaj86 commented on #211
@iamayushdas Take it.

[2021-03-29 21:40] coolaj86 commented on #209
https://github.com/webinstall/webi-installers/pull/206/commits/d1fc251c5c5b58c0c81a499ebc9e56c96847478d

[2021-03-29 21:40] #209 closed

[2021-03-29 21:41] coolaj86 commented on #205
https://github.com/webinstall/webi-installers/pull/206/commits/7a5d0527cb93ba58efbadeea95080f824feb827d

[2021-03-29 21:41] #205 closed

[2021-03-29 21:41] #203 closed

[2021-03-29 21:46] coolaj86 commented on #111
# Totally Possible

https://bootableinstaller.com/macos/#windows

# On hold, pending interest

There may be diminishing returns in pursuing this. It's possible to upgrade up to Catalina (for certain), and maybe Big Sur but at some point there won't be an upgrade path from El Capitan to get there.

I'm willing to work on this, especially if I get more interest, but it's on hold for now.

[2021-03-29 21:46] #111 closed

[2021-03-29 21:47] coolaj86 commented on #109
On hold for now, pending stronger interest (which I don't have, since Windows 10 supports `ssh` out of the box, eliminating the need for `puTTY`)

[2021-03-29 21:47] #109 closed

[2021-03-29 21:53] coolaj86 commented on #196
@narcolepticsnowman @adithyasunil26 Please test https://beta.webinstall.dev/kind

I'd love it if you could help put together a more complete Cheat Sheet, @narcolepticsnowman. :)

[2021-03-30 02:47] devtayls commented on #176
on it

[2021-03-30 13:55] coolaj86 commented on #211
@iamayushdas Status update? I'm going to unassign you unless I hear back. This has become a higher priority.

[2021-03-30 15:02] Ingi-Hong commented on #211
Hi, I'd like to tackle this. If I need help what should I do?

[2021-03-30 15:36] coolaj86 commented on #211
@Ingi-Hong Take it. Reach out to me. You can comment here, or I'm coolaj86#9759 on Discord.

[2021-03-30 15:38] devtayls commented on #176
Went ahead and created a pull request for this issue.

[2021-03-30 19:35] Ingi-Hong commented on #211
I sent a friend request on discord

Also, I'm getting an error whenever I try to test my install.sh:
[code]

![Screenshot from 2021-03-30 15-26-31](https://user-images.githubusercontent.com/73002018/113045127-73c94d80-916c-11eb-8505-1605a51b664b.png)

That's the created test file ^^
I'm not sure where the issue originates. Perhaps I'm not treating the file correctly in the template. I'm pretty sur

[2021-03-30 20:48] coolaj86 opened #213 "[docs] Video for Vim Essentials"
Deserves an overview video, for sure.
https://webinstall.dev/vim-essential/

[2021-03-31 17:47] devtayls opened #214 "Request for PHP"
Do you have any plans to support the LAMP / *AMP stack?

That can be pretty notoriously flaky for newcomers.

[2021-03-31 18:55] Ingi-Hong commented on #211
Update:

1. I installed pathman to get around the issue of line 215. I'm not sure if I was supposed to do that before testing.

2. shellcheck is installing as a folder in .local/bin. Is it supposed to do that?

![Screenshot from 2021-03-31 14-37-13](https://user-images.githubusercontent.com/73002018/113193995-9b80ea00-922e-11eb-9393-09a45aed6c23.png)

3. I'm getting success when I test
[code]

but

[2021-03-31 22:36] coolaj86 commented on #214
We have:
- Mac, Windows, Linux support
- Caddy (web server)
- PostgreSQL (database)
- Node

I tried getting MariaDB a while back, but the primary mirrors are so slow that the download would take hours.

I would never recommend Apache to anyone. As the first of its kind, it's also the worst of its kind. Every other webserver option is better. If someone were to create an installer for it, however,

[2021-03-31 22:38] coolaj86 commented on #211
Open up a PR with a `WIP: ` prefix so I can see what you're doing.

[2021-03-31 22:41] coolaj86 commented on #197
Not having heard anything back, I'm going to close this.

I'm not opposed to having these if someone else does the work, but I'm not going to work on it right now because those aren't modern cross-platform tools that really fit with the goal of Webi.

[2021-03-31 22:41] coolaj86 commented on #197
P.S. Have you tried `screen`? Or [`lf`](https://webinstall.dev/lf/) (like `mc`, I think, but cross-platform)?

[2021-03-31 22:42] #197 closed

[2021-04-01 21:35] pflegende commented on #197
excuse me for have you waiting for me.
Thank you for the proposals.
I know screen, will check it out in the destination environment (jupyter).
Switched for me from screen to tmux because of the remote capabilities in tmux.
But may be, screen can give us here enough good new experience in the jupyter environment.

And lf is very cool thing. Thank you for this.
I tried out also with webinstall in ju

[2021-04-01 21:38] pflegende commented on #197
oh, sorry, forgot:
will searching forward the api's ...

cu
:)

[2021-04-02 14:18] coolaj86 opened #216 "[Installer] Add SQLite"
# Add SQLite

The worlds most popular database (on pretty much every phone and computer in one form or another).

We can split this into multiple tasks, which can be done by different people:

1. Create `releases.js`. This appears to be the releases "API": https://sqlite.org/download.html Is there something better?
2. Create the install.sh (follow instructions below)
3. Create the install.ps1 (fol

[2021-04-02 21:07] ishanpan commented on #216
I would like to work on task #2 and #3.

[2021-04-04 06:58] ishanpan commented on #216
I would like to work on tasks 2 and 3. @coolaj86

[2021-04-04 20:21] coolaj86 opened #217 "[easy] Cleanup ps1 files with minor text change (does not require understanding ps1)"
Basically this is two steps:

1. Every instance of `New-Item` that is nested in an `IF ... Test-Path` should be de-nested - the `IF` is redundant
[code]
2. Every instance of `New-Item` and `Remove-Item` should be updated to end in `| out-null`
[code]

# Tips

You can of course use your familiar GUI tools, but...

If you want to get a quick list of all of the `install.ps1` files throughout the repo

[2021-04-05 07:29] ishanpan commented on #217
I would like to work on this. @coolaj86

[2021-04-07 05:20] coolaj86 opened #220 "Enhancement: Download to ~/Downloads/webi"
It would be helpful to have the nesting just to not clutter my cluttered downloads folder even further.

[2021-04-09 02:42] coolaj86 commented on #211
I'll want to put this in the cheat sheet:
https://gist.github.com/nicerobot/53cee11ee0abbdc997661e65b348f375

[2021-04-09 06:32] ajeetdsouza opened #221 "[Windows] ripgrep installer should be an alias of rg"
## What were you trying to install (or what else went wrong)?

ripgrep

## What exactly did you do?

[code]

## What went wrong?

The installer download failed.

[code]

## Which OS did you try on?

- [ ] Mac
- [x] Windows
- [ ] Linux

PowerShell 7.1.1

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (ARM-64)
- [ ] Other (

[2021-04-09 06:41] ajeetdsouza opened #222 "[Bug] bat install issue"
## What were you trying to install (or what else went wrong)?

bat

## What exactly did you do?

[code]

## What went wrong?

Copying bat failed. It expected `bat.exe`, what it got was `bat-v0.18.0-x86_64-pc-windows-gnu`.

[code]

## Which OS did you try on?

- [ ] Mac
- [x] Windows
- [ ] Linux

Powershell 7.1.1

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Deskt

[2021-04-09 18:20] #211 closed

[2021-04-15 07:44] coolaj86 opened #225 "Add nssm.exe"
A good one to have, for sure. Might use a github mirror to cut down on dev time

[2021-04-15 07:45] coolaj86 commented on #222
Thanks for reporting this. I'll try to debug it this weekend.

[2021-04-15 08:01] ajeetdsouza commented on #222
Slightly off-topic, but webi should immediately return on any kind of error, rather than proceeding and crashing somewhere later on. Once we have that set up, we can have CI running on Windows / macOS / Ubuntu that test the installers on every commit.

[2021-04-15 08:34] coolaj86 commented on #222
It should be doing that in bash already. I don't know how to do that with PowerShell. Want to figure it out?

[2021-04-15 10:18] ajeetdsouza commented on #222
@coolaj86 PowerShell doesn't have an alternative to `set -e`, unfortunately - you have to keep checking the `"$LastExitCode"` of the program. You might find this StackOverflow answer useful: https://stackoverflow.com/a/11450852/1812610

[2021-04-19 19:02] coolaj86 commented on #213
Also need to add the bit about `echo -e "VISUAL=$(command -v vim)\n$(cat ~/.bashrc)" > ~/.bashrc`

[2021-04-21 03:54] coolaj86 opened #226 "[update] add useTabs to prettier cheat sheet"
Supposedly `"useTabs": false` is the default... but I often find that it is not.

[2021-04-21 14:00] makuzaverite opened #227 "installing homebrew on linux"
I'm trying to install homebrew on Linux ubuntu 20.04 running inside wsl but the installation fails

## What went wrong?

![image](https://user-images.githubusercontent.com/53856673/115566579-a58c8a80-a2ba-11eb-9480-8389c6ce1f9f.png)

## Which OS did you try on?

- [ ] Mac
- [x] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86

[2021-04-21 14:03] coolaj86 commented on #227
Thanks for the report.

I'll have to add a check for Linux and gcc rather than assuming that `brew` is for Mac only. I knew that it could work on Linux, but I didn't know there was much of a market for that.

Curious: Why use brew on Linux? What are you intending to install with brew?

[2021-04-21 16:25] makuzaverite commented on #227
They are packages that i really on which requires me to have it like github cli

[2021-04-22 08:18] makuzaverite opened #228 "[Windows] NerdFont: install requires manual button click"
When I install nerd font on my windows machine  it works but, when I try to restart the computer the font fails, I'm not sure what's the cause for this but this is serious issue with this installer.

[2021-04-22 08:20] makuzaverite commented on #228
The font fails booth on windows and wsl at the same time so fix it every time i boot my laptop i run `curl.exe -A "MS" https://webinstall.dev/nerdfont | powershell` in  powershell

[2021-04-22 14:26] coolaj86 commented on #228
As a workaround see if you can manually right-click install or open and install the font:

It should be in

[code]

And installing it manually should add it to

[code]

Do you happen to be on a roaming profile or something else that might cause local machine settings to get reset at every login?

[2021-04-22 16:15] makuzaverite opened #229 "Installer for deno"
I'm installing deno on my linux machines using webi but the installer doesn't work

![image](https://user-images.githubusercontent.com/53856673/115748725-b8748d00-a396-11eb-9e89-be8479112afb.png)

[2021-04-22 16:43] makuzaverite commented on #228
I fixed it by executing the installation of fonts in `%UserProfile%\AppData\Local\Microsoft\Windows\Fonts
` Thanks for the quick response

[2021-04-22 18:15] coolaj86 commented on #229
Hmmm... they may have changed the naming scheme of their releases. I’ll have to check.

[2021-04-22 18:17] coolaj86 commented on #229
Naming looks good

https://github.com/denoland/deno

I’ll have to investigate...

[2021-04-26 05:24] coolaj86 commented on #229
@makuzaverite I think the problem is that you don't have `unzip` installed.

All of the deno releases are only available in `zip`, which is unusual for linux:

https://webinstall.dev/api/releases/deno@.tab?os=linux&arch=amd64

[code]

I'll close this out, but if you have a suggestion on how to make the error message more clear, I'm open to a PR for that.

[2021-04-26 05:24] #229 closed

[2021-04-26 06:51] coolaj86 commented on #228
cc/ @jkunkee Could you lend your expertise?

This only loads a font for the current session: https://github.com/webinstall/webi-installers/blob/master/nerdfont/install.ps1

I also found a script that supposedly works for system-level fonts, but my attempts and adapting it to use `HKCU` instead of `HKLM` have floundered. https://github.com/PPOSHGROUP/PPoShTools/blob/master/PPoShTools/Public/FileSys

[2021-04-26 07:54] coolaj86 commented on #201
This went into the web app:

[code]

[2021-04-26 07:54] #201 closed

[2021-04-26 07:56] coolaj86 commented on #162
# Update: amd64 is now the default fallback

It's no longer necessary to use the x64 emulation trick. amd64 is now the default fallback when macos/arm64 is missing.

https://github.com/webinstall/webi-installers/issues/201

[2021-04-26 08:00] coolaj86 commented on #228
As a temporary workaround while waiting on more info from Kunkee, this now pops up the font installer dialog.

[2021-04-26 08:02] coolaj86 commented on #221
It's just missing the `rg` alias. Do this for the time being:

[code]

[2021-04-26 08:03] #217 closed

[2021-04-26 08:04] coolaj86 commented on #217
Just for reference, here's what I did to further clean things up:

[code]

[2021-04-26 08:34] coolaj86 commented on #227
This should be fixed now as of https://github.com/webinstall/webi-installers/commit/aa61db993471a5ec35fadbc050126735b9fc200a. Will you try again?

Also, it looks like `gh` (GitHub CLI) is something we could added to Webi: https://github.com/cli/cli/releases/tag/v1.9.2

What other tools do you install via brew? What's the list?

[2021-04-26 08:36] coolaj86 opened #230 "[Cheat Sheet] Add `gh` GitHub CLI"
# Update: Just need the Cheat Sheet

The installer has been done. Now we just need someone to fill out the cheat sheet:

Just edit this README, and add the goodies that are the most useful for you (and that you think will be the most useful to others): https://github.com/webinstall/webi-installers/blob/add-gh/gh/README.md

A TL;DR sort of thing would be great. :)

P.S. Here's are what good cheat s

[2021-04-26 08:36] coolaj86 commented on #227
I'm going to close this out, but I'd still like to know your list.

[2021-04-26 08:36] #227 closed

[2021-04-26 08:45] coolaj86 commented on #222
# How to Fix

The path in the install file has changed. The fix is to change https://github.com/webinstall/webi-installers/blob/master/bat/install.ps1 to match the new path.

[code]

[2021-04-26 11:35] makuzaverite commented on #227
Still not able to install brew the command shows nothing

[2021-04-26 14:44] coolaj86 commented on #227
Can you be more specific?

I just ran `webi brew` on two different Ubuntu Linux VPSes and, after 400 mb of download 🤮, it installed and when I run `brew --help` I see the brew help.

Sometimes you have to logout and log back in (or re-open your terminal) for the settings to take effect.

[2021-04-27 15:25] onwuvic commented on #230
@coolaj86 can I pick this up?

[2021-04-27 17:51] coolaj86 commented on #230
@onwuvic Do it!

[2021-05-02 17:10] coolaj86 opened #233 "[Bug] `curl ... | bash` does NOT install package"
Every page says to install the package like so:

[code]

But running that does nothing.

[2021-05-02 17:13] coolaj86 commented on #233
This was due to a change in whitespace causing a template match to fail 🤦‍♂️.

This was fixed in the web api, not this repo.

The `webi` command was still working, and the `curl ... | bash` was installing webi... but the final step of then calling the package was not called because the package name was empty in the bootstrap / template script (in this repo).

[2021-05-02 17:13] #233 closed

[2021-05-02 18:49] coolaj86 commented on #228
Closing now that there's a workaround in place, but still hoping to hear back from @jkunkee.

[2021-05-02 18:49] #228 closed

[2021-05-03 07:38] anshdhinhgra47 commented on #210
Hey @coolaj86! I'd like to work on this issue. Can I take this up ?

[2021-05-03 22:03] coolaj86 commented on #210
@anshdhinhgra47 Do it!

[2021-05-03 22:03] coolaj86 commented on #230
@onwuvic Update?

[2021-05-04 17:20] anshdhinhgra47 commented on #210
Thank you :)

[2021-05-05 04:50] onwuvic commented on #230
@coolaj86 I have gone halfway. I'm just currently tied up at work. I hope to complete it before or during this weekend. Hope that is okay?

[2021-05-05 06:24] onwuvic commented on #230
@coolaj86 I will get it done by Friday.

[2021-05-05 15:57] anshdhinhgra47 commented on #210
Hi @coolaj86! I was just trying to run the webi installer when the following errors occurred:
<img width="1197" alt="Screenshot 2021-05-05 at 9 23 26 PM" src="https://user-images.githubusercontent.com/56676059/117171216-50876300-ade8-11eb-8745-9ca866d9a6dd.png">

I check the repo and there weren't any releases for this one:
<img width="578" alt="Screenshot 2021-05-05 at 9 23 56 PM" src="https://us

[2021-05-06 06:01] jkunkee commented on #228
TL;DR: I think [p/invoke from PowerShell](https://devblogs.microsoft.com/scripting/weekend-scripter-use-powershell-and-pinvoke-to-remove-stubborn-files/) of [AddFontResource](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-addfontresourcew) ([p/invoke page for AddFontResourceEx](http://pinvoke.net/default.aspx/gdi32.AddFontResource)) combined with another p/invoke of [`SendMess

[2021-05-07 13:07] WaylonWalker opened #235 "Add gitui"
https://github.com/extrawurst/gitui

gitui is a blazing fast gitui for the terminal. If you are often typing out git commands at the command line give gitui a try,  It takes fewer keystrokes (unless you have a crazy number of dirty files) and you can automatically see the diff of what you are committing in a split pane.

[2021-05-09 18:09] ryanburnette opened #236 "Thank you message doesn't show package name"
Just installed Webi on Ubuntu 20.04 and the thank you message has a blank where it should say which package is installed.

[code]

[2021-05-10 05:45] onwuvic commented on #230
@coolaj86 I am having issues with the installation each time I run this `bash install-gh.sh` I get this `install-gh.sh: line 225: /Users/victoronwuzor/.local/bin/webi: No such file or directory`. Here are the screenshots.

I have watched the video and try changing this `mv ./gh-*/bin "$pkg_src_cmd"` and this `Move-Item -Path ".\gh-*\bin\gh.exe" -Destination "$pkg_src_bin"` but the same thing still

[2021-05-10 06:30] onwuvic commented on #230
I also have a WIP Pull Request up https://github.com/webinstall/webi-installers/pull/237

[2021-05-11 20:37] #123 closed

[2021-05-12 12:48] WaylonWalker commented on #235
Do you have a good example to go from that uses binaries zipped in a github release?

[2021-05-12 13:21] elasticdotventures opened #239 "Request for _b00t_ integration discussion"
Hi, I'm presently developing something which as a high degree of overlap with webi.
http://github.com/elasticdotventures/_b00t_

I've had to invent quite a few of similar mechanisms but I'm planning to add webi in places where you have web installers.  If you're module can run bash then you can probably use my installers.

I like how you've configured everything to install in .local quite a bit.

[2021-05-13 10:27] fu-sen opened #240 "Addition of `webi hugo@vX.Y.Z`"
Hugo themes often don't support the latest version, so you may want to fix the Hugo version.
`webi` seems to be able to do that:
[code]

But there is no mention of this:
<https://webinstall.dev/hugo/>
<https://github.com/webinstall/webi-installers/tree/main/hugo>

I've seen requests around here in some web services, so I'm sure some people are asking for this.

[2021-05-13 10:44] fu-sen opened #241 "Add Windows to Hugo"
<https://webinstall.dev/hugo/>
<https://github.com/webinstall/webi-installers/tree/main/hugo>

Why is there no Windows here?
I use [Scoop](https://scoop.sh/) for a local build on Windows,
Some people would like to install using webinstall.dev or webi.

[2021-05-13 11:23] fu-sen commented on #241
I found this. It had no installation script created:
https://github.com/webinstall/webi-installers/pull/24

This can be maintained as a TODO.
The Windows version of `hugo` is also a standalone executable like` caddy`.

[2021-05-14 20:21] coolaj86 opened #243 "[Installer] Add Zola"
# Add [Zola](https://github.com/getzola/zola)

We want to add `zola` because...

It's a static-site-generator written in rust that works consistently across Windows, Mac, and Linux.

- https://github.com/getzola/zola/releases/tag/v0.13.0

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create

[2021-05-20 06:04] derailed opened #244 "[Bug] K9s install does not pull the correct release."
## What were you trying to install (or what else went wrong)?

k9s

## What exactly did you do?

`curl https://webinstall.dev/k9s | bash`

## What went wrong?

It says it install the latest revision but does not really. ie installer claim v0.24.9 is installed but in reality v0.23.7 is installed.

NOTE: I didn't contribute the original installer but need to understand what needs to happen to fix th

[2021-05-20 06:37] iamc opened #245 "Complementary files (man, bash_completion, etc) installation"
I see that most, if not all, the installers do not install neither man pages, nor bash, zsh etc. completion files when available. Would PRs covering this be accepted?

[2021-05-21 18:10] Tiparium commented on #243
Can I take this?

[2021-05-21 19:36] coolaj86 commented on #243
@Tiparium Do it!

[2021-05-21 21:16] Tiparium commented on #230
@onwuvic Did you happen to ever solve the `install-gh.sh: line 225: /Users/victoronwuzor/.local/bin/webi: No such file or directory` issue? I'm trying to get zola working and I'm having the exact same problem down to the same line number.

[2021-05-21 21:25] Tiparium commented on #243
@coolaj86 I have been encountering an issue where upon running `bash install-zola.sh` I get the following:

`Saved as /c/Users/Tiparium/Downloads/zola-v0.13.0-x86_64-pc-windows-msvc.zip`
`Extracting /c/Users/Tiparium/Downloads/zola-v0.13.0-x86_64-pc-windows-msvc.zip`
`Installing to /c/Users/Tiparium/.local/opt/zola-v0.13.0/bin/zola`
`install-zola.sh: line 225: /c/Users/Tiparium/.local/bin/webi: No

[2021-05-22 09:16] Christian-Rau opened #246 "[Bug] get an error when starting win.terminal, can´t find font"
## What were you trying to install (or what else went wrong)?
Followed the "tutorial"
___
Install Nerd Font
Paste this into a Command or cmd.exe prompt.

___

## What exactly did you do?

Pasted this into PS prompt.

`curl.exe -A "MS" https://webinstall.dev/nerdfont | powershell`

## What went wrong?

It broke my font settings, so that the **droidsansmono NF** didn't load and get an error when sta

[2021-05-23 18:56] onwuvic commented on #230
@Tiparium  No, I was not able to solve it.

[2021-05-24 17:14] coolaj86 commented on #230
@Tiparium @onwuvic Do you have `webi` installed? https://webinstall.dev

[2021-05-24 17:19] coolaj86 commented on #230
Oh, I think I see what's happening. The `No such file or directory` is coming from the `install-gh.sh`, which means that on that line you are referencing a file that doesn't exist, or has the wrong name.

You need to double check the contents of `tar xvf gh_1.9.2_macOS_amd64.tar.gz` and make sure that the name you're trying to use actually matches the name of the extracted file.

[2021-05-24 17:22] coolaj86 commented on #246
It should have opened the font book, prompting you to click the "Install" button in the GUI to finish the installation. Did that happen?

What do you mean it "broke" your font settings?

[2021-05-24 17:26] coolaj86 commented on #244
It seems to be installing the correct version to me:

- https://webinstall.dev/api/releases/k9s@.tab?os=macos&arch=amd64&pretty=true
- https://webinstall.dev/api/releases/k9s@.tab?os=linux&arch=amd64&pretty=true

[code]

[code]

[code]

[code]

[2021-05-24 17:28] coolaj86 commented on #244
Perhaps you used some other install method previously and have a custom `PATH` configuration such that the prior version of `k9s` is what takes priority?

[code]

[code]

[2021-05-24 17:30] coolaj86 commented on #244
Closing because I believe this is a system-specific error, but feel free to re-open if closer examination reveals that to not be the case.

[2021-05-24 17:30] #244 closed

[2021-05-31 06:20] onwuvic commented on #230
@Tiparium Have you been able to fix it? I did mine by first installing webi [https://webinstall.dev](https://webinstall.dev) then I changed this `mv ./gh-*/bin/gh  "$pkg_src_cmd"` to `mv ./"$pkg_cmd_name"*/bin/gh "$pkg_src_cmd"` on `install-gh.sh` file.

[2021-05-31 20:08] Tiparium commented on #230
Installing webi got my `install-zola.sh` working without making any code changes. Still working on the `install.ps1`, which is currently getting as far as creating the correct file structure in `[user]/.local/opt/zola-v0.13.0/bin`, but the actual executable is nowhere to be found. I'm still trying to fix this.

[2021-06-01 20:08] s0kil opened #247 "Request for helix"
https://github.com/helix-editor/helix

[2021-06-05 11:01] ryanburnette opened #249 "[bug] ssh-adduser fails to change ownership of /home/app/.ssh if /root/.ssh/authorized_keys is not present"

[2021-06-05 12:07] mouadmem16 opened #250 "Request for kubectl"
The kubernetes command line tool, kubectl, allows you to run commands in Kubernetes clusters. You can use kubectl to deploy applications, inspect and manage cluster resources, and view logs. For a complete list of kubectl operations
https://kubernetes.io/fr/docs/tasks/tools/install-kubectl/

[2021-06-05 20:12] coolaj86 commented on #250
Hmmm... I'm probably not the right person to take this on since I'm not using kubectl, but I did a little digging and perhaps someone else can confirm if these are the correct release API urls and such:

- Latest version: https://storage.googleapis.com/kubernetes-release/release/stable.txt
- All platforms?? https://storage.googleapis.com/kubernetes-release/
- Download??? `archive/anago-v1.10.0-alp

[2021-06-09 18:58] coolaj86 opened #251 "Update docs for dotenv-linter v3.0"
dotenv-linter v3.1 is out. A number of options have changed. Our cheatsheet should be updated according to the new usage.

## Our Cheat Sheet

Deployed: https://webinstall.dev/dotenv-linter/

Source: https://github.com/webinstall/webi-installers/blob/main/dotenv-linter/README.md

## Top-Level Usage

[code]

[code]

### Fix Usage

[code]

[code]

### Compare Usage

[code]

[code]

## Changes from D

[2021-06-10 15:47] simranbiswas commented on #251
Hello, is this issue solved yet? If not, can I work on it?

[2021-06-13 05:50] coolaj86 commented on #251
@simranbiswas Go ahead.

[2021-06-13 06:02] coolaj86 opened #253 "[Installer] rnd"
# Add `rnd`

This is two parts:
1. I want a program called `rnd` that spits out a random string
2. I want that program installable via webi

Currently I have some aliases for creating random strings:

[code]

It would be trivial to create a cross-platform Go program that spits out a random string.

[code]

[code]

This could be as simple as copying `_example`, updating the github releases
info, an

[2021-06-13 18:08] simranbiswas commented on #251
@coolaj86 Can you give a little more guidelines as to at which position or in what order these changes need to be made in the documentation?

[2021-06-15 17:54] coolaj86 commented on #196
@snowbldr Would you mind filling out the Cheat Sheet for `kind`?

Just click edit its README, and add the goodies that are the most useful for you (and that you think will be the most useful to others):
https://github.com/webinstall/webi-installers/blob/add-kind/kind/README.md

A TL;DR sort of thing would be great. :)

[2021-06-15 17:56] coolaj86 commented on #196
P.S. Here's are what good cheat sheets look like:
- https://webinstall.dev/node/
- https://webinstall.dev/rg/

[2021-06-15 18:18] coolaj86 opened #255 "[Bug] `z` (zoxide) should put `z` in PATH"
One of the core tenants of `webi` is that when stuff installs, it should Just Work™.

zoxide should follow the same "reasonable defaults" pattern.

I get that some people may want to customize their setup, but if they feel that webi's sane defaults are too intrusive to be a good starting point, maybe webi isn't for them.

At the least bash, zsh, and fish (what I view as "the common shells" should

[2021-06-15 19:04] snowbldr commented on #196
Thanks for the reminder, and sorry for the delay. I hope those additions are sufficient.

[2021-06-15 20:26] ajeetdsouza commented on #255
Reiterating what I said on the other thread, I would _never_ use a utility that just edits my config files for the sake of "sane defaults" -- they're _config_ files because _I configure them_.

- It's _extremely_ intrusive. In fact, I don't know of a single other utility that inserts itself into a user's `.bashrc` or equivalent. Even shell plugin managers give you a couple of lines to copy-paste i

[2021-06-15 21:25] coolaj86 commented on #255
That's subjective. It's not peaking on you in the shower. It's making things work.

Webi itself does this (via `pathman`), and continues to use `pathman` for everything you install that goes into `~/.local/opt/x/bin`. Brew does this. Last time I checked cargo does this as well, but it doesn't do it for all shells equally well.

Then if you don't like what it does you can just `git diff` or similar

[2021-06-15 21:37] #196 closed

[2021-06-15 21:39] coolaj86 opened #257 "[Template] Add Cheat Sheet for XYZ"
Would you mind filling out the Cheat Sheet for `CHANGEME`?

Just edit this README, and add the goodies that are the most useful for you (and that you think will be the most useful to others): https://github.com/webinstall/webi-installers/blob/add-CHANGEME/kind/README.md

A TL;DR sort of thing would be great. :)

P.S. Here's are some examples of what good cheat sheets look like:

https://webinstall

[2021-06-15 21:46] #257 closed

[2021-06-16 06:47] coolaj86 commented on #255
@ajeetdsouza ^^ thoughts?

[2021-06-16 06:53] ajeetdsouza commented on #255
Makes sense, I'll create a PR with initialisation instructions soon. I'm still opposed to the "install for all shells" script, though -- I'll put instructions for bash, zsh, and fish, and a link below that for users of other shells.

[2021-06-18 06:10] elasticdotventures opened #259 "[Bug] Alpine Linux Support"
## What were you trying to install (or what else went wrong)?
[code]

## What exactly did you do?
[code]

## What went wrong?

Thanks for using webi to install 'webi@stable' on 'Linux/x86_64'.
Have a problem? Experience a bug? Please let us know:
        https://github.com/webinstall/packages/issues

failed to add "/root/.local/bin" to PATH: "" is not a recognized shell and found none of .bashrc,

[2021-06-18 06:20] coolaj86 commented on #259
'webi' installed to ~/.local/bin/webi

What shell are you using? And what config file do you want to use?

If you intend to use bash, you probably want to `touch .bashrc`.

[2021-06-19 21:27] coolaj86 commented on #259
I don't think this is actually a bug, but rather that you don't have a config file for your shell.

Since I haven't heard back from you, so I'm going to close this out. Feel free to re-open if I'm wrong.

[2021-06-19 21:27] #259 closed

[2021-06-19 21:28] coolaj86 commented on #249
Fixed this. Also, it shouldn't run if `/root/.ssh/authorized_keys` isn't present.

[2021-06-19 21:28] #249 closed

[2021-06-19 21:29] coolaj86 commented on #246
I think this was fixed a few days ago by a PR. The issue appeared to be some bad whitespace that (surprise) I didn't see.

[2021-06-19 21:29] #246 closed

[2021-06-19 21:30] coolaj86 commented on #251
@simranbiswas If you don't use `.env` files and `dotenv` doesn't make sense to you as to what it does or what's most useful about it, then this is probably not a good issue to take on.

[2021-06-19 22:04] coolaj86 opened #260 "Postgres Cheat Sheet updates"
## How to create a table with a Random ID

Auto-incrementing IDs are a bad idea. If you ever grow your database beyond a single instance it WILL cause problems. Postgres, of course, being a good database, has a built-in function for using random IDs.

[code]

## How to backup a database

Backup _everything_ including permissions and such:

[code]

Backup a single database:

[code]

See also:
- <ht

[2021-06-20 05:11] simranbiswas commented on #251
@coolaj86 alright will not take this issue. Thanks

[2021-06-20 15:20] ryanburnette opened #261 "problem with keypairs installer"
[code]

[2021-06-20 15:38] coolaj86 commented on #261
Fixed.

It wasn't fetching from the Github Releases API because I had to update my Github API Token yesterday and failed to copy it into both places where it was needed.

[2021-06-20 15:38] #261 closed

[2021-06-25 11:45] ryanburnette opened #262 "[Installer] Add vim-airline"
I'm going to add vim-airline because I use it.

[2021-06-25 11:45] ryanburnette commented on #262
@coolaj86 I really need the themes too, do you think I should do two separate installers or one installer that installs vim-airline and the themes repo?

[2021-06-26 00:29] creedasaurus opened #263 "[Bug] Website: Firefox 89 "copy to clipboard" button under command doesn't work"
## What were you trying to install (or what else went wrong)?
Anything. Although this is really simple and I dont often use the button. I just noticed it didn't work on Firefox, so it may confuse some people.

## What exactly did you do?
Clicked the "Copy" button on https://webinstall.dev/jq/

## What went wrong?
No page indication of anything, other than when you go to paste, it is just the previ

[2021-06-26 00:42] ryanburnette commented on #263
I'm on it.

[2021-06-26 01:07] creedasaurus commented on #263
Oh, not sure if it's also a bug, or expected, but on Safari, the button doesn't even show. I guess it's better that it not show if it can't work, but if it's not a hard fix, could be useful, haha!

[2021-06-26 14:07] ryanburnette commented on #263
It's been on my to-do list to improve the copy to clipboard feature anyway. I need to update it and do some more testing. Thanks for opening the issue.

[2021-06-26 15:41] creedasaurus opened #264 "[Bug] Noticed the `gprox` installer isn't working since it's latest release"
## What were you trying to install (or what else went wrong)?
My own little cli [gprox](https://webinstall.dev/gprox/) stopped working after I updated it and the github release came out. Not sure if the format changed from goreleaser or something.

I'm pretty sure I've got a fix for it already that I'll link to the issue. I'm not much of a bash wizard so I may just not understand exactly the glob

[2021-06-26 16:26] creedasaurus opened #266 "[Feature] Webi Badge!"
Ok. This really isn't a super amazing feature request, but I was just polishing up my readme for a bit and went down a rabbit hole. I decided to add some of those neat little "badges" or shields and dug into how to use the [shields.io](https://shields.io) api. And then I got the bright idea to create a Webi badge using:

[code]
[![Download from webinstall.dev](https://img.shields.io/static/v1?labe

[2021-06-26 16:46] creedasaurus opened #267 "[Bug] Fallback handling of pathman failure (e.g. permission denied)"
## What were you trying to install (or what else went wrong)?

Any webi package.

#### Background
Well, lately I've been messing around with the [`nix`](https://github.com/NixOS/nix) package manager which builds some dependencies and also dotfiles and links them in the place they should go, for example, the `zsh` package actually creates readonly `.zshrc` and `.zshenv` and `.zprofile` files. The p

[2021-06-29 13:40] ryanburnette opened #268 "[Installer] vim-emmet"
https://github.com/mattn/emmet-vim

[2021-07-14 12:34] mpouleijn commented on #244
I have a similar issue I'm on ubuntu 20.04 any idea?

➜  michelp webi k9s

Thanks for using webi to install 'k9s' on 'linux/amd64'.
Have a problem? Experience a bug? Please let us know:
        https://github.com/webinstall/packages/issues

switched to 'k9s' v0.24.14 at /home/michelp/.local/opt/k9s-v0.24.14/bin/k9s
➜  michelp k9s version
[code]

➜  michelp /home/michelp/.local/opt/k9s-v0.24.14/bin

[2021-07-16 17:51] coolaj86 opened #269 "[Installer] Add vim-rust"
Adding https://github.com/rust-lang/rust.vim should be similar to adding vim-go: https://github.com/webinstall/webi-installers/pull/139/files#diff-a9dd2c80a1945463a3f1380f61f1e2e50f9e0fd0f5f82808c30fc7a3b9f3b3f8

[2021-07-20 14:04] ryanburnette opened #271 "[Installer] setcap convenience util"
A setcap convenience util would be nice that runs setcap for 80,443 services as non-root. Would also be nice if it resolves the file through symlinks for the setcap command.

[code]

[2021-07-20 14:05] ryanburnette commented on #271
@coolaj86 Feedback?

[2021-07-20 17:26] coolaj86 commented on #271
I actually almost did this way back when.

In fact, I _did_ write this! https://github.com/webinstall/webi-installers/tree/main/vps-utils

But my hangup is this: How to make a name for the utility that is easy to remember and type?

- `netcap`?
- `netbind`?

The problem with `setcap` is only that it does _lots_ of different things, but people like you and I only ever use it for this _one_ thing.

[2021-07-23 20:55] coolaj86 opened #272 "Wanted: ssh-authorize"
# Step 1

Create and publish a cross-platform command to add a key to `~/.ssh/authorized_keys`, and set the permissions properly if they are incorrect.

[code]

Bonus: check that the keys aren't already added.

This would be a great project to write in Rust - especially if it doesn't require the extra visual studio runtime libraries - or otherwise Go.

I suppose separate commands in Powershell and

[2021-07-24 01:47] ryanburnette commented on #272
Is this helpful? https://man.openbsd.org/ssh-keyscan.1

[2021-07-24 01:48] ryanburnette commented on #272
Something like ...

[code]

... would be cool.

[2021-07-24 03:04] coolaj86 commented on #272
No. That gets the keys of the servers you want to connect to, not the ones you want to connect from.

[2021-07-25 01:27] coolaj86 commented on #271
We should call it `setcap-netbind`. Solved. Done.

[2021-07-25 01:27] coolaj86 commented on #271
@ryanburnette Want to make a PR to change the one in vps-utils over to `setcap-netbind`?

[2021-07-25 14:47] ryanburnette commented on #271
Sure.

[2021-07-25 15:26] ryanburnette commented on #271
See #273

[2021-07-25 15:26] #271 closed

[2021-08-03 03:26] ajeetdsouza opened #275 "[Bug] webi should install to /usr/local/bin on macOS"
On macOS, `~/.local/bin` is not included in `$PATH` by default. We should put executables in `/usr/local/bin` instead (does not require `sudo`).

[2021-08-03 08:13] coolaj86 commented on #275
Writing to `/usr/local` does require `sudo`.

`webi` uses `pathman` to update `$PATH`. You should see the message printed out that you need to `export PATH="$HOME/.local/bin:$PATH", or open and close your terminal on the _first run_ only.

[2021-08-03 09:10] ajeetdsouza commented on #275
Homebrew stores binaries in `/usr/local/bin` without `sudo`. I suppose it wouldn't work in multi-user setups unless you were added to the correct group, so perhaps `~/.local/bin` is the best way.

[2021-08-03 09:10] #275 closed

[2021-08-03 18:17] coolaj86 commented on #275
Actually homebrew requires `sudo` to install itself, and changes `/opt/Brew` and `/usr/local`.

[2021-08-03 19:19] ajeetdsouza commented on #275
I have a new macOS system with Homebrew, but my `/opt` directory is empty, even though I have several casks and command-line tools installed. The binaries are stored in `/usr/local/Cellar/`, and symlinks to those binaries are placed in `/usr/local/bin/`, so that they work with `$PATH`. Perhaps they changed the location recently?

I was confused because I tried `touch /usr/local/bin/foo` and it wor

[2021-08-03 19:47] coolaj86 commented on #275
Oh, I think I got mixed up about `/opt/Brew` and

[code]

In any case, I firmly believe that on Mac, Linux, and Windows, the home directory is the right place to put local installs are guaranteed to be conflict-free for any system-level tools.

I know I've had permission problems with `/usr/local` on OS X (between node, go, and brew fighting over each other), but I don't know if I've tested since

[2021-08-05 17:26] wburningham opened #276 "Any curl install command from the website errors because it pulls HTML"
## What were you trying to install (or what else went wrong)?

curl https://webinstall.dev/webi | bash

## What exactly did you do?

1. Start with system without any webi installed tools.
2. curl https://webinstall.dev/webi | cat
3. curl -sSL https://webinstall.dev/webi | cat

## What went wrong?

Response is

[code]

Instead of the actual installer

## Which OS did you try on?

- [x] Mac
- [ ] Wi

[2021-08-05 17:30] ryanburnette commented on #276
Just curl the installer and post the entire contents of the response you're getting.

[code]

[2021-08-05 17:55] wburningham commented on #276
[code]

[2021-08-05 17:56] wburningham commented on #276
Running `curl -L https://webinstall.dev/webi` or `curl https://webinstall.dev/webi/` returns the full HTML from the website.

[2021-08-05 18:07] wburningham commented on #276
It seems to be something with my work computer. I ran it on a personal computer and it works fine. I also ran it inside a docker container running on my work computer and it worked fine. What is the logic on your server that determines whether or not to return the installer or the HTML?

[2021-08-05 19:23] coolaj86 commented on #276
Are you running on Windows? Try `curl.exe` instead of `curl`.

It's based on the User-Agent. If the user agent says "curl" or "wget" or "PowerShell" it returns the script. Otherwise it returns the HTML.

You may have a proxy at work that pre-caches the results of the html.

Generally it's a bad practice to do the user-agent sniffing the way that I'm doing, but I figured that there's really only 3

[2021-08-05 19:25] coolaj86 commented on #276
You could try:

[code]

[2021-08-05 19:27] #276 closed

[2021-08-05 19:27] coolaj86 commented on #276
(closing just because this is a one-off problem, but I still intend to address it)

[2021-08-05 19:29] coolaj86 opened #277 "Feature: Add failsafe URLs for sh, pwsh, and READMEs"
We should have URLs that are guaranteed to not depend on the User-Agent.

Re: https://github.com/webinstall/webi-installers/issues/276

Maybe:
- https://webinstall.dev/_/sh/*
- https://webinstall.dev/_/pwsh/*
- https://webinstall.dev/README/*

[2021-08-05 19:32] coolaj86 commented on #267
Hey Creed,

Sorry it's been so long without following up on this.

Why is permission denied? Did some other tool modify the permissions of `.zshrc`?

It does write everything to `~/.config/envman/PATH.env`, so we could say

[2021-08-05 19:32] coolaj86 commented on #266
I love it!

[2021-08-05 19:33] coolaj86 opened #278 "Note to self: Block out 4 hours this Saturday to do issues"
I don't like having so many open issues.

Most of these can be cleanup up very simply and quickly. Just need to do it.

[2021-08-06 05:35] ajeetdsouza opened #279 "[Bug] webinstall.dev/zoxide appears to be broken"
From: https://github.com/ajeetdsouza/zoxide/issues/245

CC @coolaj86

[2021-08-07 18:50] creedasaurus commented on #267
Yeah. I mentioned in there that I had been using a tool called [`nix`](https://nixos.org/) to manage some of my dotfiles, sort of as an experiment. I know it's probably not the most common case, but still possible.

Yeah, even just a message that says what to add to your path or what to source in the case that it couldn't write to the file.

[2021-08-08 17:46] coolaj86 commented on #267
I still don’t understand.

why is it read only?

why not just make it read-write?

[2021-08-08 17:47] coolaj86 commented on #267
Agreed that a what-to-source message would be good.

I think that would belong in pathman.

[2021-08-08 20:57] creedasaurus commented on #267
I know. It's kind of weird. It's part of the `nix` "pure" functional style where it's outputs are "immutable". I'm not saying it's how I like things, and personally I'm working on migrating my dotfiles out of nix now, because it kept getting in the way (like this for example). Sure, I could write a script to change the generated files to read-write, but eh. I think it's just the `nix` way and I do

[2021-08-13 22:53] creedasaurus commented on #264
Hey, not sure if this requires more investigation, but I do have a fix for it if you wouldn't mind a quick approval?

[2021-08-14 23:15] coolaj86 commented on #260
# PostgreSQL How To

[code]

[code]

[code]

Access on Localhost:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

## Backup Database

[code]

[code]

## Restore Backup

[code]

[2021-08-14 23:31] coolaj86 commented on #260
[code]

[code]

[code]

[2021-08-15 03:26] coolaj86 commented on #279
Sorry about that.

I'm not exactly sure what happened, but prod had deployed `hotfix`, which is lagging behind `main`. Prod is back on `main` again and `hotfix` is now up-to-date.

[2021-08-15 03:26] #279 closed

[2021-08-15 03:27] #278 closed

[2021-08-15 03:49] #264 closed

[2021-08-15 04:09] #230 closed

[2021-08-15 04:12] coolaj86 opened #281 "`gh` Needs a Cheat Sheet"
The installer has been done (#230, #237) and can be previewed at <https://beta.webinstall.dev/gh>

Now we just need someone to fill out the **Cheat Sheet**:

Just edit this README, and add the goodies that are the most useful for you (and that you think will be the most useful to others): https://github.com/webinstall/webi-installers/blob/add-gh/gh/README.md

A TL;DR sort of thing would be great.

[2021-08-15 04:24] coolaj86 commented on #277
Closing just because I don't have this as a priority. If the issue comes up again, I'll prioritize it.

[2021-08-15 04:24] #277 closed

[2021-08-15 05:59] #269 closed

[2021-08-15 06:00] #255 closed

[2021-08-15 06:01] coolaj86 commented on #247
This is way cool. Want to add it?

[2021-08-15 06:03] coolaj86 commented on #247
@s0kil Could you create the cheat sheet for this?

It should be pretty easy to figure out how to add the rust package based on other rust packages like `sd`, `rg`, `bat`, etc. However, if that's a struggle I could definitely help.

The most important work I'd need you to do would be to provide a Cheat Sheet. These are what good Cheat Sheets look like:

- https://webinstall.dev/node/
- https://webi

[2021-08-15 06:04] coolaj86 commented on #243
@Tiparium Did you figure this out? It sounds like you hadn't installed webi first: `curl https://webinstall.dev | bash`.

[2021-08-15 06:12] coolaj86 commented on #241
Sorry, just now seeing this. The notification must have gotten lost in my email.

What would have been great is if you had copied the caddy/install.ps1 and then made a PR with hugo/install.ps1.

Would you like to do that and test it?

[2021-08-15 06:15] coolaj86 commented on #241
Actually, I just made a PR: https://github.com/webinstall/webi-installers/issues/241

Can you test https://beta.webinstall.dev/hugo on a Windows box for me?

[2021-08-15 06:20] fu-sen commented on #241
I was just in front of my Windows PC.

It's working! The Hugo executable is so simple that it worked as expected.

[2021-08-15 06:39] coolaj86 commented on #240
I've added this to the docs in one of the current PRs, actually. Closing because I'll merge that tonight.

[2021-08-15 06:39] #240 closed

[2021-08-15 06:56] coolaj86 commented on #220
Will be closed via https://github.com/webinstall/webi-installers/pull/284

@ajeetdsouza Because I like the idea that if something goes wrong and I need to revert something, I have copies of the installed versions that I'd have to manually delete.

[2021-08-15 06:56] #220 closed

[2021-08-15 06:57] #176 closed

[2021-08-15 06:58] coolaj86 commented on #149
This was added. Closing.

[2021-08-15 06:58] #149 closed

[2021-08-15 06:58] #241 closed

[2021-08-15 07:03] coolaj86 commented on #101
This will actually be more similar to `arc`.

- `arc` releases: https://github.com/mholt/archiver/releases/tag/v3.5.0
- `gitea` releases: https://github.com/go-gitea/gitea/releases/tag/v1.14.6

https://github.com/webinstall/webi-installers/blob/main/arc/install.ps1

[2021-08-15 07:16] coolaj86 commented on #239
Hey @elasticdotventures I did check out your project all those months ago.

Are there any features that you wanted to add to webi? Or any of your tools that you think would be a good fit to web install?

[2021-08-15 07:29] coolaj86 commented on #235
@WaylonWalker Yes. Almost everything is that way. Take a look at any of the other rust tools: `rg`, `lsd`, `sd`, `watchexec`, etc.

[2021-08-15 07:30] coolaj86 commented on #101
I've got a PR for this, so closing.

[2021-08-15 07:30] #101 closed

[2021-08-15 07:55] coolaj86 opened #286 "Enhancement: split on commas, as well as spaces"
Ideally, this should work:

[code]

This is not sufficient:

[code]

[2021-08-15 08:21] coolaj86 opened #287 "Needs more Stars"
Webi has become a rather popular and mature project.

However, if all goes well, the intended user should never even visit GitHub. It's amazing that we've had as much engagement on GitHub as we have, especially considering people end up here with something goes wrong or is missing.

However... we need more stars:
https://github.com/sharkdp/bat/pull/1105
https://github.com/denoland/deno_website2/pu

[2021-08-15 08:24] coolaj86 commented on #287
[code]

[code]

[2021-08-22 14:20] ryanburnette opened #290 "[Bug]"
[code]

[code]

[2021-08-22 14:22] ryanburnette commented on #290
Didn't have git in the env

[2021-08-22 14:22] #290 closed

[2021-08-23 17:48] nyjel opened #291 "Fedora: hangs at "Downloading serviceman from ...""
Hi.  I have Fedora 33 running on an AMD Ryzen 5 desktop, and I was hoping to use webi to install serviceman.

I installed webi via:

[code]

No issues.

I then tried installing serviceman:

[code]

It hangs on this line for a long time.  I see that the Download ( .part) is hung at size 0.

I have no problem downloading this file via curl...

[code]

Any idea what might be causing the dowload to ha

[2021-08-23 18:18] coolaj86 commented on #291
I'm assuming you tried more than once and it hung every time?

Check to see if you have `wget` installed:

[code]

If you don't, try installing it, and then run the webi command again:

[code]

I'll also spin up fedora on Digital Ocean and see what I see. I pretty much exclusively use Ubuntu.

[2021-08-23 18:21] coolaj86 opened #292 "Feature: Add fedora support for ssh-adduser"
Just spinning up a new droplet on DO, this doesn't work:

[code]

Instead it outputs the help message:

[code]

[2021-08-23 18:23] coolaj86 commented on #291
Also, could you try installing something else, such as `rg`?

[code]

[2021-08-24 02:08] rsrini7 opened #293 "Windows webi install - pathman-setup.ps1 is not recognized"
## What were you trying to install (or what else went wrong)?

Install in windows

## What exactly did you do?

curl.exe -A "MS" https://webinstall.dev/webi | powershell

## What went wrong?

▶ & "$Env:USERPROFILE\.local\bin\webi-pwsh.ps1" "webi"
.\.local\tmp\pathman-setup.ps1 : The term '.\.local\tmp\pathman-setup.ps1' is not recognized as the name of a cmdlet
![2021-08-24 07_35_30](https://user-

[2021-08-28 10:12] cawoodm opened #295 "Installer for Termite"
Can we suggest a new installer by submitting a .sh file like this?

https://raw.githubusercontent.com/Corwind/termite-install/master/termite-install.sh

[2021-08-28 17:05] coolaj86 commented on #295
No. See https://github.com/webinstall/webi-installers/issues/294#issuecomment-907654551

If you can find official static builds, the the installer should follow one of the example templates, but perhaps have a custom releases.js of it’s not on GitHub.

Here’s a link to a template issue for adding an installed that has the steps listed out: https://github.com/webinstall/webi-installers/issues/187

[2021-08-28 17:09] coolaj86 commented on #295
Actually, I would potentially accept hosting static builds as well, if the maintainer refuses.

For example, if you got a process for static builds for fish (I don’t understand why the maintainer is opposed to doing it the “standard” way), I’d also be happy to add those.

I had to do this for xz, and I had to use someone else’s for ffmpeg.

[2021-08-30 08:26] cawoodm opened #296 "[Bug] BAT Install results in a non-working BAT (GLIBC)"
## What were you trying to install (or what else went wrong)?
Installed `bat` but it fails to run:
![image](https://user-images.githubusercontent.com/498834/131309133-15d98d6e-9ac8-4475-8bd7-e490bb5664f3.png)

## What exactly did you do?

[code]

## What went wrong?
[code]

## Which OS did you try on?

`CentOS Linux release 7.9.2009 (Core)` - works on Ubuntu, just not (my) CentOS.

- [ ] Mac
- [ ]

[2021-08-30 18:20] coolaj86 commented on #296
Confirmed.

It should be downloading `bat-v0.18.3-i686-unknown-linux-musl.tar.gz` instead. `musl` is statically compiled, distro independent.

I think the quick fix will be to do the same here as we do for the Apple M1 - try to download a version that matches the string `musl` and then fall back to a non-matching version.

Ideally I'd like some way to rank listings such that if there's a particula

[2021-09-03 17:48] goldcoders opened #297 "How to download Hugo with SASS support?"
is it possible to download extended version?

[2021-09-03 18:10] coolaj86 commented on #297
Is there an API for versions with extensions?

I just use the stock version for myself, and I'm not into the Hugo community. Tell me more.

It may be possible to use semver build tags for this, such as:

[code]

However, it would require understanding how to fetch those versions from whatever build server is out there for this purpose.

[2021-09-04 02:32] goldcoders commented on #297
the only difference is the naming,
if it is extended version it uses
hugo_exteded
if normal hugo
hugo

so it will be

hugo_extended@v0.87 for extended

and hugo@v0.87

[2021-09-05 21:26] ryanburnette opened #298 "How to use Postgres with serviceman?"
Can I make postgres a system service in macos with serviceman?

[2021-09-08 09:14] ajeetdsouza opened #299 "[Bug] PowerShell installation is broken"
## What were you trying to install (or what else went wrong)?

Tried with `bat`, `rg`, `zoxide`. They all seem to be broken.

## What exactly did you do?

[code]

## What went wrong?

[code]

## Which OS did you try on?

- [ ] Mac
- [x] Windows
- [ ] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (ARM-64)
- [ ] Oth

[2021-09-08 23:52] coolaj86 commented on #298
Yes.

[code]

[2021-09-10 07:42] coolaj86 commented on #299
Will you post the full output?

This is the file that downloads from the initial curl:
https://github.com/webinstall/webi-installers/blob/main/_webi/bootstrap.ps1

Which immediately downloads the webi script:
https://webinstall.dev/packages/_webi/webi-pwsh.ps1

Which then downloads the specific installer.

It seems as though somehow curl is failing to download that file - or at least powershell is

[2021-09-10 10:27] ajeetdsouza commented on #299
I don't know why or how, but it appears to be working for me again. When I posted this issue, I had tested it multiple times with different applications and I was getting the same error every time. If this is happening with no changes on the server end, it may still be worth investigating why installation is flaky.

Perhaps @beb- might have the error output?

[2021-09-10 20:19] coolaj86 commented on #296
I should be able to make time to fix this tomorrow (Saturday). Commenting such to help with my resolve and commitment. :)

[2021-09-22 22:03] tomcam opened #300 "[SOLVED] The curious case of Schrödinger's File..."
## What were you trying to install (or what else went wrong)?

webi

## What exactly did you do?

Per instructions at https://webinstall.dev/ I logged into My Windows 10

- Logged into my Windows 10 home machine
- Copied the curl line from the home page `curl.exe -A "MS" https://webinstall.dev/webi | powershell`
- Open PowerShell as admin
- Pasted in the line

## What went wrong?

Seems to be miss

[2021-09-22 22:04] tomcam commented on #300
Sorry, somehow saved without finishing. Rig:

LG Gram laptop, 11th Gen i5-1135G7 @ 2.40Ghz, 16GB RAM running Windows 10 Home 20H2, 1TB drive with 300GB free

[2021-09-23 03:02] coolaj86 commented on #300
Would you mind checking a few things for me?

What's the output of this?

[code]

Does it work if you run it from cmd.exe rather than PowerShell?

Does it work if you reboot?

Someone else had this problem the other day, but I haven't been able to replicate it yet.

[2021-09-23 03:04] coolaj86 commented on #300
From the output I can see that this was successful:

[code]

And I can see that this fails:

[code]

Well hello _Schrödinger's File_... that's an impossible condition.

Since the file obviously can't both exist and _not_ exist simultaneously, the error message must be wrong. Hmm... 🧐

[2021-10-02 03:50] benatkin opened #301 "[Bug] curl with SSL on a 2019 mac that hasn't been fully updated"
## What were you trying to install (or what else went wrong)?

webi itself

## What exactly did you do?

I ran `curl -sS https://webinstall.dev/webi | bash`

## What went wrong?

I got this error:

[code]

## Which OS did you try on?

- [x] Mac
- [ ] Windows
- [ ] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Desktop

---

I'm also getting this with [dprint.dev](http

[2021-10-02 05:00] coolaj86 commented on #301
Sounds like you need a static version of curl (though you may run into other problems later).

- Linux https://github.com/moparisthebest/static-curl
- Windows https://curl.se/windows/
- macOS ... no idea

If there were a business use case for this I'd say I could run a mirror site with certificates bought from companies with older certificate chains, but... I don't think this is that sort of scena

[2021-10-02 05:00] #301 closed

[2021-10-02 12:39] benatkin commented on #301
Thanks. I think maybe LetsEncrypt has prescribed a different web server config than your site and dprint are using. But yeah the root cause is probably an old root store. I'll keep looking at it.

[2021-10-02 19:49] benatkin commented on #301
It just works with curl for me now!

I ran just the XCode Developer Tools update, had to click a small link below the upgrade for Big Sur. The update said it failed, but I think it partially updated, maybe completely. I ran it twice and think it took longer before it failed the second time, so maybe the second time is when the update got curl to work with webi and dprint. I also upgraded my homebr

[2021-10-02 20:25] coolaj86 commented on #301
Thank you so much.

It’s great to leave a trail for those who follow in your footsteps.

![](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

https://xkcd.com/979/

[2021-10-02 20:35] sinamoghaddas commented on #262
Hi, Who can assign me to this issue?

[2021-10-10 03:20] khairnarsaurabh23 commented on #281
@coolaj86 can i work on this issue?

[2021-10-10 04:33] coolaj86 commented on #281
Please do!

[2021-10-10 04:36] coolaj86 commented on #299
Closing this but leaving https://github.com/webinstall/webi-installers/issues/300 open. They seem to be the same issue.

I’m guessing a restart of either the terminal or computer fixes it. Needs more investigation to know why.

[2021-10-10 04:36] #299 closed

[2021-10-10 04:38] coolaj86 commented on #293
Closing in favor of #300. Seems to be the same issue. Needs investigation.

[2021-10-10 04:38] #293 closed

[2021-10-13 17:56] ajeetdsouza opened #303 "[Bug] webi doesn't upgrade a package if it's already downloaded before"
## What were you trying to install (or what else went wrong)?

zoxide

## What exactly did you do?

I had installed zoxide v0.7.2 earlier via webi. Now I ran the same command, hoping that webi would upgrade zoxide to v0.7.6:

[code]

## What went wrong?

zoxide's tarballs from GitHub do not include the version number -- they're all named `zoxide-x86_64-unknown-linux-musl.tar.gz`.
- The first time

[2021-10-13 22:43] ajeetdsouza commented on #303
I've already updated zoxide to include version numbers in its release tarballs.

However, I'm proposing that we _overwrite_ old downloads rather than assume that they can be re-used:
- The user may be re-running the command because the previous download was a corrupted file.
- Some software like `tokei`, `zoxide`, `rust-analyzer` do not include the version number in their tarballs, causing this bu

[2021-10-27 03:45] coolaj86 opened #306 "[Bug] Renames iTerm2 to ~/Applications if it doesn't exist"
Needs to create the directory first

[code]

[2021-10-27 03:51] coolaj86 opened #307 "[Bug] New version of yq changed directory structure"
Installer needs to be updated for new directory structure

[2021-11-07 04:04] ajeetdsouza opened #310 "[Bug] zoxide installation is broken"
## What were you trying to install (or what else went wrong)?

zoxide

## What exactly did you do?

`curl https://webinstall.dev/zoxide | bash`

## What went wrong?

[code]

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [x] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (ARM-64)
- [ ] Other (please specify

[2021-11-07 11:26] ajeetdsouza opened #312 "[FR] Nightly CI that tests each installer in the repo on Windows / macOS / Linux"
GitHub Actions would be very useful to test if an installer has broken due to some code change or a new package release. A daily runner would be able to find these issues before our users do.

[2021-11-07 15:30] coolaj86 commented on #312
I like that idea a lot.

Here's what I know about GitHub Actions: https://github.com/coolaj86/explore-github-actions

I don't know how to specify different OSes or do email reporting.

What do you know?

[2021-11-07 16:47] ajeetdsouza commented on #312
The [`runs-on`](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idruns-on) key that you're using allows you to specify different OSes. Typically, one would go with `windows-latest`, `macos-latest`, and `ubuntu-latest`. You might be able to use a [`matrix`](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#j

[2021-11-08 08:22] liudonghua123 opened #313 "problem with yq installer"
When I tried to install `yq`, I saw the following error logs.

[code]

And I checked the binary filename is not `yq.exe` but `yq_windows_amd64.exe` in `yq_windows_amd64.zip`.

[2021-11-08 08:29] liudonghua123 opened #314 "problem with shfmt installer"
When I tried to install `shfmt`, I got the following errors.

[code]

It seemed the install script had some mistake on https://github.com/webinstall/webi-installers/blob/22d3602c7d426200e3efe244e27bf15eaf6425da/shfmt/install.ps1#L29.

And the download file is an exe binary, not an achieved file. So the following failed too.
https://github.com/webinstall/webi-installers/blob/22d3602c7d426200e3efe24

[2021-11-08 10:34] Steph0 commented on #310
+1

[2021-11-08 14:38] ajeetdsouza opened #315 "[Suggestion] Use CODEOWNERS to allow project maintainers to update their own installers"
We can use a [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) file to allow people to push changes to specific installers, without giving them access to the rest of them. Of course, allowing someone to edit an installer comes with obvious security issues, which is why I'm proposing we only allow main

[2021-11-08 14:41] ajeetdsouza commented on #313
This appears to be a duplicate of https://github.com/webinstall/webi-installers/issues/307.

[2021-11-09 19:10] #310 closed

[2021-11-09 19:11] coolaj86 commented on #315
This is an excellent idea!

I had no idea this existed.

Would you create a PR adding yourself to zoxide?

[2021-11-09 19:56] ajeetdsouza commented on #315
I just read up a bit more about this. Apparently I misunderstood some things, so I'm clarifying:

- CODEOWNERS do not automatically get write access -- in fact, they must be _given_ write access to the entire repo. This can be made secure by making `main` a "protected branch", so that no one other than @coolaj86 can push to it. Other maintainers can push to other branches, but that would not pose

[2021-11-09 19:56] #315 closed

[2021-11-10 04:42] coolaj86 opened #317 "[Installer] Add catch-my-file"
# Add catch-my-file

We want to add `catch-my-file` (https://github.com/fabiodcorreia/catch-my-file) because...

- it works consistently across Windows, Mac, and Linux.

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](

[2021-11-10 13:08] ajeetdsouza opened #318 "[RPi] Needs fallback for various arm builds (aarch64, armv7, armv6, armv5)"
## What were you trying to install (or what else went wrong)?

zoxide

## What exactly did you do?

[code]

## What went wrong?

[code]

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [ ] Laptop or Desktop (amd64 / x86-64)
- [x] Raspberry Pi (ARM-64)
- [ ] Other (please specify, if you know)

Original issue: https

[2021-11-10 16:13] coolaj86 commented on #318
Did you have tar and/or zip installed?

(otherwise it can’t find a matching unarchive tool)

Does the reported architecture match an available architecture?

(raspbian reports armv5 - same as Pi Zero - which isn’t actually supported as well as arm64 and, in general, cannot be assumed to run arm64 binaries - such as on Pi Zero)

[2021-11-10 20:19] ajeetdsouza commented on #318
@coolaj86 the Rust installer finds target triples very well. I'd suggest taking a look at the `get_architecture()` function in https://sh.rustup.rs.

[2021-11-10 20:20] coolaj86 opened #319 "[Installer] Add iterm-utils"
# Add iterm-utils

Doesn't quite roll off the tongue:

[code]

Would be better as

[code]

(might consider `iterm-themes` as well for the local system)

# How to implement

This would be just like https://github.com/webinstall/webi-installers/tree/main/rustlang

[2021-11-11 10:06] ajeetdsouza commented on #318
CC @piersolenski

[2021-11-12 08:17] coolaj86 opened #320 "[Installer] Add delta"
# Add delta

We want to add `delta` because it's a really great upgrade to `git diff`

See https://github.com/dandavison/delta

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How to create a webi Installer](https://user-images.githubusercontent.com/

[2021-11-12 08:32] coolaj86 commented on #320
Things for the cheat sheet:

[code]

[code]

[2021-11-12 17:51] adamcstephens opened #322 "[Feature Request] don't inject envman if ~/.local/bin is already in the path"
Hello. I have ~/.local/bin in my PATH already, but webinstall is injecting the envman inclusion anyway. It took me some digging to figure out this came from webinstall, as the message `# Generated for envman. Do not edit.` does not indicate the true source.

Would it be possible to check the existing PATH and **not** inject these lines?

[2021-11-13 18:46] piersolenski commented on #318
Both are installed 👍

[2021-11-14 09:32] coolaj86 commented on #319
part of  135263f4aebda0a15206303f9d95913d8dd60633

[2021-11-14 09:32] #319 closed

[2021-11-14 09:32] #306 closed

[2021-11-14 09:33] coolaj86 commented on #281
Closed via https://github.com/webinstall/webi-installers/pull/302

[2021-11-14 09:33] #281 closed

[2021-11-14 09:34] coolaj86 commented on #92
I haven't had the need for this in a while. Closing because I'm not sure it's really that useful.

[2021-11-14 09:34] #92 closed

[2021-11-14 09:36] coolaj86 commented on #322
Because there's no standard way to define or check for `PATH` updates - especially across shells and operating systems - pathman/envman is really the only sane way to go.

HOWEVER, I think it would be very reasonable to always include a `Files` section in the README listing any files on the system that may be modified, and always include `~/.config/envman/PATH.env`.

What do you think about that?

[2021-11-14 11:13] coolaj86 commented on #322
P.S. What problem were you experiencing that made it important to not have `~/.local/bin` in your PATH a second time? Generally this is benign.

[2021-11-14 11:16] coolaj86 commented on #266
@creedasaurus What was your idea on how to distribute this?

Just add it to repos & npm packages that have Webi installers?

[2021-11-14 12:43] adamcstephens commented on #322
webinstall isn’t just adding ~/.local/bin a second time, though I’d ask why bother modifying user’s config files to do so. webinstall is adding an entire new include location that could have arbitrary PATHs added to it. I manage my config files in git, so it was quite obvious to me that this was added. The problem is it’s an unnecessary addition, and I’d either have to manage this new file or blin

[2021-11-14 21:09] coolaj86 commented on #322
Yeah, that would be great.

I may be better to put that logic into pathman as an option rather than webi, but you investigate and let me know what you think is the best route.

I expect to continue to support bash and fish on all OSes (including Windows), and powershell and cmd.exe on Windows (bonus if powershell works on *nix too, but not a goal).

And I definitely want to be more clear on the in

[2021-11-14 21:14] coolaj86 commented on #322
Many platform-programs, such as node, go, and even should-be stand-alone apps, such as gpg need to have multiple of their own PATH updates, such as `~/.local/opt/go/bin/` and `~/go/bin/`.

The idea behind envman / pathman is to create a standard machine-readable location for cross-shell changes - kinda like `git config x.y z`

[2021-11-15 01:19] goldcoders opened #324 "how to download hugo_extended version?"
Hi i see in https://webinstall.dev/api/releases/hugo@.tab
that there is a hugo extended version
but i dont see a way to use webi to install the hugo extended version on webi
i tried webi hugo_extended@v.0.89.2
or webi hugo@beta
or webi hugo@extended_v.0.89.2

[2021-11-15 10:45] coolaj86 opened #325 "[Internal] Cleanup & Style"
These are tasks that anyone could help with.

- [x] #393
- [x] #394
- [x] `shfmt` all files
[code]
- [x] Lint all *.sh files (with shellcheck & shfmt). Most install.sh files should disable unexported var warnings
[code]
- [x] All bash scripts should begin with `#!/bin/bash`
- [x] All functions in the `*/*.sh` files should be explicitly declared as functions
[code]
[code]
- [x] All installers shoul

[2021-11-15 11:43] coolaj86 commented on #324
Should we just make hugo_extended the default version?

Or is there a good reason to keep both?

We could either copy https://github.com/webinstall/webi-installers/tree/main/hugo to `hugo_extended`, or we could update it to make it the default.

What do you think? Could you make the PR?

[2021-11-15 11:43] coolaj86 commented on #297
Closing in favor of https://github.com/webinstall/webi-installers/issues/324

[2021-11-15 11:43] #297 closed

[2021-11-15 11:44] #287 closed

[2021-11-15 11:46] coolaj86 commented on #314
@liudonghua123 Could you make the PR to fix this?

Take a look at `arc`, it's also a direct `.exe` download: https://github.com/webinstall/webi-installers/blob/main/arc/install.ps1

[2021-11-15 11:46] coolaj86 commented on #307
Closing in favor of  #313

[2021-11-15 12:07] coolaj86 commented on #313
Hey @liudonghua123 @ajeetdsouza,

I've got a PR up for the fix. Could either of you test on Windows?

[code]

[2021-11-15 12:17] coolaj86 commented on #286
Too confusing / not intuitive.

Not doing it.

Open to suggestions for the future.

[2021-11-15 12:17] #286 closed

[2021-11-15 12:28] #307 closed

[2021-11-15 12:33] coolaj86 commented on #292
Meh...

So far Debian support has been working out just fine.

I don't know why I thought I needed Fedora support, but generally I don't (nor do I know anyone else who does), so if this is really important it'll come up again and I'll figure it out at that time.

[2021-11-15 12:33] #292 closed

[2021-11-15 12:39] coolaj86 commented on #303
@ajeetdsouza The upgrade bug should be fixed by the combination of these two updates:
- https://github.com/webinstall/webi-installers/pull/326
- https://github.com/webinstall/webi-installers/pull/284

Please double check on your end and let me know.

[2021-11-15 12:39] #303 closed

[2021-11-15 12:40] coolaj86 commented on #291
Since I never got feedback on this, I'm closing it out.

Please reopen if it's still an issue.

[2021-11-15 12:40] #291 closed

[2021-11-15 12:45] coolaj86 commented on #245
Hi @aimc,

I thought I had responded to this... a year ago.

Yes, that would be acceptable. I believe the appropriate locations would be `~/.local/opt/MY_PACKAGE/share/man/` (which seems to be a pattern picked up by `manpath` automatically) and `~/.local/share/man/`.

[2021-11-15 12:47] coolaj86 commented on #250
Tagging this as a "someday".

I'm willing to work with someone else on this and would accept a PR.

[2021-11-15 12:47] #250 closed

[2021-11-15 13:15] coolaj86 commented on #214
Closing due to inactivity.

I'm open to a PR for PHP provided that it can install in `~/.local/opt/php`.

[2021-11-15 13:15] #214 closed

[2021-11-15 13:50] ajeetdsouza commented on #322
@coolaj86

I've outlined this in previous discussions as well, but (like a lot of users) I maintain my dotfiles using git, and I hate when tools change things around without asking me. To me, the best tool would be a tool that:

1. Installs the binary to `$LOCATION`
2. Checks that `$LOCATION` is present in `$PATH`
3. If not, _asks_ whether it can edit my config files to add it automatically (it sh

[2021-11-15 14:55] adamcstephens commented on #322
I completely agree with @ajeetdsouza, and it was their app zoxide which brought me here.

[2021-11-15 16:17] goldcoders commented on #324
i think the extended is what most developers used, since most of them uses features that requires css , sass and other goodies only available in extended version.

[2021-11-15 16:34] coolaj86 commented on #324
I think if you update the filter function to include 'extended', that should do the trick:
https://github.com/webinstall/webi-installers/blob/main/hugo/releases.js

Want to give it a try?

[code]

[code]

[2021-11-15 16:38] coolaj86 commented on #322
Asking is a problem for two reasons:

1. `curl | bash` steals the file descriptor of the tty and it's _really_ hard to find a cross-platform, cross-shell way to get it back
2. By default, webi should do the thing that Just Works™

That said, I'm very open to adding an option `--no-path-updates` and `--no-webi`.

`pathman` (which was intended to be renamed envman) has been a necessary evil. However

[2021-11-15 17:29] goldcoders commented on #324
Ive created custom powershell and bash script , which i used in my desktop app.
here i can download very specific version later, than on webi hugo installation script that covers only top 10 recent versions.

also if the ARM64 on mac is not available on some version it defaults back to 64bit

you can take reference on this
its uses same api as webi where in you can have multiple versions
[code]

[

[2021-11-15 20:46] adamcstephens commented on #322
It looks like this will require modifying pathman, since that is where the existing comment is being generated.

https://git.rootprojects.org/root/pathman/src/commit/2c283a28649a692fea764894415cfa6b74fe2f5b/envpath/manager.go#L185
https://git.rootprojects.org/root/pathman/src/commit/2c283a28649a692fea764894415cfa6b74fe2f5b/envpath/manager.go#L216

Combining a more appropriate comment with outputti

[2021-11-15 21:28] coolaj86 commented on #322
Are you talking about the Go code, the Bash, or the Node that templates that Bash?

The Go code should be pretty straightforward to add a flag to update the comment. It would also be nice to change the output options.

The bash code has gotten grosser over time. Just lots of edge cases and... it's bash.

Now that the use cases have been explored, however, I think that there's a fair amount of code

[2021-11-15 21:37] y0rune commented on #325
Hi!
I created the https://github.com/webinstall/webi-installers/pull/330. Please check if my changes are correct.
Thank you ;)

[2021-11-15 22:12] ajeetdsouza commented on #322
I see. A separate `curl` followed by `bash` would have worked (or `bash -c`), but that would not be as elegant or memorable, I suppose.

I agree that we should do what works by default, but if it were possible, I would have preferred a prompt for "Would you like to add these paths automatically to your .bashrc? [Y/n]", where the _default_ answer is yes.

I'm not sure how pathman would help here.

[2021-11-16 01:43] liudonghua123 commented on #313
I tried, it seemed still not work.

[code]

I tried to remove `%USERPROFILE%\.local\opt\yq-v4.14.2` and `%USERPROFILE%\.local\tmp` and tried again.

[code]

[2021-11-17 04:38] liudonghua123 commented on #313
I have modified the code to fix this issue.

[2021-11-17 04:38] liudonghua123 commented on #314
I have modified the code to fix this issue.

[2021-11-17 05:55] coolaj86 opened #334 "[Installer] Add gron"
# Add gron

We want to add `gron` because it fills a certain niche that jq and yq may not.

- https://github.com/TomNomNom/gron
- https://twitter.com/zumalifeguard/status/1460825180083609601

This could be as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

# How to create a webi installer

[![Video Tutorial: How to cre

[2021-11-18 20:01] coolaj86 opened #335 "[Cheat sheet] Update shellcheck"
I'm gonna add the error codes that I disable the most often to the cheat sheet:

[code]

[code]

[2021-11-20 15:59] khairnarsaurabh23 commented on #253
I'm finding it defficult to work on issue with given information.  Sir, the link you have given in step 2 goes to nothing. Can you please help me out ?
@coolaj86

[2021-11-21 02:45] coolaj86 opened #338 "FYI: How to install man pages for X (easy)"
# TL;DR

`MANPATH` is generated from `PATH` - just backing up from `./bin` and going to `./share/man`.

All installers should install their man pages to either:

[code]

or

[code]

# Explanation

The `manpath` program will tell you what's in your MANPATH.

In fact, MANPATH automatically includes each item from PATH, modified to search for `../share/man`.

For example:

If `~/.local/bin` is in my

[2021-11-21 03:03] coolaj86 commented on #338
# Example Script (webi)

[code]

# Example Script (generic)

[code]

[2021-11-21 03:25] #313 closed

[2021-11-21 03:52] #314 closed

[2021-11-21 04:45] coolaj86 opened #340 "Contribution Guidelines"
Not strictly mandatory, but...

## Signed Commits

Please **enable gpg-signing**.

You can do this in about 30 seconds:

1. Run [`git-config-gpg`](https://webinstall.dev/git-config-gpg) from Webi:
[code]
2. Copy the GPG public key (it will be printed to your screen)
3. Add it to your GitHub profile: <https://github.com/settings/gpg/new>

## Semantic Commit Messages

We try to follow "semantic comm

[2021-11-21 05:58] #338 closed

[2021-11-21 06:01] coolaj86 commented on #253
@khairnarsaurabh23 There is no link in step two. You'd have to create it yourself.

What's your experience programming in Go?

[2021-11-21 09:00] khairnarsaurabh23 commented on #253
I've no programing experience in Go.

[2021-11-21 09:31] coolaj86 commented on #253
Were you planning to write a cross-platform `rnd` program?

If you just want to add an existing program to Webi, you might try one that already exists, like delta (see https://github.com/webinstall/webi-installers/issues/320) instead.

[2021-11-21 11:34] devPalacio commented on #320
Working on it

[2021-11-21 13:27] coolaj86 commented on #312
I made some progress towards this in https://github.com/webinstall/webi-installers/commit/e9c3b79c56ddb4ac2f94edd43f971e967845148c

@ajeetdsouza would you like to draft a GitHub Action?

[2021-11-21 13:28] coolaj86 commented on #312
Also, would you like to be an authorized reviewer / maintainer?

[2021-11-23 09:21] coolaj86 commented on #320
Closed via https://github.com/webinstall/webi-installers/pull/346

[2021-11-23 09:21] #320 closed

[2021-11-23 09:34] coolaj86 commented on #300
# Solved

I missed the significance of that line before.

**You should NOT run Webi in an elevated console**. Webi is safe and secure, and expected to be run as the logged in user **without admin privileges**.

When you run this as admin, it changes some of the environment variables - hence the file does in fact both exist, and not exist at the same time. It _was_ downloaded to the correct place,

[2021-11-23 09:35] #300 closed

[2021-11-23 09:37] coolaj86 commented on #299
SOLVED!

Webi is intentionally designed to be secure. DO NOT "run as admin". Doing so will break `$Env:USERPROFILE`.

See <https://github.com/webinstall/webi-installers/issues/300#issuecomment-976332468>.

[2021-11-23 09:39] coolaj86 commented on #293
@rsrini7 I think I've solved the issue. Did you happen to be using PowerShell as admin?

If so, can you confirm that running as a normal user fixes the problem?

See <https://github.com/webinstall/webi-installers/issues/300#issuecomment-976332468>.

[2021-11-23 09:41] coolaj86 commented on #300
P.S. @tomcam can you confirm?

[2021-11-23 09:50] coolaj86 commented on #221
# Easy: copy, paste => find & replace

I'm opening this up for anyone to take this on and make the PR.

0. Comment to let me know which of these you want to take on \
   (and then just do it - no need to wait for me to assign)
1. Copy: https://github.com/webinstall/webi-installers/blob/main/git-gpg-init/install.ps1
2. Paste: https://github.com/webinstall/webi-installers/blob/main/ripgrep/install.p

[2021-11-23 09:54] ajeetdsouza commented on #300
Is there a way we can detect this and return a better error?

[2021-11-23 09:56] ajeetdsouza commented on #221
I don't think we should keep aliases, tbh. There shouldn't be two ways to install one package. It's confusing for the user and more work for the maintainer.

[2021-11-23 10:12] ajeetdsouza commented on #312
Is there a better way we can do this? Updating 3 lists of packages every time a new one is added seems avoidable. Perhaps we maintain a static list of exceptions and just run webi on all directory names in the repository?

Also, the `rm` command isn't strictly necessary, since we're only going to be running this on CI and inside Docker.

I'm having a rather hectic month, so I won't be able to do s

[2021-11-23 10:39] ajeetdsouza commented on #318
@coolaj86 I think the problem here is that our matching logic for ARM targets needs to be more robust. We should try to find the binary with the exact ARM version (v6, v7, v8) and variant (`-l`, `-h`, etc) as the processor, but we should also fallback correctly if the exact version is unavailable.

For example, ARM v6 binaries work on ARM v7 processors. If armv7 has no match, we should look for ar

[2021-11-23 11:05] coolaj86 commented on #318
@ajeetdsouza @piersolenski Will you test and see if `zoxide` (and whatever else you're interested in) now installs for you on raspberry pi?

For right now I'm using the same hacky-doo that I do for the M1 - try the binary that matches what `arch` reports and, if that can't be found, fallback to the other (either `aarch64` or `armv7l`).

I won't close this quite yet, because I don't think the fallb

[2021-11-23 11:07] coolaj86 commented on #296
I'm closing this because I think I've fixed it.

That said, @cawoodm will you test and see if it's working for you now?

[code]

[2021-11-23 11:07] #296 closed

[2021-11-23 11:17] coolaj86 commented on #318
I added the fallback for armv6. I'll wait to address armv5 until we see there's real interest for that.

Closing, but please test and verify. Thanks.

[2021-11-23 11:22] coolaj86 opened #350 "[windows] Should warn if run as Admin"
It's important that Webi NOT be run as Admin - otherwise the ENVs get messed up and it won't work. \
(it's really late, but that should be coherent enough for me to understand in the morning)

Re #300

[2021-11-23 11:35] coolaj86 opened #351 "[OT] 5-minute tutorial for git rebase"
Something like: https://github.com/webinstall/webi-installers/pull/346#issuecomment-976220215

Short, 5 minute.

Not so long as https://www.youtube.com/watch?v=hj814rdTDm0&list=PLxki0D-ilnqbXhctTFCDGH3fSN7l7ATkL

[2021-11-23 11:46] ajeetdsouza commented on #318
I don't have an RPi myself. @piersolenski could you try this?

[2021-11-23 18:32] coolaj86 commented on #221
Two things:
1. We don't break things. What has worked shall always work.
2. Webi is meant to be guessable. `rg` and `ripgrep` are both reasonable guess for rg since the binary is `rg` but the official package name is `ripgrep`
3. Aliases should eventually be a tag in the frontmatter and auto-generated at build time
[code]

[2021-11-23 18:33] piersolenski commented on #318
The installation works now, however I'm getting `/home/pi/.zshrc:87: exec format error: zoxide` (the line being `eval "$(zoxide init zsh)"`).

[2021-11-23 18:42] coolaj86 commented on #318
@piersolenski
1. What's the _actual_ CPU type of your RPi? (3+ is arm64, 2- is armv7-)
2. What's the OS you're using?
3. What's the output of `arch`?
4. What's the output of `uname -a`?
5. Do you have bionic enabled?

I'm using the 64-bit version of Ubuntu on my RPi an it works.

If you're running the 32-bit Raspbian I'm not sure what's supposed to happen - if the advice should be "enable bionic"

[2021-11-23 20:06] piersolenski commented on #318
1.
[code]

2.

[code]

3. `armv7l`

4. `Linux bb 5.10.63-v7l+ #1459 SMP Wed Oct 6 16:41:57 BST 2021 armv7l GNU/Linux`

[2021-11-24 00:20] coolaj86 opened #352 "Docs(delta): should use `git config --global`, not `git config`"
In the delta Cheat Sheet https://github.com/webinstall/webi-installers/tree/main/delta, every instance of `git config xxxx.yyyy` should be changed to use `--global`.

Example:

[code]

[2021-11-24 01:34] coolaj86 opened #354 "[Installer] Add step cli (a.k.a smallstep)"
# Add step

<https://github.com/smallstep/cli/releases>

We want to add `step` because, it's an awesome swiss-army knife of security tools available across Windows, Mac, and Linux.

This should be about as simple as copying `_example`, updating the github releases
info, and doing a find and replace on a few file system path names.

**Note**: Replace the `CHANGE_ME`s with links to smallstep repo, r

[2021-11-24 05:43] coolaj86 opened #355 "Add Raspberry Pi OS installer"
This will be similar to gpg or iterm2 or Brave (though Brave's not done yet).

https://www.raspberrypi.com/software/

[2021-11-24 06:40] coolaj86 commented on #318
Hey @ajeetdsouza What does `arm-unknown-linux-musleabihf` mean? Is that armv5? or arm64 hf?

Why do you put the `hf` after `musl` rather than like `armv7hf`?

[code]

[2021-11-24 07:13] ajeetdsouza commented on #318
It's a standard Rust target triple, all Rust projects have them. Here's a mapping of Rust target triples and their meanings: https://doc.rust-lang.org/nightly/rustc/platform-support.html

According to the page, `arm-unknown-linux-musleabihf` is ARMv6 with hardfloat.

[2021-11-24 07:23] coolaj86 commented on #318
@ajeetdsouza Thanks.

I wish everyone could just agree and use the same naming conventions... but alas...

![](https://imgs.xkcd.com/comics/standards_2x.png)

[2021-11-24 07:23] coolaj86 commented on #318
Closing again because I think I've really fixed this time. Please check and confirm @piersolenski.

[2021-11-24 07:23] #318 closed

[2021-11-24 07:25] coolaj86 commented on #318
P.S. Why are all linuxes "unknown"? Are there any "known" linuxes?

[2021-11-24 07:25] coolaj86 commented on #352
Closed out in recent commit. Thanks @thelaarn!

[2021-11-24 07:25] #352 closed

[2021-11-24 07:35] ajeetdsouza commented on #318
@coolaj86 that's the vendor name.

This isn't something Rust-specific -- the Rust compiler (like most compiled languages) uses a backend called LLVM for generating assembly. Rust essentially inherits target triples from LLVM itself: https://clang.llvm.org/docs/CrossCompilation.html#target-triple

[2021-11-24 07:43] coolaj86 opened #357 "[Bug] webi is called before it is in the path for some installers"
We have a catch-22.

We can't soft-add `~/.local/bin` to PATH via an export because then the `pathman` detection would do the wrong - thinking it's already in the PATH (also see _discussion_ about not using pathman at all when something exists in the PATH)

However, it's also possible to install a meta-package that will use `webi` when it isn't yet in the PATH.

Solution: we export `WEBI_CMD` and

[2021-11-24 07:53] coolaj86 opened #358 "Add helper to check for git"
We should have some helper functions that can check for system-level dependencies and be called in the `__init_xxxx` of any installer, and print out a helpful message if that tool isn't there.

We've partially done with this `git`, but it should be more universal - in almost every `vim-*` installer, for example.

`_webi/template.sh` (? or maybe bootstrap? I don't recall)
[code]

`vim-prettier`
[co

[2021-11-24 07:56] kaihendry commented on #357
`${WEBI_CMD:-$HOME/.local/bin/webi}` might be better.

i.e. if WEB_CMD is set, use that, else fall back to `$HOME/.local/bin/webi`

[2021-11-24 17:45] piersolenski commented on #318
@coolaj86 it's working! woop woop! thanks dude!

[2021-11-25 00:12] devPalacio commented on #350
something like this could go somewhere in the code...maybe after thanksgiving.

function Confirm-IsElevated
{
    $id = [System.Security.Principal.WindowsIdentity]::GetCurrent()
    $p = New-Object System.Security.Principal.WindowsPrincipal($id)
    if ($p.IsInRole([System.Security.Principal.WindowsBuiltInRole]::Administrator))
        { Write-Output $true }
    else
        { Write-Output $false

[2021-11-26 10:08] koddistortion opened #360 "[Bug] installing k9s for windows fails"
## What were you trying to install (or what else went wrong)?

I was trying to install **k9s** for Windows (x64 Desktop device)

## What exactly did you do?

As stated in the instructions of the [README.md from k9s](https://github.com/derailed/k9s#installation), I ran `curl.exe -A MS https://webinstall.dev/k9s | powershell`

## What went wrong?

After installing the necessary tools, downloading of

[2021-11-26 10:20] koddistortion commented on #360
I created a pull request, see https://github.com/webinstall/webi-installers/pull/361

[2021-11-30 20:15] kuvaldini opened #363 "webi --help – is going to install package --help"
[code]

This flag works for 99% CLI utilities, let's get it work as usual.

[2021-12-04 05:38] libChan commented on #354
Can I work on this issues? a new beginer :)

[2021-12-05 05:28] coolaj86 commented on #360
Merged. Thank you @koddistortion!

[2021-12-05 05:30] #360 closed

[2021-12-05 05:30] coolaj86 commented on #354
@libChan That's up to you to decide. You're free to try. Let me know.

[2021-12-05 05:32] coolaj86 commented on #357
@kaihendry I like that idea. Want to take this on?

[2021-12-05 05:48] coolaj86 commented on #363
@kuvaldini How's your bash and powershell?

I'd accept PRs that modify `_webi/bootstrap.sh` or `_webi/webi-pwsh.ps1` to respond to:
- -h
- --help
- help
- install
- -i
- --install

`--install` would be a no-op, but useful since some people (including myself) type it out from muscle memory by mistake sometimes.

`--help` should probably list out usage and common files that are edited. Something lik

[2021-12-05 05:50] coolaj86 commented on #354
@libChan If you want one that's really easy, check this out: https://github.com/webinstall/webi-installers/issues/221

[2021-12-05 06:16] coolaj86 commented on #340
Replacing with https://github.com/webinstall/webi-installers/pull/365

[2021-12-05 06:16] #340 closed

[2021-12-05 07:44] coolaj86 opened #366 "known issue: can't escape $' in an installer"
So... it turns out that there's this weird "feature" of v8 that it treats `$'` as "rightContext" in a regular expression... but there's NO WAY TO ESCAPE IT!!

## Problem

[code]

[code]

## Double Problem: Can't be escaped!

[code]

[code]

## Workaround

This is still problematic... because you could legitimately have `{-$-}{-'-}` as a valid string, so... \
(but at least waaaaaaay less likely, ri

[2021-12-05 07:45] coolaj86 commented on #366
Wait... https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#specifying_a_string_as_a_parameter

`$$` to escape `$`... hmm...

[2021-12-05 10:08] coolaj86 commented on #366
Fixed: https://github.com/webinstall/webi-installers/pull/367

[2021-12-05 10:08] #366 closed

[2021-12-09 13:43] xiagw opened #370 "Request for kubectl"
k8s kubectl

[2021-12-09 13:43] xiagw opened #371 "Request for aws cli v2"
Request for aws cli v2

[2021-12-09 13:44] xiagw opened #372 "Request for eksctl for aws"
Request for eksctl for aws

[2021-12-09 17:42] ryanburnette opened #373 "[Bug] Didn't see version when I installed jq on ubuntu"
## What were you trying to install (or what else went wrong)?

jq

## What exactly did you do?

webi jq

## What went wrong?

Version number is missing from line 3, but I can see it below.

<img width="663" alt="Screen Shot 2021-12-09 at 12 25 17" src="https://user-images.githubusercontent.com/2252601/145447930-3d7cc3cc-896e-444a-9f25-736a91b686e4.png">

## Which OS did you try on?

ubuntu

- [ ]

[2021-12-09 18:03] coolaj86 commented on #373
It's there. Look at the last line.

You didn't specify a tag, so the tag is empty. Perhaps we should put `foo@(any)` or just `foo` when a tag isn't specified.

[2021-12-09 18:05] coolaj86 commented on #370
I'd be happy to have this, we just need someone who's familiar with it to take the lead.

See https://github.com/webinstall/webi-installers/issues/250.

[2021-12-09 18:07] coolaj86 commented on #371
The AWS cli has a nightmare of dependencies. We probably won't be adding that one.

HOWEVER, we do have [awsless](https://webinstall.dev/awless/), which is perhaps a better version of the AWS cli written in Go - which is what most infra tools are written in these days.

Also, you can use the [pyenv](https://webinstall.dev/pyenv) (or direct [python3](https://webinstall.dev/python]) installer to get

[2021-12-09 18:11] coolaj86 commented on #372
`eksctl` is written in Go, so the installer should be _super_ easy to do.

The releases are here: https://github.com/weaveworks/eksctl/releases

Anyone who wants to take this on can copy the format of https://github.com/webinstall/webi-installers/tree/main/keypairs.

Same as https://github.com/webinstall/webi-installers/issues/354.

[2021-12-10 04:01] mlopez122 commented on #372
Hi! I am going to try and take on this issue and make a pull request.

[2021-12-10 05:57] mlopez122 commented on #372
I have made a [pull request](https://github.com/webinstall/webi-installers/pull/374) that is ready for review.

[2021-12-11 07:14] ajeetdsouza opened #375 "[Bug] Installer not exiting early on error"
## What were you trying to install (or what else went wrong)?

zoxide

## What exactly did you do?

[code]

## What went wrong?

Related issue: https://github.com/ajeetdsouza/zoxide/issues/310

`pathman` did not have an arm64 binary. The installer should have exited early upon error, but that didn't happen. It printed out the success message instead. I've created a separate issue to fix the root c

[2021-12-13 23:27] denzelbrown commented on #313
So what's the fix? I'm having the same issue.

[2021-12-13 23:50] coolaj86 commented on #313
@denzelbrown It was fixed in a PR and merged a few weeks ago.

Can you copy and paste the command you ran and the output you get?

[2021-12-14 06:23] coolaj86 opened #376 "[Bug] Typo in jshint docs"
Both in https://github.com/webinstall/webi-installers/tree/main/jshint#how-to-set-jshints-defaults and in https://github.com/webinstall/webi-installers/blob/main/jshint/jshintrc.webi.json5

[code]

should be

[code]

[2021-12-15 02:26] masterYA commented on #376
@coolaj86 can I take this up?

[2021-12-17 17:24] martroxxx commented on #376
can I be assigned, please?

[2021-12-17 17:33] coolaj86 commented on #376
Closed thanks to @SilverPoision and @builtbydans

[2021-12-17 17:33] #376 closed

[2021-12-17 17:34] coolaj86 commented on #376
@masterYA @martroxxx: There are a few other fairly easy issues in this repo. Check out: https://github.com/webinstall/webi-installers/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only

[2021-12-17 17:35] coolaj86 commented on #376
In particular, these are very, very easy: https://github.com/webinstall/webi-installers/issues/325

[2021-12-18 02:30] SilverPoision commented on #376
My pleasure!!

[2021-12-18 02:30] SilverPoision commented on #376
I will surely have look.

[2021-12-18 15:11] Ognian opened #381 "[Bug] lsd - installer uses the gnu version where the musl version would be needed"
## What were you trying to install (or what else went wrong)?

Installed lsd
But it installed the gnu version instead of the musl version.
(musl version works if installed manually)
OS is alpine based Linux (k3os)
Is there a way to manually override wich version should be installed?

## What exactly did you do?

curl -sS https://webinstall.dev/lsd | bash

## What went wrong?

[code]
it installed t

[2021-12-21 00:38] ryanburnette commented on #373
This is the intended behavior? Well, it makes no sense. I suggest etiher:

- remove the `@` if there's nothing after it because it looks like an error
- show the version after the `@`

[2021-12-21 14:19] ryanburnette opened #382 "Request for tig"

[2021-12-21 14:20] ryanburnette commented on #382
http://jonas.github.io/tig/

[2021-12-22 07:13] ajeetdsouza commented on #322
@coolaj86 here's another issue I got regarding this: https://github.com/ajeetdsouza/zoxide/issues/318

This has also been mentioned in a discussion: https://github.com/webinstall/webi-installers/discussions/348

For automated installers, a major problem that users have is trust. While I appreciate the goal of never using `sudo`, I think that the obvious next step is to not automatically add extra

[2021-12-22 13:42] adamcstephens commented on #322
Personally I reverted to the old `zoxide` install script and [patched it to work](https://github.com/adamcstephens/dotfiles/blob/1a6ed84ca71ddff857f01541adb37677737d9157/bin/install-zoxide.sh), allowing me to eliminate `webi` from my setup. As long as these issues exist, I have no interest in webi installer

[2021-12-24 06:07] ajeetdsouza commented on #322
@adamcstephens I just re-read this discussion: https://github.com/webinstall/webi-installers/discussions/329

It doesn't seem like @coolaj86 is going to budge on the issue of path updates. This is rather unfortunate, as I think a major part of package management revolves around trust, and scripts that perform unnecessary modifications to one's system immediately appear untrustworthy.

If I'm using

[2021-12-29 22:56] ryanburnette opened #386 "Request for vim-commentary installer"
Formal request for [vim-commentary](https://github.com/tpope/vim-commentary) installer.

Should we put it in vim-essentials?

[2021-12-30 11:03] cawoodm opened #387 "[Bug] curl: (23) Failure writing output to destination"
## Trying to install webi on Ubuntu 21.10

## What exactly did you do?

[code]

## What went wrong?

[code]
As root, sudo, whatever makes no difference.

## Which OS did you try on?

Ubuntu 21.10 (minimal)

- [ ] Mac
- [ ] Windows
- [X] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi)?

- [X] Laptop or Desktop (amd64 / x86-64)
- [ ] Raspberry Pi (ARM-64)
- [ ] Other (please spe

[2021-12-30 22:06] devPalacio opened #388 "[Bug] vim-essentials install fails if webi is not previously installed"
## What were you trying to install (or what else went wrong)?

Attempted to install vim-essentials without a previous webi install.

## What exactly did you do?

```curl -sS https://webinstall.dev/vim-essentials | bash```

## What went wrong?

```vim-essentials@stable-bootstrap.sh: line 334: webi: command not found```

Seems like the way the script is written, it doesn't install webi or check for

[2021-12-30 22:17] devPalacio commented on #387
webi is not meant to be installed as an elevated user. have you tried installing it without root or sudo?

[2022-01-01 10:20] khairnarsaurabh23 commented on #386
Can you please explain in which directory the changes expected?

[2022-01-01 16:06] ryanburnette commented on #386
This is a note to self. I'll take care of it.

[2022-01-01 16:17] ryanburnette commented on #386
#389

[2022-01-01 16:17] #386 closed

[2022-01-12 00:04] coolaj86 opened #390 "docs for Caddy cheatsheet"
Needs how to run a quick-n-dirty local server:

[code]

[2022-01-26 05:30] neiser opened #391 "Add kubeval"
`kubeval` seems to be a nice tool to be added here: https://kubeval.instrumenta.dev/installation/

[2022-01-26 08:01] #350 closed

[2022-01-26 09:04] coolaj86 opened #393 "Move all "shmatter" (bash-frontmatter) to README.md frontmatter"
1. [ ] Identify each file that has "shmatter" in the `install.sh` and move it to YAML in `README.md`
   `install.sh`:
[code]
   `README.md`:
[code]

[2022-01-26 09:08] coolaj86 opened #394 "Update all scripts to use `set -e; set -u` (except where noted otherwise)"
All .sh files should start with the "strict bash" settings:

[code]

1. Get a list of all `.sh` files:
[code]
2. Get a list of `.sh` files that already have `set -e`:
[code]
3. Update the files that are missing `set -e`:
[code]
4. Run the formatter: `npm run shfmt`

[2022-01-26 09:22] coolaj86 opened #395 "Fix simple `shellcheck` complaints (adding quotes to variables, etc)"
## How to see which files have warnings:

[code]

#### Example output

[code]

#### Example correction

[code]

## Level of Expertise Needed

Anyone with beginner bash experience could pick one (or more) of these warnings to fix across the many files in which they exist.

## Warnings that need fixing:

- [ ] SC2046 -- Quote this to prevent word splitt...
- [ ] SC2059 -- Don't use variables in the

[2022-01-26 09:32] coolaj86 commented on #387
What's the Linux distro? Is normal `bash` available?

Could you try installing `wget` and see if it works after that? (the script will auto-detect `wget` and prefer to use it when available).

If `wget` fails, then perhaps we'll at least get a better error message.

It's hard to tell with so little information, but I wonder if perhaps `/tmp` is out of space or `~/.local` doesn't have write permiss

[2022-01-26 09:34] coolaj86 opened #396 "Don't show '@' version/tag suffix when the tag is empty"
If you specify a tag (such as a version) when installing, you'll see that tag in the output, like so:

[code]

However, there are a places in the bash scripts (and possibly in powershell too) where the `@` is output even when the tag is empty, like this:

[code]

We could probably create a new variable - say WEBI_AT_TAG - which is an empty string if the tag is empty, or the version / tag with the

[2022-01-26 17:24] Zach-Clay commented on #396
Hi! I am working on an open source project for my software development methodologies class and I would like to be assigned to this issue! Since I am not very familiar with this projects codebase, what file/files should I take a look at to get started with this issue? Thank you for your time.

[2022-01-26 19:49] coolaj86 commented on #396
I think everything is under the `_webi` folder, probably the 'template' and 'bootstrap' files.

You do need to be familiar with bash to accomplish this.
(and it would be great if you can do the same for powershell)

[2022-01-26 21:42] saikmusunuri commented on #395
Hey, @coolaj86, I'm a first-time contributor to open source. Can you please assign me this issue?

[2022-01-26 21:51] coolaj86 commented on #395
@saikmusunuri Yes.

Are you familiar with bash? Do you understand what needs to be done?

[2022-01-26 22:04] saikmusunuri commented on #395
Thank you
I'm not entirely familiar with bash, but I have a guide who will support me on this issue.

[2022-01-27 07:25] cawoodm commented on #387
I ran the command again and it worked now. I seem to remember we did have a machine which ran out of disk space. This could be the reason!

[2022-01-27 07:25] #387 closed

[2022-01-28 18:43] martijnhabers commented on #393
Hey @coolaj86 , first timer in contributing to open source here! Can I please get this assigned?

[2022-02-01 09:28] RishiKumarRay commented on #394
I did as instructed but getting this error
![Uploading Screenshot from 2022-02-01 14-57-43.png…]()

[2022-02-02 19:02] vxhl commented on #396
Hello! Since Zach removed his assignment from this issue could you please assign it to me?

[2022-02-02 21:58] y0rune commented on #394
Hello!
I created the https://github.com/webinstall/webi-installers/pull/399. I used the one line script in the my Mac. When I tried to used sed as I know in the linux gnu it was a little bit change in the MacOS

[code]

If someone find the wrong logic in my idea let me know.

Thank you ;)

[2022-02-04 11:17] vxhl commented on #396
Hey @coolaj86. I've been exploring the code for some time now. I found the file with the problem which is `bootstrap.sh` but I can't seem to understand how to exactly implement the condition that you said?

Please help me understand what I am missing here. I tried to understand line 63 in `template.sh` which may be the key to fixing this but I'm not entirely sure.

Also `releases.js` has the follo

[2022-02-11 17:51] klutchell opened #401 "Request for cheat"
https://github.com/cheat/cheat

[2022-02-12 18:15] soyo42 opened #402 "[Bug] Pathman installation is broken"
## What were you trying to install (or what else went wrong)?

pathman

## What exactly did you do?
[code]

## What went wrong?
[code]
wget --version :
- GNU Wget 1.21 built on linux-gnu.
- BusyBox v1.32.1 () multi-call binary.

After hacking wget away - curl did the job.

## Which OS did you try on?

- [ ] Mac
- [ ] Windows
- [x] Linux

## What type of computer (i.e. laptop, desktop, Raspberry Pi

[2022-02-12 18:38] coolaj86 opened #403 "Move pathman to github releases & update pathman installer"
This week Let's Encrypt revoked git.rootprojects.org due to Let’s Encrypt’s security problem. (See #402).

I might as well move pathman over to GitHub Releases + goreleaser anyway.

[2022-02-12 18:38] coolaj86 commented on #402
Thanks for the report.

This is now fixed.

There was a security issue with _Let's Encrypt_ this past week, resulting in millions of SSL certificates being revoked. The certificate for git.rootprojects.org wasn't automatically renewed:

I manually renewed it and I've created a To-do #403 for moving pathman to GitHub releases.

[2022-02-12 18:38] #402 closed

[2022-02-12 18:39] coolaj86 opened #404 "Issue Not Found"
Isn't it wonderful? #404

[2022-02-12 18:39] ryanburnette commented on #403
Yes please

[2022-02-12 18:39] #404 closed

[2022-02-13 08:12] soyo42 commented on #402
Thank you very much.

[2022-02-16 21:36] y0rune commented on #393
Hello!
I tried to solve that issue with
[code]
The PR: https://github.com/webinstall/webi-installers/pull/406

If someone has a better solution please share ;)

Thank you ;)

[2022-02-17 08:51] coolaj86 opened #408 "Prettier: Update Cheat Sheet"
We need to add the dependency-free prettier usage to the cheat sheet:

[code]

[code]

We also need to add some sort of `prettier-init` that automatically adds that line and the `.prettierrc.json` and `.prettierignore` to current repo.

[2022-02-22 21:39] zvakanaka commented on #263
Same problem:

Firefox version: 98.0b7
UA: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
OS: macOS Big Sur (version 11.6.4)

[2022-03-04 00:29] coolaj86 commented on #390
# Exclude Dev Sites from Search Engines

[code]

[2022-03-04 23:49] coolaj86 opened #410 "[Installer] Add vim-supertab"
# Add vim-supertab

We want to add `vim-supertab` because it's an unobtrusive <kbd>tab</kbd>-to-complete solution.

This could be as simple as copying `vim-lastplace`, and doing a find and replace on a few file system path names, and updating the config:

[code]

I'd also like this mentioned in `vim-essentials`. I'm not 100% sold on including it yet though.

# How to create a webi installer

[![Vi

[2022-03-05 07:42] coolaj86 opened #411 "[Installer] Add dashd"
# Add dashd

We want to add `dashd` because Dash is the best digital currency and `dashd` makes it possible to receive payment notifications and check transaction histories without relying on a 3rd party service.

Ostensibly, it also works across Windows, Mac, and Linux.

This could be as simple as copying `_example`, updating the github releases
info, and updating some config.

Budding cheat shee

[2022-03-05 09:35] coolaj86 opened #412 "Categories of Installer | Matrix"
Todo: I could write a script that determines much (if not most) of this heuristically and auto-generates new installers based on duck-typing of the package contents.

- `bin`:  sigle binary
- 📦: a self-contained package (opt-style with `./man`, `./share`, `./bin`, etc)
- 🔗: a link (alias) to another package, or using another package
- 📝: custom / bespoke see documentation
- ⚠️: non-standard or oth

[2022-03-07 08:43] coolaj86 opened #415 "[idea] Always update The `webi` command on any install"
- [ ] Switch webi script heredoc to heredoc literal
[code]
- [ ] Move webi script to `./webi/webi.sh`
- [ ] Update `serveInstaller` and `servePackage`/`serveScript` to string-replace `./webi/webi.sh`

[2022-03-07 10:23] #393 closed

[2022-03-07 11:14] coolaj86 commented on #415
Tracking in #heredoc-literal

[2022-03-07 11:23] #394 closed

[2022-03-07 11:24] #363 closed

[2022-03-07 11:24] #373 closed

[2022-03-07 11:25] coolaj86 commented on #373
closed in favor of #396

[2022-03-07 11:25] coolaj86 commented on #357
@kaihendry bump

[2022-03-08 02:38] mathwhiz1212 opened #417 "curl: (23) Failure writing output to destination"
Webi failed to install Node on my Windows 10 laptop. It said that the main install file wasn't found, so I put it where it was expecting the file and it worked.

Command: `curl.exe -A "MS" https://webinstall.dev/node | powershell`

Output:
[code]

[2022-03-08 05:45] coolaj86 commented on #417
[code]

The `Downloads\webi` folder did not exist because the node installer didn't create it and you had never any other webi command before, which would have created it.

Fixed by copying the `mkdir` windows equivalent to the bootstrap.ps1, as well as in the node installer specifically.

[2022-03-08 05:45] #417 closed

[2022-03-08 18:16] coolaj86 opened #419 "upstream rust installer changed how PATH is exported"
The rust installer now needs the PATH explicitly added due to adding bash-isms to the upstream installer:

[code]

Nasty bash-isms in the new not-env-compatible "env" file:

[code]

[2022-03-08 22:13] y0rune commented on #419
Hello!
I tried to resolved that issue here (https://github.com/webinstall/webi-installers/pull/420). Please @coolaj86 check it if I understand it correct!

---
y0rune

[2022-03-10 21:35] y0rune commented on #395
Hello!

I added the https://github.com/webinstall/webi-installers/pull/421. I added the `shellcheck disable=SC2154` and I replaced `echo $(cmd)` with `cmd` and done some stuff ;) .

I tested of the docker instance with Ubuntu and some of my prod mac ;)

I did not test:
- Gitea
- vps-addswap
- vps-utilsc

Command:
[code]

Thank you!
y0rune (Marcin)

[2022-03-12 07:01] kaihendry commented on #357
Why can't it just update the PATH using envman like mentioned upon https://github.com/webinstall/webi-installers#how-webi-works ?

Sorry, I'm re-interpreting this and the solution proposed is to setup a new ENV variable instead of manipulating the existing PATH ENV variable?

[2022-03-15 05:04] coolaj86 opened #423 "[Bug] pyenv has updated install instructions for fish"
As per https://github.com/pyenv/pyenv:

[code]

Slight change, but seems to be necessary for the latest fish + pyenv.

Easy fix, just update https://github.com/webinstall/webi-installers/blob/0864a0a0f8ffd54760b5d991314ba00292cc10e1/pyenv/install.sh#L29-L34

**ALSO**: This must be appended to the **BOTTOM** of the config file **NOT** the top.

[2022-03-15 05:24] Simba-97 commented on #423
Hey @coolaj86 can I work on this issue?

[2022-03-15 06:54] coolaj86 commented on #423
Yes, please do.

[2022-03-15 19:03] coolaj86 opened #424 "goreleaser docs missing which github perms are required"
In the section about getting a Personal Access Token we neglect to mention what permissions are necessary.

I believe it is all of `repo` and nothing else. Need to double check the official docs.

[2022-03-17 21:52] coolaj86 opened #427 "[Installer] Add zig"
# Pre-requisites

You must know node.js and how to traverse JSON to create the .

# Add zig

We want to add `zig` because it's both a `zig` and `C` compiler that supports cross-comiplation out-of-the-box. It also makes it easier to cross-compile `Rust` and `Go`!

This would be more similar to the Go and Node installers in that, rather than GitHub Releases, `zig` has its own release system:

- http

[2022-03-17 21:56] coolaj86 opened #428 "[Idea] Update PATH on Windows natively"
`pathman` was created in part because it actually wasn't possible to update a PATH on Windows in `cmd.exe`.

Turns out, they've added a way to do that in Powershell:
https://ziglang.org/learn/getting-started/#setting-up-path-on-windows

[code]

[2022-03-22 15:18] Cruising0904 opened #429 "problem with Nerd Font installer"
I have been trying to install nerd fonts for days. It is not showing any icons but just blanked squre, trying to figure out by my self but failed seems to me its bug. I am using Wsl on windows terminial
I have tried installing nerd fonts on both Windows and ubuntu on wsl. but doesn't show any icons. How can I solve this problem?
also did fc-cache -fv, putting ttf into ~/.local/share/fonts, /usr/sh

[2022-03-23 11:51] #429 closed

[2022-03-26 10:48] rjshrjndrn opened #430 "Add k3d"
K3d is an alternative to kind, but way faster and leaner. It uses k3s as kube distribution.
Link: https://github.com/k3d-io/k3d/

[2022-03-26 20:13] fjshomeplate commented on #354
Can I work on this issue please?

[2022-03-27 19:07] rjshrjndrn opened #432 "Add terraform"
Terraform is the defacto cloud provisioner. So if its possible to enable terraform, that'll be a huge boost
Link: https://www.terraform.io/downloads

[2022-03-28 08:08] coolaj86 commented on #354
@fjshomeplate Yes, please do!

[2022-03-28 08:08] coolaj86 commented on #427
Right on the homepage! https://webinstall.dev

[2022-03-28 08:08] #427 closed

[2022-03-29 00:04] fjshomeplate commented on #354
I'm running into a problem. I have the installer script, which downloads the program, but isn't adding the command to the path. The installer script is from the _examples folder (the step cli unzips as a single file.)

[2022-03-29 10:27] fjshomeplate commented on #354
I have the installer script working, but it doesn't add the package to the `PATH`. Is this intended?

[2022-03-29 22:27] cvoges12 commented on #259
@coolaj86 What configuration is required for the shell?

[2022-03-29 22:52] coolaj86 commented on #259
@cvoges12 Depends on what you mean by "the shell".

For most shells it's just `source ~/.config/envman/PATH.env`.

There are a few things, such as Rust, which may be special, depending on _which_ shell you mean.